<style>
    .has-error {
        color: red;
    }

    ;
    .has-success {
        color: black;
    }

    ;
    .pac-container {
        z-index: 999999;
    }

    ;
</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <!-- BEGIN CONTENT BODY -->
    <div ng-include="global.navUrl"></div>
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            Knowledge Base</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success panel-hidden-controls">
                    <div class="panel-heading">
                        <h3 class="panel-title">Upload Knowldge Base</h3>
                    </div>
                    
                    <div class="panel-body">
                        <form name="add_kb" id='add_kb' class="form-horizontal col-md-8 col-md-offset-2" ng-submit="insert_kb()" novalidate>
                            <div ng-if="errorMessage" class="error">
                                <p>{{ errorMessage }}</p>
                            </div>
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                    <div class="row text-left">
                                            <!--<h3 style="color: black;">Personal Details</h3>-->
                                    </div>
                                    <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.kb_type.$invalid && !add_kb.kb_type.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Type</label>
                                            <div class="col-md-9">
                                                    <select class="form-control" id="type" name="kb_type" ng-model="knowledge.kb_type" required>
                                                            <option selected disabled>Select Training Type</option>
                                                            <option value="generic">Generic Training</option>
                                                            <option value="technology">Technology Training</option>
                                                            <option value="product">Product Training</option>
                                                    </select>
                                                <p ng-show="add_kb.kb_type.$invalid && !add_kb.kb_type.$pristine" class="help-block">Knowledge Base Type is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="knowledge.kb_type == 'product'">
                                            <br>
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.product.$invalid && !add_kb.product.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Product Category</label>
                                                <div class="col-md-9">
                                                    <!--<select class="form-control" name="product" ng-model="x.id">
                                                        <option ng-repeat="x in get_supportmodel" value="{{x.id}}">{{x.support_category}}</option>                                        
                                                    </select> -->
                                                    <select class="form-control" name="product" ng-model="knowledge.product" ng-options="sup.id as sup.support_category for sup in get_supportmodel" required>
                                                    </select>                                   
                                                    <p ng-show="add_kb.product.$invalid && !add_kb.product.$pristine" class="help-block">Product Category is required.</p>
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.prod_desc.$invalid && !add_kb.prod_desc.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Problem Description</label>
                                            <div class="col-md-9">
                                                <textarea type="text" name='prod_desc' class="form-control" ng-model="knowledge.problem_desc" required style="resize: none;">                                                    
                                                </textarea>
                                                <p ng-show="add_kb.prod_desc.$invalid && !add_kb.prod_desc.$pristine" class="help-block">Problem Description is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.solution.$invalid && !add_kb.solution.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Solution</label>
                                            <div class="col-md-9">
                                                <textarea type="text" name='solution' class="form-control" ng-model="knowledge.kb_sol" required style="resize: none;">
                                                </textarea>
                                                <p ng-show="add_kb.solution.$invalid && !add_kb.solution.$pristine" class="help-block">Solution is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.contenttype.$invalid && !add_kb.contenttype.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Content Type</label>
                                            <div class="col-md-9">
                                                    <select class="form-control" id="contenttype" name="contenttype" ng-model="knowledge.kb_contenttype" required>
                                                        <option selected disabled>Select Content Type</option>
                                                        <option value="pdf">PDF</option>
                                                        <option value="video">Video</option>
                                                        <option value="image">Image</option>
                                                    </select>
                                                <p ng-show="add_kb.contenttype.$invalid && !add_kb.contenttype.$pristine" class="help-block">Content Type is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-3 control-label" for="form_control_1">Upload File</label>
                                                <div class="col-md-9" ng-class="{ 'has-error' : add_kb.contentfile.$invalid && !add_kb.contentfile.$pristine }">
                                                    <input type="file" name='contentfile' id="file_attach" class="form-control" file-model="knowledge.content_file" required>
                                                    <p ng-show="add_kb.contentfile.$invalid && !add_kb.contentfile.$pristine" class="help-block">Training Title is required.</p>
                                                </div>
                                            </div>
                                    </div>
                                
                            </div>
                            <hr>
                            <div class="form-actions">
                                <div class="row text-right">
                                    <div class="">
                                        <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                    <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                        <button class="btn sm btn-info btn-rounded" ng-disabled="add_kb.$invalid" type="submit" id="submit">
                                            <i class="fa fa-check"></i> Submit</button>
                                        <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                            <i class="fa fa-times"></i> Cancel</a>
                                            
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<!--Add User Model -->
<div id="training" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Add Training</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="insert_trai" id='insert_trai' class="form-horizontal" ng-submit="inserttraining()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.title.$invalid && !insert_trai.title.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Title</label>
                                <div class="col-md-9">
                                    <input type="text" name='title' class="form-control" ng-model="insert_trai.trai_title" required>
                                    <p ng-show="insert_trai.title.$invalid && !insert_trai.title.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.type.$invalid && !insert_trai.type.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="insert_trai.trai_type">
                                        <option selected disabled>Select Training Type</option>
                                        <option value="generic">Generic Training</option>
                                        <option value="technology">Technology Training</option>
                                        <option value="product">Product</option>
                                    </select>
                                    <p ng-show="insert_trai.type.$invalid && !insert_trai.type.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="insert_trai.trai_type == 'product'">
                            <br>
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.product.$invalid && !insert_trai.product.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Product Category</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="insert_trai.productcategory">
                                        <option ng-repeat="x in get_supportmodel" value="{{x.support_category}}">{{x.support_category}}</option>                                        
                                    </select>                                    
                                    <p ng-show="insert_trai.product.$invalid && !insert_trai.product.$pristine" class="help-block">Product Category is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.contenttype.$invalid && !insert_trai.contenttype.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Content Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="contenttype" name="contenttype" ng-model="insert_trai.trai_contenttype">
                                        <option selected disabled>Select Content Type</option>
                                        <option value="pdf">PDF</option>
                                        <option value="video">Video</option>
                                    </select>
                                    <p ng-show="insert_trai.contenttype.$invalid && !insert_trai.contenttype.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.contentfile.$invalid && !insert_trai.contentfile.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Upload File</label>
                                <div class="col-md-9">
                                    <input type="file" name='contentfile' class="form-control" file-model="insert_trai.contentfile" required>
                                    <p ng-show="insert_trai.contentfile.$invalid && !contentfile.contenttype.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <button class="btn sm btn-info btn-rounded" ng-disabled="insert_trai.$invalid" type="submit" id="submit">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>

</div>

<!--edit User Model -->
<div id="edit_training" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Edit Training</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="edit_trai" id='edit_trai' class="form-horizontal" ng-submit="updatetraining()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row ng-hide">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.id.$invalid && !edit_trai.id.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Id</label>
                                <div class="col-md-9">
                                    <input type="text" name='id' class="form-control" ng-model="edit_trai.id" required>
                                    <p ng-show="edit_trai.id.$invalid && !edit_trai.id.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row ng-hide">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.id.$invalid && !edit_trai.id.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Training ID</label>
                                <div class="col-md-9">
                                    <input type="text" name='training_id' class="form-control" ng-model="edit_trai.training_id" required>
                                    <p ng-show="edit_trai.id.$invalid && !edit_trai.id.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.title.$invalid && !edit_trai.title.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Title</label>
                                <div class="col-md-9">
                                    <input type="text" name='title' class="form-control" ng-model="edit_trai.title" required>
                                    <p ng-show="edit_trai.title.$invalid && !edit_trai.title.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.type.$invalid && !edit_trai.type.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="edit_trai.type">
                                        <option selected disabled>Select Training Type</option>
                                        <option value="generic">Generic Training</option>
                                        <option value="technology">Technology Training</option>
                                        <option value="product">Product</option>
                                    </select>
                                    <p ng-show="edit_trai.type.$invalid && !edit_trai.type.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="edit_trai.type == 'product'">
                            <br>
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.product.$invalid && !edit_trai.product.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Product Category</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="edit_trai.productcategory">                    
                                        <option ng-repeat="x in get_supportmodel" value="{{x.support_category}}">{{x.support_category}}</option>
                                    </select>
                                    <p ng-show="edit_trai.product.$invalid && !edit_trai.product.$pristine" class="help-block">Product Category is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.contenttype.$invalid && !edit_trai.contenttype.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Content Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="contenttype" name="contenttype" ng-model="edit_trai.contenttype">
                                        <option selected disabled>Select Content Type</option>
                                        <option value="pdf">PDF</option>
                                        <option value="video">Video</option>
                                    </select>
                                    <p ng-show="edit_trai.contenttype.$invalid && !edit_trai.contenttype.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.contentfile.$invalid && !edit_trai.contentfile.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Upload File</label>
                                <div class="col-md-9">
                                    <input type="file" name='contentfile' class="form-control" file-model="edit_trai.contentfile" required>
                                    <p ng-show="edit_trai.contentfile.$invalid && !contentfile.contenttype.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row ng-hide">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.contentfile.$invalid && !edit_trai.contentfile.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Uploaded File</label>
                                <div class="col-md-9">
                                    <input type="text" name='content' class="form-control" ng-model="edit_trai.content">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <button class="btn sm btn-info btn-rounded" ng-disabled="edit_trai.$invalid" type="submit" id="submit">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>

</div>

<!--view sample template-->
<div id="sample_image" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>The excel sheet should be like this! </p>
                <div class="row" id="attach_excel" style="width:200px; height:500px">
                    <img src="assets/img/users_sample.png" alt="Sample user excel">
                    </img>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="sla_confirm" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="col-sm-12" id="sla_detail_confirm">
        </div>
        <!-- Modal content-->
        <!-- <div class="modal-content">
                <div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="add_subproduct">
                        <div class="form-group">
                            
                        </div>
                    </form>
                </div>
            </div> -->
    </div>
</div>