<style>
    .has-error {
        color: red;
    }
    
    ;
    .has-success {
        color: black;
    }
    
    ;
    .pac-container {
        z-index: 999999 !important;
    }
    
    ;
</style>
<div class="page-container">
    <span ng-include="global.sidebar"></span>
    <!-- BEGIN CONTENT -->
    <div class="page-content">
        <!-- BEGIN CONTENT BODY -->
        <div ng-include="global.navUrl"></div>
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2>User Management</h2>
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row pull-right" style="margin-bottom:1%">
                <div class="btn-group">
                    <button id="sample_editable_1_new" class="btn btn-success btn-rounded" ng-click="model1_open()"> Add User
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button id="sample_editable_1_new" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#bulk_user" data-backdrop="static" data-keyboard="false"> Bulk Upload
                        <i class="fa fa-upload"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success panel-hidden-controls">
                        <div class="panel-heading">
                            <h3 class="panel-title">Users</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered" datatable="ng" ng-init="getadminlist();">
                                <thead>
                                    <tr>
                                        <th>Employee ID</th>
                                        <th> Name </th>
                                        <td> Role </td>
                                        <th> Email </th>
                                        <th> Work Location </th>
                                        <th> Company </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="users in user" ng-if="users.role =='Admin'">
                                        <td><a ng-click="view_users(users)">{{users.employee_id}}</a></td>
                                        <td>{{users.first_name +" " +users.last_name}}</td>
                                        <td>{{users.role}}</td>
                                        <td>{{users.email_id}}</td>
                                        <td>{{users.location}}</td>
                                        <td>{{users.company_name}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-rounded" ng-click="edit_users(users.employee_id)"><i class="fa fa-edit"></i> Edit </button>
                                                <!--  <button type="button" class="btn btn-danger btn-rounded" ng-click="deleteadminuser(users.id)"><i class="fa fa-trash-o"></i> Delete </button>-->
                                            </div>
                                            <!--<button class="btn btn-info btn-rounded" ng-click="edit_users(users.employee_id)">
                                            <i class="fa fa-edit"></i> Edit </button>
                                            <button class="btn btn-danger btn-rounded" ng-click="delete_user(users.id)">
                                            <i class="fa fa-trash-o"></i> Delete </button>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>


<!--Add User Model -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-success" id="form_wizard_2" style="margin-bottom:0">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Add User</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="insert_user" id='insert_user' class="form-horizontal" ng-submit="insertuser()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row text-left">
                            <h4 class="push-up-3">Community Details</h4>
                            <!--<h3 style="color: black;">Personal Details</h3>-->
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.selectedcompany.$invalid && !insert_user.selectedcompany.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Community</label>
                                    <div class="col-md-9">
                                        <select class="form-control" style="border: 1px solid #9bc8e8;" id="selectedcompany" name="selectedcompany" ng-model="insert_user.slctedCompany" required ng-options="item.company_id as item.company_name for item in companies"> 
                                                        </select>
                                        <p ng-show="insert_user.selectedcompany.$invalid && !insert_user.selectedcompany.$pristine" class="help-block">Company is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-left">
                            <h4 class="push-up-3">Personal Details</h4>
                            <!--<h3 style="color: black;">Personal Details</h3>-->
                        </div>
                        <div class="row ng-hide">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.ids.$invalid && !insert_user.ids.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='ids' class="form-control" ng-model="insert_user.id">
                                        <p ng-show="insert_user.ids.$invalid && !insert_user.ids.$pristine" class="help-block">ID is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Emp ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='employeeid' class="form-control" ng-model="insert_user.employee_id" required>
                                        <p ng-show="insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine" class="help-block">Emp ID is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.firstname.$invalid && !insert_user.firstname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='firstname' class="form-control" ng-model="insert_user.first_name" required>
                                        <p ng-show="insert_user.firstname.$invalid && !insert_user.firstname.$pristine" class="help-block">First Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.lastname.$invalid && !insert_user.lastname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='lastname' class="form-control" ng-model="insert_user.last_name" required>
                                        <p ng-show="insert_user.lastname.$invalid && !insert_user.lastname.$pristine" class="help-block">Last Neme is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.emailid.$invalid && !insert_user.emailid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Email ID</label>
                                    <div class="col-md-9">
                                        <input type="email" name='emailid' class="form-control" ng-model="insert_user.email_id" required>

                                        <div ng-if="insert_user.emailid.$dirty" ng-messages="insert_customer.emailid.$error">
                                            <div class="error-message" ng-message="required">User Email is required</div>
                                            <div class="error-message" ng-message="pattern">Enter a valid email</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.contactnumber.$invalid && !insert_user.contactnumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Contact Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='contactnumber' class="form-control" ng-model="insert_user.contact_number" ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10" required>
                                        <div ng-if="insert_user.contactnumber.$dirty" ng-messages="insert_user.contactnumber.$error">
                                            <div class="error-message" ng-message="required">This field is required</div>
                                            <div class="error-message" ng-message="pattern">invalid mobile no</div>
                                            <div class="error-message" ng-message="maxlength">Mobile no can only be 10 digits</div>
                                            <div class="error-message" ng-message="minlength">Mobile no can only be 10 digits</div>
                                        </div>
                                        <!-- <p ng-show="insert_user.contactnumber.$invalid && !insert_user.contactnumber.$pristine" class="help-block"></p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.alternatenumber.$invalid && !insert_user.alternatenumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Alternate Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='alternatenumber' class="form-control" ng-model="insert_user.alternate_number" ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10">
                                        <div ng-if="insert_user.alternatenumber.$dirty" ng-messages="insert_user.alternatenumber.$error">
                                            <!--  <div class="error-message" ng-message="required">This field is required</div>-->
                                            <div class="error-message" ng-message="pattern">invalid mobile no</div>
                                            <div class="error-message" ng-message="maxlength">Mobile no can only be 10 digits</div>
                                            <div class="error-message" ng-message="minlength">Mobile no can only be 10 digits</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.addresses.$invalid && !insert_user.addresses.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Address</label>
                                    <div class="col-md-9">
                                        <textarea ng-model="insert_user.address" type="text" class="form-control" name='addresses' placeholder="Enter address" required style="resize: none;"></textarea>
                                        <p ng-show="insert_user.addresses.$invalid && !insert_user.addresses.$pristine" class="help-block">Address is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label" for="form_control_1">Proof</label>
                                    <div class="form-group col-md-9">
                                        <input type="file" name="myFile" id="national_files" class="form-control" file-model="$parent.myFile" valid-file required accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                        <span ng-show="insert_user.myFile.$dirty && insert_user.myFile.required">Proof is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row text-left">
                            <h4 class="push-up-3">Work Profile</h4>
                            <!--<h3 style="color: black;">Work Profile</h3>-->
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.regions.$invalid && !insert_user.regions.$pristine && insert_user.regions==0}">
                                    <label class="col-md-3 control-label" for="form_control_1">Region</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name='regions' ng-model="insert_user.region" required>
                                               <option selected="0" disabled="" value="">Select Region</option>
                                                <option ng-option value="north">North</option>
                                                <option ng-option value="south">South</option>
                                                <option ng-option value="east">East</option>
                                                <option ng-option value="west">West</option>
                                            </select>
                                        <p ng-show="insert_user.regions.$invalid && !insert_user.regions.$pristine && insert_user.regions==0" class="help-block">Region is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.areas.$invalid && !insert_user.areas.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Area</label>
                                    <div class="col-md-9">
                                        <input type="text" name='areas' class="form-control" ng-model="insert_user.area" required>
                                        <p ng-show="insert_user.areas.$invalid && !insert_user.areas.$pristine" class="help-block">Area is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.locations.$invalid && !insert_user.locations.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Location</label>
                                    <div class="col-md-9">
                                        <input type="text" name='locations' class="form-control" ng-model="insert_user.location" required>
                                        <p ng-show="insert_user.locations.$invalid && !insert_user.locations.$pristine" class="help-block">Location is required.</p>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.project.$invalid && !insert_user.project.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Project Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='project' class="form-control" ng-model="insert_user.project_name" required>
                                        <p ng-show="insert_user.project.$invalid && !insert_user.project.$pristine" class="help-block">Project Name is required.</p>
                                    </div>
                                </div>
                            </div>-->
                        </div>

                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-right">
                            <div class="">
                                <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                <button class="btn sm btn-info btn-rounded" ng-disabled="insert_user.$invalid" type="submit" id="submit">
                                        <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>

                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>

</div>

<!--Edit User Model -->
<div id="edit_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-info" id="form_wizard_1" style="margin-bottom:0">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Edit User</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="edit_user" id='edit_user' class="form-horizontal" ng-submit="function_editadminuser()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row text-left">
                            <h4 class="push-up-3">Company Details</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label" for="form_control_1">Company ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='editcompanyid' class="form-control" ng-model="edit_user.company_id" readonly required>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-left">
                            <h4 class="push-up-3">Personal Details</h4>
                        </div>
                        <div class="row ng-hide">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.ids.$invalid && !edit_user.ids.$pristine && edit_user.ids.$untouched}">
                                    <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='ids' class="form-control" ng-model="edit_user.id" required>
                                        <p ng-show="edit_user.ids.$invalid && !edit_user.ids.$pristine && edit_user.ids.$untouched" class="help-block">ID is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.employeeid.$invalid && !edit_user.employeeid.$pristine && edit_user.employeeid.$untouched}">
                                    <label class="col-md-3 control-label" for="form_control_1">Emp ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='employeeid' class="form-control" ng-model="edit_user.employee_id" required readonly>
                                        <p ng-show="edit_user.employeeid.$invalid && !edit_user.employeeid.$pristine && edit_user.employeeid.$untouched" class="help-block">Emp ID is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.firstname.$invalid && !edit_user.firstname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='firstname' class="form-control" ng-model="edit_user.first_name" required>
                                        <p ng-show="edit_user.firstname.$invalid && !edit_user.firstname.$pristine" class="help-block">First Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.lastname.$invalid && !edit_user.lastname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='lastname' class="form-control" ng-model="edit_user.last_name" required>
                                        <p ng-show="edit_user.lastname.$invalid && !edit_user.lastname.$pristine" class="help-block">Last Neme is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.emailid.$invalid && !edit_user.emailid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Email ID</label>
                                    <div class="col-md-9">
                                        <input type="email" name='emailid' class="form-control" ng-model="edit_user.email_id" required>
                                        <p ng-show="edit_user.emailid.$invalid && !edit_user.emailid.$pristine" class="help-block">Enter a valid Email ID.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.contactnumber.$invalid && !edit_user.contactnumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Contact Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='contactnumber' class="form-control" ng-model="edit_user.contact_number" ng-pattern="/^[789]\d{9}$/" ng-minlength="10" ng-maxlength="15" required>
                                        <div ng-if="edit_user.contactnumber.$dirty" ng-messages="edit_user.contactnumber.$error">
                                            <div class="error-message" ng-message="required">This field is required</div>
                                            <div class="error-message" ng-message="pattern">Accepts only Numeric Value and should start with either 9,8,7</div>
                                        </div>
                                        <!-- <p ng-show="insert_user.contactnumber.$invalid && !insert_user.contactnumber.$pristine" class="help-block"></p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.alternatenumber.$invalid && !edit_user.alternatenumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Alternate Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='alternatenumber' class="form-control" ng-model="edit_user.alternate_number" ng-minlength="10" ng-maxlength="15" ng-pattern="/^[789]\d{9}$/">
                                        <div ng-if="edit_user.alternatenumber.$dirty" ng-messages="edit_user.alternatenumber.$error">
                                            <div class="error-message" ng-message="pattern">Accepts only Numeric Value and should start with either 9,8,7</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.addresses.$invalid && !edit_user.addresses.$pristine }">
                                    <label class="col-md-1 control-label" for="form_control_1">Address</label>
                                    <div class="col-md-11">
                                        <input vs-google-autocomplete ng-model="edit_user.address" type="text" class="form-control" name='addresses' placeholder="Enter address" required>
                                        <p ng-show="edit_user.addresses.$invalid && !edit_user.addresses.$pristine" class="help-block">Address is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row text-left">
                            <h4 class="push-up-3">Work Profile</h4>
                        </div>
                        <!--<div class="row text-center">
                                    <h3 style="color: black;">Work Profile</h3>
                            </div>-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.regions.$invalid && !edit_user.regions.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Region</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name='regions' ng-model="edit_user.region" required>
                                                <option selected="" disabled="" value="">Select Region</option>
                                                <option ng-option value="north">North</option>
                                                <option ng-option value="south">South</option>
                                                <option ng-option value="east">East</option>
                                                <option ng-option value="west">West</option>
                                            </select>
                                        <p ng-show="edit_user.regions.$invalid && !edit_user.regions.$pristine" class="help-block">Region is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.areas.$invalid && !edit_user.areas.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Area</label>
                                    <div class="col-md-9">
                                        <input type="text" name='areas' class="form-control" ng-model="edit_user.area" required>
                                        <p ng-show="edit_user.areas.$invalid && !edit_user.areas.$pristine" class="help-block">Area is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.locations.$invalid && !edit_user.locations.$pristine && edit_user.locations.$touched}">
                                    <label class="col-md-3 control-label" for="form_control_1">Location</label>
                                    <div class="col-md-9">
                                        <input type="text" name='locations' class="form-control" ng-model="edit_user.location" required>
                                        <p ng-show="edit_user.locations.$invalid && !edit_user.locations.$pristine && edit_user.locations.$touched" class="help-block">Location is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.roles.$invalid && !edit_user.roles.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Role</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name='roles' ng-model="edit_user.role" ng-dropdown required>
                                                <option ng-option selected="" disabled="" value="">Select Role</option>
                                                <option ng-option value="Admin">Admin</option>
                                                <option ng-option value="Manager">Manager</option>
                                                <option ng-option value="Serivedesk">Call Co-Ordinator/ Service Desk</option>
                                            </select>
                                        <p ng-show="edit_user.roles.$invalid && !edit_user.roles.$pristine" class="help-block">Role is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="edit_user.role == 'Technician'">
                            <br>
                            <!--<a class='pull-right' ng-model='cancel_0' ng-click='cancel_prod()'>
                                        <i class='fa fa-times'></i>
                                    </a>-->
                            <div class="row" id="new_row">
                                <div class="col-sm-6" id="load_supportid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_user.support_names.$invalid && !edit_user.support_names.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Support Category</label>
                                        <div class="col-md-9">
                                            <input type="text" name='support_names' class="form-control" ng-model="edit_user.sup_name" required ng-focus="load_support()">
                                            <p ng-show="edit_user.support_names.$invalid && !edit_user.support_names.$pristine" class="help-block">Support Category is required.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.categorys.$invalid && !insert_user.categorys.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Sub Category</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name='categorys' ng-model="user.category" required>
                                                    </select>
                                                    <p ng-show="insert_user.categorys.$invalid && !insert_user.categorys.$pristine" class="help-block">Sub Category is required.</p>
                                                </div>
                                            </div>
                                        </div>-->
                            </div>

                            <!--<div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.skills.$invalid && !insert_user.skills.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Skill Level</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name='skills' ng-model="user.skill" ng-change="" required>
                                                        <option ng-option selected="" disabled="" value="">Select Skill Level</option>
                                                        <option ng-option value="L1">L1</option>
                                                        <option ng-option value="L2">L2</option>
                                                        <option ng-option value="L3">L3</option>
                                                        <option ng-option value="L4">L4</option>
                                                    </select>
                                                    <p ng-show="insert_user.skills.$invalid && !insert_user.skills.$pristine" class="help-block">Skill Level is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->

                            <!--<div class="row" id="insert_before">
                                    <div class="col-sm-6 col-sm-offset-6 text-right">
                                        <button class="btn green" type="button" ng-click="addproduct()">
                                            <i class="fa fa-plus"></i> Add Product</button>
                                    </div>
                                </div>-->

                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-right">
                            <div class="">
                                <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                <button class="btn sm btn-info btn-rounded" ng-disabled="edit_user.$invalid && edit_user.$pristine && edit_user.$untouched" type="submit" id="submit1">
                                        <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>

</div>

<!--view user modal-->
<div id="view_user" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <!--<div class="modal-content">
            <div class="modal-body">-->
        <div class="panel panel-info" id="form_wizard_2" style="margin-bottom:0">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">View User</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="panel-body">
                <form name="userForm" id='userForm' class="form-horizontal" novalidate ng-readonly="userForm">
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row text-left">
                            <h4 class="push-up-3">Personal Details</h4>
                        </div>
                        <div class="row ng-hide">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.ids.$invalid && !userForm.ids.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='ids' class="form-control" ng-model="userForm.id">
                                        <p ng-show="userForm.ids.$invalid && !userForm.ids.$pristine" class="help-block">ID is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.employeeid.$invalid && !userForm.employeeid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Emp ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='employeeid' class="form-control" ng-model="userForm.employee_id" readonly>
                                        <p ng-show="userForm.employeeid.$invalid && !userForm.employeeid.$pristine" class="help-block">*Emp ID is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='firstname' class="form-control" ng-model="userForm.first_name" readonly>
                                        <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="help-block">First Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='lastname' class="form-control" ng-model="userForm.last_name" readonly>
                                        <p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine" class="help-block">Last Neme is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.emailid.$invalid && !userForm.emailid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Email ID</label>
                                    <div class="col-md-9">
                                        <input type="email" name='emailid' class="form-control" ng-model="userForm.email_id" readonly>
                                        <p ng-show="userForm.emailid.$invalid && !userForm.emailid.$pristine" class="help-block">Enter a valid Email ID.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.contactnumber.$invalid && !userForm.contactnumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Contact Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='contactnumber' class="form-control" ng-model="userForm.contact_number" ng-pattern="/^[789]\d{9}$/" ng-minlength="10" ng-maxlength="15" readonly>
                                        <div ng-if="userForm.contactnumber.$dirty" ng-messages="userForm.contactnumber.$error">
                                            <div class="error-message" ng-message="required">This field is required</div>
                                            <div class="error-message" ng-message="pattern">Accepts only Numeric Value and should start with either 9,8,7</div>
                                        </div>
                                        <!-- <p ng-show="userForm.contactnumber.$invalid && !userForm.contactnumber.$pristine" class="help-block"></p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.alternatenumber.$invalid && !userForm.alternatenumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Alternate Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='alternatenumber' class="form-control" ng-model="userForm.alternate_number" ng-minlength="10" ng-maxlength="15" ng-pattern="/^[789]\d{9}$/" readonly>
                                        <div ng-if="userForm.alternatenumber.$dirty" ng-messages="userForm.alternatenumber.$error">
                                            <div class="error-message" ng-message="pattern">Accepts only Numeric Value and should start with either 9,8,7</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.addresses.$invalid && !userForm.addresses.$pristine }">
                                    <label class="col-md-1 control-label" for="form_control_1">Address</label>
                                    <div class="col-md-11">
                                        <input ng-model="userForm.address" type="text" class="form-control" name='addresses' placeholder="Enter address" readonly>
                                        <p ng-show="userForm.addresses.$invalid && !userForm.addresses.$pristine" class="help-block">Address is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row text-left">
                            <h4 class="push-up-3">Work Profile</h4>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.regions.$invalid && !userForm.regions.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Region</label>
                                    <div class="col-md-9">
                                        <input type="text" name='regions' class="form-control" ng-model="userForm.region" readonly>
                                        <!--<select class="form-control" name='regions' ng-model="userForm.region" readonly>
                                                    <option selected="" disabled="" value="">Select Region</option>
                                                    <option ng-option value="north">North</option>
                                                    <option ng-option value="south">South</option>
                                                    <option ng-option value="east">East</option>
                                                    <option ng-option value="west">West</option>
                                                </select>-->
                                        <p ng-show="userForm.regions.$invalid && !userForm.regions.$pristine" class="help-block">Region is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.areas.$invalid && !userForm.areas.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Area</label>
                                    <div class="col-md-9">
                                        <input type="text" name='areas' class="form-control" ng-model="userForm.area" readonly>
                                        <p ng-show="userForm.areas.$invalid && !userForm.areas.$pristine" class="help-block">Area is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.locations.$invalid && !userForm.locations.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Location</label>
                                    <div class="col-md-9">
                                        <input type="text" name='locations' class="form-control" ng-model="userForm.location" readonly>
                                        <p ng-show="userForm.locations.$invalid && !userForm.locations.$pristine" class="help-block">Location is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.roles.$invalid && !userForm.roles.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Role</label>
                                    <div class="col-md-9">
                                        <input type="text" name='roles' class="form-control" ng-model="userForm.role" readonly>
                                        <p ng-show="userForm.roles.$invalid && !userForm.roles.$pristine" class="help-block">Role is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-right">
                            <div class="">
                                <!-- <a href="" class="btn blue" ng-disabled="userForm.$invalid">
                                                            <i class="fa fa-check" ng-submit="userForm()"></i> Submit</a> -->
                                <a href="javascript:;" class="btn btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Close</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
        <!--</div>
        </div>-->
    </div>
</div>

<!--Bulk Upload User Model -->
<div id="bulk_user1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="modal-body">
                <div class="portlet light bordered" id="form_wizard_2" style="margin-bottom:0">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-user font-red-sunglo"></i>
                            <button class="caption-subject bold uppercase"> Bulk User</button>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <form name="userForm" class="form-horizontal" ng-submit="bulkform()" novalidate>
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-md-4 col-sm-12 text-right">
                                        <a class="btn btn-circle purple-sharp btn-outline sbold uppercase" href="">Sample Template</a>
                                    </div>
                                    <div class="form-group col-md-5 col-sm-12">
                                        <div class="col-md-3">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="input-group input-large">
                                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                        <span class="fileinput-filename"> </span>
                                                    </div>
                                                    <span class="input-group-addon btn default btn-file">
                                                        <span class="fileinput-new"> Select file </span>
                                                    <span class="fileinput-exists"> Change </span>
                                                    <input type="file" name="add_excel" id="add_excel"> </span>
                                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row text-center">
                                    <div class="">
                                        <a href="javascript:;" class="btn blue">
                                            <i class="fa fa-check"></i> Submit</a>
                                        <a href="javascript:;" class="btn red" data-dismiss="modal">
                                            <i class="fa fa-times"></i> Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="bulk_user" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:  black;"> Bulk Upload</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-success" ng-click="view_sample()">View Sample File</button>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <a href="<downloadLink>" download="fileName">Download</a>-->
                                        <a href="assets/files/excel/users_upload.xlsx" download><button type="button"  class="btn btn-success">Download Sample Template</button></a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="file" multiple class=" form-control file" id="usersbulk_file" file-model="bulk_File" data-preview-file-type="any" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label"></label>
                                    <button type="button" class="btn btn-primary" ng-click="upload_userexcel()">
                                    <i class="fa fa-plus"></i>Upload
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="clear_input()">Close</button>
            </div>
        </div>

    </div>
</div>

<!--view sample template-->
<div id="sample_image" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>The excel sheet should be like this! </p>
                <div class="row" id="attach_excel" style="width:200px; height:500px">
                    <img src="assets/img/users_sample.png" alt="Sample user excel">
                    </img>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>