<style>
    .has-error {
        color: red;
    }

    ;
    .has-success {
        color: black;
    }

    ;
    .pac-container {
        z-index: 999999;
    }

    ;
</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <!-- BEGIN CONTENT BODY -->
    <div ng-include="global.navUrl"></div>
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            Assessment Management</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success panel-hidden-controls">
                    <div class="panel-heading">
                        <h3 class="panel-title">Assessment Creation</h3>
                    </div>
                    <div class="row pull-right">.
                        <div class="col-lg-12">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#assesssment" data-backdrop="static"
                                    data-keyboard="false"> Add Assessment
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered" datatable="ng">
                            <thead>
                                <tr>
                                    <th> Assessment Title </th>
                                    <th> Assessment Type </th>
                                    <th> Product Category </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="assessments in assessment">
                                    <td>
                                        {{assessments.title}}
                                    </td>
                                    <td>
                                        <p ng-if="assessments.type == 'generic'"> Generic Training </p>
                                        <p ng-if="assessments.type == 'technology'"> Technology Training</p>
                                        <p ng-if="assessments.type == 'product'"> Product Training</p>
                                    </td>
                                    <td>
                                        <p ng-if="assessments.type == 'product'"> {{assessments.productcategory}}</p>
                                        <p ng-if="assessments.type != 'product'"> -</p>

                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded" href="#/edit_certificate/{{assessments.id}}/{{assessments.assessment_id}}/{{assessments.title}}/{{assessments.type}}/{{assessments.productcategory}}">Edit</a>
                                        <!-- <button class="btn btn-info btn-rounded" ng-click="edit_assessment(assessments)">
                                            <i class="fa fa-edit"></i> Edit </button> -->
                                        <button class="btn btn-danger btn-rounded" ng-bootbox-confirm="Do you realy want to delete this training?" ng-bootbox-confirm-action="delete_assessment(assessments.id)">
                                            <i class="fa fa-trash-o"></i> Delete </button>
                                    </td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<!--Add User Model -->
<div id="assesssment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Add Assessment</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="insert_assessment" id='insert_assessment' class="form-horizontal" ng-submit="insertassessment()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_assessment.title.$invalid && !insert_assessment.title.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Assessment Name</label>
                                <div class="col-md-9">
                                    <input type="text" name='title' class="form-control" ng-model="insert_assessment.assess_title" required>
                                    <p ng-show="insert_assessment.title.$invalid && !insert_assessment.title.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_assessment.type.$invalid && !insert_assessment.type.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Assessment Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="insert_assessment.assess_type">
                                        <option selected disabled>Select Training Type</option>
                                        <option value="generic">Generic Training</option>
                                        <option value="technology">Technology Training</option>
                                        <option value="product">Product</option>
                                    </select>
                                    <p ng-show="insert_assessment.type.$invalid && !insert_assessment.type.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="insert_assessment.assess_type == 'product'">
                            <br>
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_assessment.product.$invalid && !insert_assessment.product.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Product Category</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="insert_assessment.productcategory">
                                        <option ng-repeat="x in get_supportmodel" value="{{x.support_category}}">{{x.support_category}}</option>
                                    </select>
                                    <p ng-show="insert_assessment.product.$invalid && !insert_assessment.product.$pristine" class="help-block">Product Category is required.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <button class="btn sm btn-info btn-rounded" ng-disabled="insert_assessment.$invalid" type="submit" id="submit">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>

</div>

<!--edit User Model -->
<div id="edit_assessment" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1100px !important">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Edit Assessment</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="edit_assess" id='edit_assess' class="form-horizontal" ng-submit="updateassessment()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="col-md-12">
                            <div class="panel panel-success panel-hidden-controls">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Assessment Edit</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row ng-hide">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_assess.id.$invalid && !edit_assess.id.$pristine }">
                                            <label class="col-md-4 control-label" for="form_control_1">Id</label>
                                            <div class="col-md-6">
                                                <input type="text" name='id' class="form-control" ng-model="edit_assess.id" required>
                                                <p ng-show="edit_assess.id.$invalid && !edit_assess.id.$pristine" class="help-block">Assessment Id is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ng-hide">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_assess.assessment_id.$invalid && !edit_assess.assessment_id.$pristine }">
                                            <label class="col-md-4 control-label" for="form_control_1">Training ID</label>
                                            <div class="col-md-6">
                                                <input type="text" name='assessment_id' class="form-control" ng-model="edit_assess.assessment_id" required>
                                                <p ng-show="edit_assess.assessment_id.$invalid && !edit_assess.assessment_id.$pristine" class="help-block">Assessment assessment_id is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_assess.title.$invalid && !edit_assess.title.$pristine }">
                                            <label class="col-md-4 control-label" for="form_control_1">Title</label>
                                            <div class="col-md-6">
                                                <input type="text" name='title' class="form-control" ng-model="edit_assess.title" required>
                                                <p ng-show="edit_assess.title.$invalid && !edit_assess.title.$pristine" class="help-block">Assessment Title is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_assess.type.$invalid && !edit_assess.type.$pristine }">
                                            <label class="col-md-4 control-label" for="form_control_1">Type</label>
                                            <div class="col-md-6">
                                                <select class="form-control" id="type" name="type" ng-model="edit_assess.type">
                                                    <option selected disabled>Select Assessment Type</option>
                                                    <option value="generic">Generic Assessment</option>
                                                    <option value="technology">Technology Assessment</option>
                                                    <option value="product">Product Assessment</option>
                                                </select>
                                                <p ng-show="edit_assess.type.$invalid && !edit_assess.type.$pristine" class="help-block">Assessment Title is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="edit_assess.type == 'product'">
                                        <br>
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.product.$invalid && !edit_trai.product.$pristine }">
                                            <label class="col-md-4 control-label" for="form_control_1">Product Category</label>
                                            <div class="col-md-6">
                                                <select class="form-control" id="type" name="type" ng-model="edit_assess.productcategory">
                                                    <option ng-repeat="x in get_supportmodel" value="{{x.support_category}}">{{x.support_category}}</option>
                                                </select>
                                                <p ng-show="edit_assess.product.$invalid && !edit_assess.product.$pristine" class="help-block">Product Category is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-success panel-hidden-controls">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Quiz</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row pull-right" style="margin-bottom:1%">
                                        <div class="col-lg-12">
                                            <div class="btn-group">
                                                <button id="sample_editable_1_new" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#assesssment" data-backdrop="static"
                                                    data-keyboard="false"> Bulk Upload
                                                    <i class="fa fa-upload"></i>
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <button id="sample_editable_1_new" class="btn btn-success btn-rounded" ng-click="add_quizs()"> Add Quiz
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered" datatable="ng">
                                        <thead>
                                            <tr>
                                                <th> Question </th>
                                                <th> Choice A </th>
                                                <th> Choice B </th>
                                                <th> Choice C </th>
                                                <th> Choice D </th>
                                                <th> Correct Ans </th>
                                                <th> Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <tr ng-repeat="assessments in assessment">
                                                <td>
                                                    {{assessments.title}}
                                                </td>
                                                <td>
                                                    <p ng-if="assessments.type == 'generic'"> Generic Training </p>
                                                    <p ng-if="assessments.type == 'technology'"> Technology Training</p>
                                                    <p ng-if="assessments.type == 'product'"> Product Training</p>
                                                </td>
                                                <td>
                                                    <p ng-if="assessments.type == 'product'"> {{assessments.productcategory}}</p>
                                                    <p ng-if="assessments.type != 'product'"> -</p>
                                    
                                                </td>
                                                <td>
                                                    <button class="btn btn-info btn-rounded" ng-click="edit_assessment(assessments)">
                                                        <i class="fa fa-edit"></i> Edit </button>
                                                    <button class="btn btn-danger btn-rounded" ng-bootbox-confirm="Do you realy want to delete this training?" ng-bootbox-confirm-action="delete_assessment(assessments.id)">
                                                        <i class="fa fa-trash-o"></i> Delete </button>
                                                </td>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <button class="btn sm btn-info btn-rounded" ng-disabled="edit_assess.$invalid" type="submit" id="submit">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>

</div>

<!--view sample template-->
<div id="sample_image" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>The excel sheet should be like this! </p>
                <div class="row" id="attach_excel" style="width:200px; height:500px">
                    <img src="assets/img/users_sample.png" alt="Sample user excel">
                    </img>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="sla_confirm" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="col-sm-12" id="sla_detail_confirm">
        </div>
        <!-- Modal content-->
        <!-- <div class="modal-content">
                <div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="add_subproduct">
                        <div class="form-group">
                            
                        </div>
                    </form>
                </div>
            </div> -->
    </div>
</div>