<style>
    .has-error {
        color: red;
    }
    
    ;
    .has-success {
        color: black;
    }
    
    ;
    .pac-container {
        z-index: 999999;
    }
    
    ;
</style>
<div class="page-container">
    <span ng-include="global.sidebar"></span>
    <!-- BEGIN CONTENT -->
    <div class="page-content">
        <!-- BEGIN CONTENT BODY -->
        <div ng-include="global.navUrl"></div>
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2>Community</h2>
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row pull-right" style="margin-right: 20px !important;margin-bottom:1% !important">
                <div class="btn-group ">
                    <button id="sample_editable_1_new" class="btn btn-success btn-rounded" ng-click="companyadd_open()"> Add Company
                            <i class="fa fa-plus"></i>
                        </button>
                </div>
            </div>


            <div id="addcompany" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="panel panel-success" style="margin-bottom:0">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="color: black;">Add Community</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="error" style="display:none">
                                <!--<label id="rowdata"></label>-->
                            </div>
                        </div>
                        <div class="panel-body">
                            <form name="insert_customer" id='insert_customer' class="form-horizontal" ng-submit="insert_company()" novalidate>
                                <div ng-if="errorMessage" class="error">
                                    <p>{{ errorMessage }}</p>
                                </div>
                                <!-- BEGIN FORM-->
                                <div class="form-body">
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.companyname.$invalid && !insert_customer.companyname.$pristine }">
                                                <label class="col-md-3 control-label newstyle" for="form_control_1">Company Name <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name='companyname' class="form-control" ng-model="insert_customer.company_name" required ng-maxlength="32">
                                                    <div ng-if="insert_customer.companyname.$dirty" ng-messages="insert_customer.companyname.$error">
                                                        <div class="error-message" ng-message="required">Company name is required</div>
                                                        <div class="error-message" ng-message="maxlength">Only 32 characters are allowed</div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_email.$invalid && !insert_customer.cus_email.$pristine }">
                                                <label class="col-md-3 control-label newstyle" for="form_control_1">Email <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="email" name='cus_email' class="form-control" ng-model="insert_customer.comp_email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                                    <div ng-if="insert_customer.cus_email.$dirty" ng-messages="insert_customer.cus_email.$error">
                                                        <div class="error-message" ng-message="required">Company Email is required</div>
                                                        <div class="error-message" ng-message="pattern">Enter a valid email</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.comp_number.$invalid && !insert_customer.comp_number.$pristine }">
                                                <label class="col-md-3 control-label newstyle" for="form_control_1">Contact Number <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name='comp_number' class="form-control" ng-model="insert_customer.company_number" ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10" required>
                                                    <div ng-if="insert_customer.comp_number.$dirty" ng-messages="insert_customer.comp_number.$error">
                                                        <div class="error-message" ng-message="required">This field is required</div>
                                                        <div class="error-message" ng-message="pattern">Invalid mobile no</div>
                                                        <div class="error-message" ng-message="maxlength">Mobile no can only be 10 digits</div>
                                                        <div class="error-message" ng-message="minlength">Mobile no can only be 10 digits</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_altno.$invalid && !insert_customer.cus_altno.$pristine }">
                                                <label class="col-md-3 control-label newstyle" for="form_control_1">Alternate Number<span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name='cus_altno' class="form-control" ng-model="insert_customer.altno" ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10" required>
                                                    <div ng-if="insert_customer.cus_altno.$dirty" ng-messages="insert_customer.cus_altno.$error">
                                                        <div class="error-message" ng-message="required">This field is required</div>
                                                        <div class="error-message" ng-message="pattern">Invalid mobile number</div>
                                                        <div class="error-message" ng-message="maxlength">Mobile no can only be 10 digits</div>
                                                        <div class="error-message" ng-message="minlength">Mobile no can only be 10 digits</div>

                                                    </div>
                                                    <!-- <p ng-show="insert_customer.cus_altno.$invalid && !insert_customer.cus_altno.$pristine" class="help-block">Enter a valid Alternate Number</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.company_address.$invalid && !insert_customer.company_address.$pristine }">
                                                <label class="col-md-1 control-label newstyle" for="form_control_1">Address <span class="mandatory">*</span></label>
                                                <div class="col-md-11">
                                                    <input type="text" name='company_address' class="form-control" ng-model="insert_customer.comp_address" required>
                                                    <div ng-if="insert_customer.company_address.$dirty" ng-messages="insert_customer.company_address.$error">
                                                        <div class="error-message" ng-message="required">This field is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row ">
                                        <h4 class="push-up-3 text-center">Admin Profile</h4><br>
                                        <h4 class="push-up-3 text-left">Personal Details</h4>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.employeeid.$invalid && !insert_customer.employeeid.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Emp ID <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name='employeeid' class="form-control" ng-model="insert_customer.employee_id" required>
                                                    <p ng-show="insert_customer.employeeid.$invalid && !insert_customer.employeeid.$pristine" class="help-block">Emp ID is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.firstname.$invalid && !insert_customer.firstname.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">First Name <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name='firstname' class="form-control" ng-model="insert_customer.first_name" required>
                                                    <p ng-show="insert_customer.firstname.$invalid && !insert_customer.firstname.$pristine" class="help-block">First Name is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.lastname.$invalid && !insert_customer.lastname.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Last Name <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name='lastname' class="form-control" ng-model="insert_customer.last_name" required>
                                                    <p ng-show="insert_customer.lastname.$invalid && !insert_customer.lastname.$pristine" class="help-block">Last Name is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.emailid.$invalid && !insert_customer.emailid.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Email ID <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="email" name='emailid' class="form-control" ng-model="insert_customer.email_id" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">

                                                    <div ng-if="insert_customer.emailid.$dirty" ng-messages="insert_customer.emailid.$error">
                                                        <div class="error-message" ng-message="required">User Email is required</div>
                                                        <div class="error-message" ng-message="pattern">Enter a valid email</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.contactnumber.$invalid && !insert_customer.contactnumber.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Contact Number <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name="contactnumber" class="form-control" ng-model="insert_customer.admin_contact_number" ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10" required>
                                                    <div ng-if="insert_customer.contactnumber.$dirty" ng-messages="insert_customer.contactnumber.$error">
                                                        <div class="error-message" ng-message="required">This field is required</div>
                                                        <div class="error-message" ng-message="pattern">invalid mobile no</div>
                                                        <div class="error-message" ng-message="maxlength">Mobile no can only be 10 digits</div>
                                                        <div class="error-message" ng-message="minlength">Mobile no can only be 10 digits</div>

                                                    </div>
                                                    <!-- <p ng-show="insert_user.contactnumber.$invalid && !insert_user.contactnumber.$pristine" class="help-block"></p> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.alternatenumber.$invalid && !insert_customer.alternatenumber.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Alternate Number<span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name='alternatenumber' class="form-control" ng-model="insert_customer.alternate_number" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]*$/" required>
                                                    <div ng-if="insert_customer.alternatenumber.$dirty" ng-messages="insert_customer.alternatenumber.$error">
                                                        <div class="error-message" ng-message="required">This field is required</div>
                                                        <div class="error-message" ng-message="pattern">invalid mobile no</div>
                                                        <div class="error-message" ng-message="maxlength">Mobile no can only be 10 digits</div>
                                                        <div class="error-message" ng-message="minlength">Mobile no can only be 10 digits</div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.addresses.$invalid && !insert_customer.addresses.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Address <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <textarea ng-model="insert_customer.address" type="text" class="form-control" name='addresses' placeholder="Enter address" required style="resize: none;"></textarea>
                                                    <p ng-show="insert_customer.addresses.$invalid && !insert_customer.addresses.$pristine" class="help-block">Address is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-3 control-label" for="form_control_1">Proof <span class="mandatory">*</span></label>
                                                <div class="form-group col-md-9">
                                                    <input type="file" name="myFile" id="national_files" class="form-control" file-model="$parent.myFile" valid-file required accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                                    <span ng-show="insert_customer.myFile.$dirty && insert_customer.myFile.required">Proof is required</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row text-left">
                                        <h4 class="push-up-3">Work Profile</h4>
                                        <!--<h3 style="color: black;">Work Profile</h3>-->
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.regions.$invalid && !insert_customer.regions.$pristine && insert_customer.regions==0 }">
                                                <label class="col-md-3 control-label" for="form_control_1">Region <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name='regions' ng-model="insert_customer.region" required>
                                                                <option selected="0" disabled="" value="">Select Region</option>
                                                                <option ng-option value="north">North</option>
                                                                <option ng-option value="south">South</option>
                                                                <option ng-option value="east">East</option>
                                                                <option ng-option value="west">West</option>
                                                            </select>
                                                    <p ng-show="insert_customer.regions.$invalid && !insert_customer.regions.$pristine && insert_customer.regions==0" class="help-block">Region is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.areas.$invalid && !insert_customer.areas.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Area <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name='areas' class="form-control" ng-model="insert_customer.area" required>
                                                    <p ng-show="insert_customer.areas.$invalid && !insert_customer.areas.$pristine" class="help-block">Area is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.locations.$invalid && !insert_customer.locations.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Location <span class="mandatory">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" name='locations' class="form-control" ng-model="insert_customer.location" required>
                                                    <p ng-show="insert_customer.locations.$invalid && !insert_customer.locations.$pristine" class="help-block">Location is required.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="form-actions">
                                    <div class="row text-center">
                                        <div class="">
                                            <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                                <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                            <button class="btn sm btn-info btn-rounded" type="submit" id="submit" ng-disabled="insert_customer.$invalid">
                                                    <i class="fa fa-check"></i> Submit</button>
                                            <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                                <i class="fa fa-times"></i> Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-12 scRow">
                <div class="panel panel-success" id="grid_block_5">
                    <div class="panel-heading">
                        <h3 class="panel-title">Companies List</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Company Name </th>
                                    <th> Contact Number</th>
                                    <th> E-mail Address </th>
                                    <th> Address </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="company in companies">
                                    <td>{{company.company_id}}</td>
                                    <td>{{company.company_name}}</td>
                                    <td>{{company.company_num}}</td>
                                    <td>{{company.company_email}}</td>
                                    <td>{{company.address}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
</div>


<!--Add User Model -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1100px !important">
        <div class="panel panel-info" id="form_wizard_2" style="margin-bottom:0">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Customer Information</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="insert_user" id='insert_user' class="form-horizontal" novalidate ng-readonly="view_user">
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">

                        <div class="row ng-hide">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.ids.$invalid && !insert_user.ids.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='ids' class="form-control" ng-model="view_user.id" ng-readonly="view_user.id">
                                        <p ng-show="insert_user.ids.$invalid && !insert_user.ids.$pristine" class="help-block">ID is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Customer ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='employeeid' class="form-control" ng-model="view_user.customer_id" ng-readonly="view_user.customer_id" required>
                                        <p ng-show="insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine" class="help-block">Emp ID is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.firstname.$invalid && !insert_user.firstname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Customer Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='firstname' class="form-control" ng-model="view_user.customer_name" ng-readonly="view_user.customer_name" required>
                                        <p ng-show="insert_user.firstname.$invalid && !insert_user.firstname.$pristine" class="help-block">First Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.lastname.$invalid && !insert_user.lastname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Contact Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='lastname' class="form-control" ng-model="view_user.contact_number" ng-readonly="view_user.contact_number" required>
                                        <p ng-show="insert_user.lastname.$invalid && !insert_user.lastname.$pristine" class="help-block">Last Neme is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.emailid.$invalid && !insert_user.emailid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Alternate Number</label>
                                    <div class="col-md-9">
                                        <input type="email" name='emailid' class="form-control" ng-model="view_user.alternate_number" ng-readonly="view_user.alternate_number" required>
                                        <p ng-show="insert_user.emailid.$invalid && !insert_user.emailid.$pristine" class="help-block">Enter a valid Email ID.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.contactnumber.$invalid && !insert_user.contactnumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Email ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='contactnumber' class="form-control" ng-model="view_user.email_id" ng-readonly="view_user.email_id" ng-pattern="/^[789]\d{9}$/" ng-minlength="10" ng-maxlength="15" required>
                                        <div ng-if="insert_user.contactnumber.$dirty" ng-messages="insert_user.contactnumber.$error">
                                            <div class="error-message" ng-message="required">This field is required</div>
                                            <div class="error-message" ng-message="pattern">Accepts only Numeric Value and should start with either 9,8,7</div>
                                        </div>
                                        <!-- <p ng-show="insert_user.contactnumber.$invalid && !insert_user.contactnumber.$pristine" class="help-block"></p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.alternatenumber.$invalid && !insert_user.alternatenumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Customer Category</label>
                                    <div class="col-md-9">
                                        <input type="text" name='alternatenumber' class="form-control" ng-model="view_user.customer_type" ng-readonly="view_user.customer_type" ng-minlength="10" ng-maxlength="15" ng-pattern="/^[789]\d{9}$/">
                                        <div ng-if="insert_user.alternatenumber.$dirty" ng-messages="insert_user.alternatenumber.$error">
                                            <div class="error-message" ng-message="pattern">Accepts only Numeric Value and should start with either 9,8,7</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.addresses.$invalid && !insert_user.addresses.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Door.no</label>
                                    <div class="col-md-9">
                                        <input vs-google-autocomplete ng-model="view_user.door_no" ng-readonly="view_user.door_no" type="text" class="form-control" name='addresses' placeholder="Enter address" required>
                                        <p ng-show="insert_user.addresses.$invalid && !insert_user.addresses.$pristine" class="help-block">Address is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.areas.$invalid && !insert_user.areas.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Apartment/Villa Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='areas' class="form-control" ng-model="view_user.building_name" ng-="view_user.building_name" required>
                                        <p ng-show="insert_user.areas.$invalid && !insert_user.areas.$pristine" class="help-block">Area is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.areas.$invalid && !insert_user.areas.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Street</label>
                                    <div class="col-md-9">
                                        <input type="text" name='areas' class="form-control" ng-model="view_user.street_number" ng-readonly="view_user.street_number" required>
                                        <p ng-show="insert_user.areas.$invalid && !insert_user.areas.$pristine" class="help-block">Area is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.locations.$invalid && !insert_user.locations.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Location</label>
                                    <div class="col-md-9">
                                        <input type="text" name='locations' class="form-control" ng-model="view_user.area" ng-readonly="view_user.area" required>
                                        <p ng-show="insert_user.locations.$invalid && !insert_user.locations.$pristine" class="help-block">Location is required.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.areas.$invalid && !insert_user.areas.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">District</label>
                                    <div class="col-md-9">
                                        <input type="text" name='areas' class="form-control" ng-model="view_user.District" ng-readonly="view_user.District" required>
                                        <p ng-show="insert_user.areas.$invalid && !insert_user.areas.$pristine" class="help-block">Area is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.locations.$invalid && !insert_user.locations.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">State</label>
                                    <div class="col-md-9">
                                        <input type="text" name='locations' class="form-control" ng-model="view_user.State" ng-readonly="view_user.State" required>
                                        <p ng-show="insert_user.locations.$invalid && !insert_user.locations.$pristine" class="help-block">Location is required.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.areas.$invalid && !insert_user.areas.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Country</label>
                                    <div class="col-md-9">
                                        <input type="text" name='areas' class="form-control" ng-model="view_user.Country" ng-readonly="view_user.Country" required>
                                        <p ng-show="insert_user.areas.$invalid && !insert_user.areas.$pristine" class="help-block">Area is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.locations.$invalid && !insert_user.locations.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Pincode</label>
                                    <div class="col-md-9">
                                        <input type="text" name='locations' class="form-control" ng-model="view_user.pincode" ng-readonly="view_user.pincode" required>
                                        <p ng-show="insert_user.locations.$invalid && !insert_user.locations.$pristine" class="help-block">Location is required.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>


                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> 
                                    <button class="btn sm btn-info btn-rounded" ng-disabled="insert_user.$invalid || insert_user.$pristine" type="submit" id="submit">
                                        <i class="fa fa-check"></i> Submit</button>-->
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>

</div>

<!--Bulk Upload User Model -->
<div id="bulk_user2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="modal-body">
                <div class="portlet light bordered" id="form_wizard_2" style="margin-bottom:0">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-user font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase"> Bulk User</span>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <form name="userForm" class="form-horizontal" ng-submit="bulkform()" novalidate>
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-md-4 col-sm-12 text-right">
                                        <a class="btn btn-circle purple-sharp btn-outline sbold uppercase" href="">Sample Template</a>
                                    </div>
                                    <div class="form-group col-md-5 col-sm-12">
                                        <div class="col-md-3">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="input-group input-large">
                                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                        <span class="fileinput-filename"> </span>
                                                    </div>
                                                    <span class="input-group-addon btn default btn-file">
                                                        <span class="fileinput-new"> Select file </span>
                                                    <span class="fileinput-exists"> Change </span>
                                                    <input type="file" name="add_excel" id="add_excel"> </span>
                                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row text-center">
                                    <div class="">
                                        <a href="javascript:;" class="btn blue">
                                            <i class="fa fa-check"></i> Submit</a>
                                        <a href="javascript:;" class="btn red" data-dismiss="modal">
                                            <i class="fa fa-times"></i> Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--tickets bulk upload-->
<div id="bulk_user" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:  black;"> Bulk Upload</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-success" ng-click="view_sample()">View Sample File</button>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <a href="<downloadLink>" download="fileName">Download</a>-->
                                        <a href="assets/files/excel/tickets_list.xlsx" download><button type="button"  class="btn btn-success">Download Sample Template</button></a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="file" multiple class=" form-control file" id="ticketlist_file" file-model="ticket_File" data-preview-file-type="any" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label"></label>
                                    <button type="button" class="btn btn-primary" ng-click="upload_userexcel()">
                                        <i class="fa fa-plus"></i>Upload
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="clear_input()">Close</button>
            </div>
        </div>

    </div>
</div>
<!--end-->

<!--view sample template-->
<div id="sample_image" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>The excel sheet should be like this! </p>
                <div class="row" id="attach_excel" style="width:200px; height:500px">
                    <img src="assets/img/ticket_list.png" alt="Sample user excel">
                    </img>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--contact number to raise ticket-->
<div id="contact_search" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black;">Fill Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="maintain" ng-model="customer.contact_num" placeholder="Enter Contact Number">
                    </div>
                    <div class="col-md-3">
                        <button class="btn sm btn-info btn-rounded" type="submit" id="submit" ng-click="check_contactnum()">
                                    <i class="fa fa-check"></i> Submit</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn sm btn-default btn-rounded" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--raise ticket-->
<div id="raise_ticket" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black;">New Ticket</h4>
            </div>
            <div class="modal-body">
                <form name="multiStepForm" id="multiStepForm" class="form-validation" role="form" novalidate>
                    <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
                        <div class="animate-switch" ng-switch-default>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-lname">Customer ID:</label>
                                        <input type="text" class="form-control" id="customer_id" name="customer_id" ng-maxlength="250" ng-model="tickets.customer_id" ng-class="{'input-error': formValidation && multiStepForm.customer_id.$error.required}" required>
                                        <span ng-show="multiStepForm.customer_id.$error.maxlength">
                                      Max character length reached.
                                      </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-lname">Name:</label>
                                        <input type="text" class="form-control" id="tb-lname" name="cust_name" ng-maxlength="250" ng-model="tickets.customer_name" ng-class="{'input-error': formValidation && multiStepForm.cust_name.$error.required}" required>
                                        <span ng-show="multiStepForm.cust_name.$error.maxlength">
                                      Max character length reached.
                                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-lname">Contact Number:</label>
                                        <input type="text" class="form-control" id="tb-lname" name="contact_numbers" ng-maxlength="13" ng-model="tickets.customer_phone" ng-class="{'input-error': formValidation && multiStepForm.contact_numbers.$error.required}" required>
                                        <span ng-show="multiStepForm.contact_number.$error.maxlength">
                                      Max character length reached.
                                      </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-lname">Alternate Number:</label>
                                        <input type="text" class="form-control" id="tb-lname" name="alt_number" ng-maxlength="250" ng-model="tickets.customer_alt" ng-class="{'input-error': formValidation && multiStepForm.alt_number.$error.required}" required>
                                        <span ng-show="multiStepForm.alt_number.$error.maxlength">
                                      Max character length reached.
                                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-lname">Email-ID:</label>
                                        <input type="email" class="form-control" id="tb-email" name="email" ng-maxlength="100" ng-model="tickets.customer_email" ng-class="{'input-error': formValidation && multiStepForm.email.$error.required}" ng-model-options="{ updateOn: 'blur' }" required>
                                        <span ng-show="multiStepForm.email.$error.email">
                                      Incorrect email format.
                                      </span>
                                        <span ng-show="multiStepForm.email.$error.maxlength">
                                      Max character length reached.
                                      </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-lname">Address:</label>
                                        <input type="text" class="form-control" id="tb-lname" name="cust_address" ng-maxlength="300" ng-model="tickets.customer_address" ng-class="{'input-error': formValidation && multiStepForm.cust_address.$error.required}" required>
                                        <span ng-show="multiStepForm.cust_address.$error.maxlength">
                                      Max character length reached.
                                      </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-lname">Project</label>
                                        <input type="text" class="form-control" id="tb-lname" name="project" ng-maxlength="250" ng-model="tickets.customer_project" ng-class="{'input-error': formValidation && multiStepForm.project.$error.required}" required>
                                        <span ng-show="multiStepForm.project.$error.maxlength">
                                      Max character length reached.
                                      </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-lname">Project Location </label>
                                        <input type="text" class="form-control" id="tb-lname" name="pro_phase" ng-maxlength="250" ng-model="tickets.customer_project_place" ng-class="{'input-error': formValidation && multiStepForm.pro_phase.$error.required}" required>
                                        <span ng-show="multiStepForm.pro_phase.$error.maxlength">
                                      Max character length reached.
                                      </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                   <div class="form-group">
                                      <label for="tb-lname">Country:</label>
                                      <input type="text" class="form-control" id="tb-lname" name="country" ng-maxlength="250" ng-model="tickets.Country" ng-class="{'input-error': formValidation && multiStepForm.country.$error.required}" required>
                                      <span ng-show="multiStepForm.country.$error.maxlength">
                                      Max character length reached.
                                      </span>
                                   </div>
                                </div>-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group pull-right">
                                        <p></p>
                                        <p></p>
                                        <p></p>
                                        <label for="tb-lname"></label>
                                        <button type="button" class="btn btn-primary form-group" ng-click="next('stage1')">Next</button>
                                    </div>
                                </div>
                            </div>
                            <!-- <button type="button" class="btn btn-primary" ng-click="next('stage1')">Next</button>     -->
                        </div>
                        <div class="animate-switch" ng-switch-when="stage1">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-fname">Problem Category:</label>

                                        <!--  <select multiple class="form-control" name="products" ng-model="insert_user.support" ng-options="sup.id as sup.support_category for sup in s_types" ng-dropdown required>
                                            </select>-->

                                        <select class="form-control" id="tb-fname" name="type_support" ng-options="types.id as types.support_category for types in support_type" ng-model="tickets.support_typ" required ng-class="{'input-error': formValidation && multiStepForm.type_support.$error.required}">
                                    </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-lname">Preferred time </label>
                                        <input datetime-picker class="form-control" name="pref_time" ng-model="tickets.tic_date" date-format="yyyy-MM-dd HH:mm:ss" close-on-select="false" required ng-class="{'input-error': formValidation && multiStepForm.pref_time.$error.required}" />

                                        <!-- <input type="text" class="form-control" id="tb-lname" name="lastName" ng-maxlength="250" ng-model="formParams.lastName" ng-class="{'input-error': formValidation && multiStepForm.lastName.$error.required}" required>
                                <span ng-show="multiStepForm.lastName.$error.maxlength">
                                    Max character length reached.
                                </span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="tb-email">Problem:</label>
                                        <textarea class="form-control" rows="5" cols="50" id="tb-email" name="email" ng-maxlength="500" ng-model="tickets.problem" ng-class="{'input-error': formValidation && multiStepForm.email.$error.required}" ng-model-options="{ updateOn: 'blur' }" required>
                                </textarea>
                                        <span ng-show="multiStepForm.email.$error.maxlength">
                                    Max character length reached.
                                </span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                <label for="tb-cc-email">CC:</label>
                                <input type="email" class="form-control" id="tb-cc-email" name="ccEmail" ng-maxlength="100" ng-model="formParams.ccEmail" ng-class="{'input-error': formValidation && multiStepForm.ccEmail.$error.email}" ng-model-options="{ updateOn: 'blur' }">
                                <span ng-show="multiStepForm.ccEmail.$error.email">
                                    Incorrect email format.
                                </span>
                                <span ng-show="multiStepForm.ccEmail.$error.maxlength">
                                    Max character length reached.
                                </span>
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <button type="button" class="btn btn-xs btn-warning" ng-click="addCCEmail()">Add</button>
                            </div>
                            </div>-->
                            <br>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <button type="button" class="btn btn-info" ng-click="back('')">Back</button>
                                    <button type="button" class="btn btn-primary" ng-click="next('stage2')">Next</button>
                                </div>
                            </div>
                        </div>

                        <div class="animate-switch" ng-switch-when="stage2">
                            <div class="row">
                                <label for="ticket_sum" style="font-size: 17px;">Ticket Summary</label>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div style="font-size: 15px;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Customer ID: </div>
                                    <div style="font-size: 15px;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{tickets.customer_id}}</div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div style="font-size: 15px;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">First name: </div>
                                    <div style="font-size: 15px;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{tickets.customer_name}}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div style="font-size: 15px;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Email : </div>
                                    <div style="font-size: 15px;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{tickets.customer_email}}</div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div style="font-size: 15px;" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Contact Number : </div>
                                    <div style="font-size: 15px;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{tickets.customer_phone}}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div style="font-size: 15px;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Problem : </div>
                                    <div style="font-size: 15px;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{tickets.problem}}</div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div style="font-size: 15px;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Prferred Visit : </div>
                                    <div style="font-size: 15px;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{tickets.tic_date}}</div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info" ng-click="back('stage1')">Back</button>
                            <button type="button" class="btn btn-warning" ng-click="submit_Form()">Submit</button>
                        </div>
                        <div class="animate-switch" ng-switch-when="success">
                            <div class="success-wrap">
                                <h2 class="confirmation-text">Thank you</h2>
                                <p>Your message has been sent.<br>You should receive a confirmation email.</p>
                                <div><button type="button" class="btn btn-success" ng-click="reset()">Send Another</button></div>
                            </div>
                        </div>
                        <div class="animate-switch" ng-switch-when="error">
                            <div class="error-wrap">
                                <h2 class="confirmation-text">Error</h2>
                                <p>There was an error when attempting to submit your request.<br>Please try again later.</p>
                                <p><strong>*This will always error until a web service URL is set.*</strong></p>
                                <div><button type="button" class="btn btn-danger" ng-click="reset()">Try again</button></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn sm btn-default btn-rounded" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Edit User Model -->
<div id="view_tickets" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1100px !important">
        <!-- Modal content-->
        <!--<div class="modal-content">
            <div class="modal-body">-->
        <div class="panel panel-info" id="form_wizard_2" style="margin-bottom:0">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Ticket Information</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="panel-body">
                <form name="userForm" id='userForm' class="form-horizontal" novalidate ng-readonly="ticket_info">
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row ng-hide">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.ids.$invalid && !userForm.ids.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='ids' class="form-control" ng-model="ticket_info.id">
                                        <p ng-show="userForm.ids.$invalid && !userForm.ids.$pristine" class="help-block">ID is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.employeeid.$invalid && !userForm.employeeid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Ticket ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='employeeid' class="form-control" ng-model="ticket_info.ticket_id" readonly>
                                        <p ng-show="userForm.employeeid.$invalid && !userForm.employeeid.$pristine" class="help-block">*Ticket ID is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Customer ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='firstname' class="form-control" ng-model="ticket_info.customer_id" readonly>
                                        <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="help-block">First Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Contact Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='lastname' class="form-control" ng-model="ticket_info.contact_number" readonly>
                                        <p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine" class="help-block">Last Neme is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.emailid.$invalid && !userForm.emailid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Problem Category</label>
                                    <div class="col-md-9">
                                        <input type="email" name='emailid' class="form-control" ng-model="ticket_info.support_category" readonly>
                                        <p ng-show="userForm.emailid.$invalid && !userForm.emailid.$pristine" class="help-block">Enter a valid Email ID.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.contactnumber.$invalid && !userForm.contactnumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Problem</label>
                                    <div class="col-md-9">
                                        <input type="text" name='contactnumber' class="form-control" ng-model="ticket_info.problem" ng-pattern="/^[789]\d{9}$/" ng-minlength="10" ng-maxlength="15" readonly>
                                        <div ng-if="userForm.contactnumber.$dirty" ng-messages="userForm.contactnumber.$error">
                                            <div class="error-message" ng-message="required">This field is required</div>
                                            <div class="error-message" ng-message="pattern">Accepts only Numeric Value and should start with either 9,8,7</div>
                                        </div>
                                        <!-- <p ng-show="userForm.contactnumber.$invalid && !userForm.contactnumber.$pristine" class="help-block"></p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.alternatenumber.$invalid && !userForm.alternatenumber.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Scheduled Arrival</label>
                                    <div class="col-md-9">
                                        <input type="text" name='alternatenumber' class="form-control" ng-model="ticket_info.scheduled_arrival" ng-minlength="10" ng-maxlength="15" readonly>
                                        <div ng-if="userForm.alternatenumber.$dirty" ng-messages="userForm.alternatenumber.$error">
                                            <div class="error-message" ng-message="pattern">Accepts only Numeric Value and should start with either 9,8,7</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <!-- <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.addresses.$invalid && !userForm.addresses.$pristine }">
                                            <label class="col-md-1 control-label" for="form_control_1">Address</label>
                                            <div class="col-md-11">
                                                <input ng-model="userForm.address" type="text" class="form-control" name='addresses' placeholder="Enter address" readonly>
                                                <p ng-show="userForm.addresses.$invalid && !userForm.addresses.$pristine" class="help-block">Address is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>-->

                        <!--  <div class="row text-center">
                                        <h3 style="color: black;">Work Profile</h3>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.regions.$invalid && !userForm.regions.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Region</label>
                                            <div class="col-md-9">
                                                <select class="form-control" name='regions' ng-model="userForm.region" readonly>
                                                    <option selected="" disabled="" value="">Select Region</option>
                                                    <option ng-option value="north">North</option>
                                                    <option ng-option value="south">South</option>
                                                    <option ng-option value="east">East</option>
                                                    <option ng-option value="west">West</option>
                                                </select>
                                                <p ng-show="userForm.regions.$invalid && !userForm.regions.$pristine" class="help-block">Region is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.areas.$invalid && !userForm.areas.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Area</label>
                                            <div class="col-md-9">
                                                <input type="text" name='areas' class="form-control" ng-model="userForm.area" readonly>
                                                <p ng-show="userForm.areas.$invalid && !userForm.areas.$pristine" class="help-block">Area is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.locations.$invalid && !userForm.locations.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Location</label>
                                            <div class="col-md-9">
                                                <input type="text" name='locations' class="form-control" ng-model="userForm.location" readonly>
                                                <p ng-show="userForm.locations.$invalid && !userForm.locations.$pristine" class="help-block">Location is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : userForm.roles.$invalid && !userForm.roles.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Role</label>
                                            <div class="col-md-9">
                                                <input type="text" name='roles' class="form-control" ng-model="userForm.role" readonly>
                                                <p ng-show="userForm.roles.$invalid && !userForm.roles.$pristine" class="help-block">Role is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <hr>-->
                        <div class="form-actions">
                            <div class="row text-center">
                                <div class="">
                                    <!-- <a href="" class="btn blue" ng-disabled="userForm.$invalid">
                                                            <i class="fa fa-check" ng-submit="userForm()"></i> Submit</a> -->
                                    <a href="javascript:;" class="btn btn-danger btn-rounded" data-dismiss="modal">
                                        <i class="fa fa-times"></i> Close</a>
                                </div>
                            </div>
                        </div>
                </form>
                <!-- END FORM-->
                </div>

            </div>
            <!--</div>
        </div>-->
        </div>
    </div>