<span ng-include="global.sidebar">
</span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <!-- BEGIN CONTENT BODY -->
    <div ng-include="global.navUrl"></div>
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Contract Master</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                                <div class="panel panel-success panel-hidden-controls">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Contract Category</h3>
                                        </div>
                                        <div class="panel-body">
                                            <!-- <form class="form-inline pull-right col-lg-9 col-md-9 col-sm-9" name="welcome" id="welcome" ng-submit="insertcategorytype()" novalidate style="margin:2% 0%">
                                                <div class="form-group col-lg-9 col-md-9 col-sm-9" ng-class="{ 'has-error' : welcome.catypes.$invalid && !welcome.catypes.$pristine }">
                                                    <label class="col-lg-4" for="category">Contract Category</label>
                                                    <div class="col-lg-8">
                                                        <input type="text" name="catypes" class="form-control" ng-model="user.catypes" required placeholder="Enter Contract Category">
                                                        <p ng-show="welcome.catypes.$invalid && !welcome.catypes.$pristine" class="help-block">Contract Category is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="welcome.$invalid || welcome.$pristine"><span class="fa fa-plus"></span> Add Contract Category</button>
                                                </div>
                                            </form>-->
                                            <button type="button" class="col-md-2 btn btn-primary btn-rounded" data-toggle="modal" data-target="#bulk_user" style="
                                            margin-top: 23px;">
                                                Bulk Upload &nbsp; <i class="fa fa-upload"></i>
                                            </button>

                                            <form name="welcome" id="welcome" class="form-horizontal col-md-9 pull-right" ng-submit="insertcategorytype()" novalidate style="margin:2% 0%">
                                                <div class="form-body">
                                                    <div class="row">
                                                            
                                                        <div class="col-sm-9">
                                                                <label class="col-md-5 control-label" for="form_control_1">Contract Category</label>
                                                                <div class="col-md-7 pull-right form-group form-md-line-input" ng-class="{ 'has-error' : welcome.catypes.$invalid && !welcome.catypes.$pristine }">
                                                                    <input type="text" name="catypes" class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched" ng-model="user.category" required="" style="">
                                                                    <p ng-show="welcome.catypes.$invalid &amp;&amp; !welcome.catypes.$pristine" class="help-block ng-hide">Contract Category is required.</p>
                                                                </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group form-md-line-input">
                                                                <!--<label class="col-md-3 control-label" for="form_control_1"></label>-->
                                                                <div class="col-md-12">
                                                                    <div class="form-group pull-right">
                                                                        <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="welcome.$invalid || welcome.$pristine"><span class="fa fa-plus"></span> Add New</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                                   
                                            </form>

                                            <p></p>
                                            </hr>
                                            <table class="table table-striped table-bordered text-center" datatable="ng">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center"> ID </th>
                                                        <th class="text-center"> Contract Category</th>
                                                        <th class="text-center"> Last update </th>
                                                        <th class="text-center"> Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="cont in contract">
                                                        <td>
                                                            <!-- <a ng-click="view_users(customers)">{{customers.id}}</a> -->
                                                            {{cont.id}}
                                                        </td>
                                                        <td>{{cont.cat_name}}</td>
                                                        <td>{{cont.updated_at}}</td>
                                                        <td>
                                                        <div class="btn-group">
                                                            <button class="btn btn-info btn-rounded" ng-click="edit_contract(cont)">
                                                                <i class="fa fa-edit"></i> Edit </button>
                                                            <button class="btn btn-danger btn-rounded" ng-click="delete_contract(cont.id)">
                                                                <i class="fa fa-trash-o"></i> Delete </button>
                                                        </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                    
                    
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<!-- bulk contract-->
<div id="bulk_user1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border:0">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="error" style="display:none">
                        <label id="rowdata"></label>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="portlet light bordered" id="form_wizard_2" style="margin-bottom:0">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-user font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase"> Bulk User</span>
                            </div>
                        </div>
    
                        <div class="portlet-body form">
                            <form name="userForm" class="form-horizontal" ng-submit="bulkform()" novalidate>
                                <!-- BEGIN FORM-->
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-4 col-sm-12 text-right">
                                            <a class="btn btn-circle purple-sharp btn-outline sbold uppercase" href="">Sample Template</a>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <input type="file" multiple class="file" data-preview-file-type="any"/>
                                        </div>
                                       <!-- <div class="form-group col-md-5 col-sm-12">
                                            <div class="col-md-3">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="input-group input-large">
                                                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                            <span class="fileinput-filename"> </span>
                                                        </div>
                                                        <span class="input-group-addon btn default btn-file">
                                                            <span class="fileinput-new"> Select file </span>
                                                            <span class="fileinput-exists"> Change </span>
                                                            <input type="file" name="add_excel" id="add_excel"> </span>
                                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row text-center">
                                        <div class="">
                                            <a href="javascript:;" class="btn blue">
                                                <i class="fa fa-check"></i> Submit</a>
                                            <a href="javascript:;" class="btn red" data-dismiss="modal">
                                                <i class="fa fa-times"></i> Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
</div>

<!--Edit contract category Model -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#000">Edit Contract Category</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline row" name="insert_customer" id='insert_customer' ng-submit="update_contract()" novalidate>
                    <div class="form-body">
                        <div class="form-group ng-hide">
                            <label for="owner_types">contract category:</label>
                                <input type="text" class="form-control" name="ids" ng-model="insert_customer.id" placeholder="Enter type of owner" required>
                                <p ng-show="insert_customer.ids.$invalid && !insert_customer.ids.$pristine" class="help-block">Owner Type is required.</p>
                        </div>
                        <div class="row">
                                <label class="col-md-4" for="owner_types">Contract Category:</label>
                                <div class="col-md-7 form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.category_name.$invalid && !insert_customer.category_name.$pristine }">
                                        <input type="text" class="form-control col-md-12" name="category_name" ng-model="insert_customer.cat_name" placeholder="Enter type of owner" required>
                                            <p ng-show="insert_customer.category_name.$invalid && !insert_customer.category_name.$pristine" class="help-block">Owner Type is required.</p>
                                </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                            <div class="row text-right">
                                    <div class="">
                                        <button type="submit" class="btn btn-info btn-rounded" ng-disabled="insert_customer.$invalid || insert_customer.$pristine">
                                                <span class="fa fa-plus"></span> Update
                                        </button>   
                                        <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                            <i class="fa fa-times"></i> Cancel</a>
                                    </div>
                            </div>
                           <!-- <div class="row text-right">
                                <div class="">                             
                                        <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                            <i class="fa fa-times"></i> Cancel
                                        </a>
                                </div>
                            </div>-->
                    </div>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>-->
        </div>
    </div>
</div>

<div class="modal fade" id="sample_modal" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>This is a small modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
