<span ng-include="global.sidebar">
</span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <!-- BEGIN CONTENT BODY -->
    <div ng-include="global.navUrl"></div>
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Contract Master</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                   
                            <div class="panel panel-success panel-hidden-controls">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Contract Types</h3>
                                        <!-- <button class="btn btn-danger btn-rounded pull-right" ng-click="model1_open()"><span class="fa fa-plus"></span> Add Customer Type</button> -->
                                    </div>
                                    <div class="panel-body">
                                        <!--<form class="form-inline col-md-10 pull-right" name="insert_1" id="insert_1" ng-submit="insert_conttype()" novalidate style="margin:2% 0%">
                                                <div class="row">
                                                    <div class="form-group col-md-10">
                                                        <label for="owner_types" class="col-md-3">Contract Type:</label>
                                                        <input type="text" class="form-control col-md-4" name="cont_name" ng-model="insert_1.cont_name" placeholder="Enter contract type">
                                                            <p ng-show="insert_1.cont_name.$invalid && !insert_1.cont_name.$pristine" class="help-block">Contract Type is required.</p>
                                                        <div class=" col-md-4">
                                                            <select class="form-control" name="cont_type1" ng-model="insert_1.contracttype" ng-options="types.id as types.cat_name for types in contract" required>
                                                            </select>
                                                                <p ng-show="insert_1.cont_type1.$invalid && !insert_1.cont_type1.$pristine" class="help-block">Contract Category  is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-2 pull-right">
                                                            <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert_1.$invalid || insert_1.$pristine"><span class="fa fa-plus"></span> Add New</button>
                                                    </div>
                                                </div>
                                            </form>-->
                                            <button type="button" class="col-md-2 btn btn-primary btn-rounded" data-toggle="modal" data-target="#excelcontract_type" style="margin-top: 23px;">
                                                Bulk Upload &nbsp; 
                                                <i class="fa fa-upload"></i>
                                            </button>
                                            <form name="insert_1" id="insert_1" ng-submit="insert_conttype()" class="form-horizontal col-md-10 pull-right" novalidate style="margin:2% 0%">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <label class="col-md-2 control-label" for="form_control_1">Contract Type:</label>
                                                                <div class="col-md-4 form-group form-md-line-input" ng-class="{ 'has-error' : insert_1.cont_name.$invalid && !insert_1.cont_name.$pristine }">
                                                                    <input type="text" class="form-control col-md-4" name="cont_name" ng-model="insert_1.contract_name" placeholder="Enter contract type" required>
                                                                    <p ng-show="insert_1.cont_name.$invalid && !insert_1.cont_name.$pristine" class="help-block">Contract Type is required.</p>
                                                                </div>
                                                            <label class="col-md-2 control-label" for="form_control_1">Contract Category:</label>
                                                                <div class="col-md-4 pull-right form-group form-md-line-input" ng-class="{ 'has-error' : insert_1.cont_type1.$invalid && !insert_1.cont_type1.$pristine }">
                                                                        <select class="form-control" name="cont_type1" ng-model="insert_1.contracttype" ng-options="types.id as types.cat_name for types in contract" required>
                                                                            </select>
                                                                                <p ng-show="insert_1.cont_type1.$invalid && !insert_1.cont_type1.$pristine" class="help-block">Contract Category  is required.</p>
                                                                </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group form-md-line-input">
                                                                    <div class="form-group pull-right">
                                                                        <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert_1.$invalid || insert_1.$pristine"><span class="fa fa-plus"></span> Add New</button>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                                   
                                            </form>
                                        </hr>
                                        <table class="table table-striped table-bordered text-center" datatable="ng">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"> ID </th>
                                                    <th class="text-center"> Contract Type </th>
                                                    <th class="text-center"> Category </th>
                                                    <th class="text-center"> Last update </th>
                                                    <th class="text-center"> Action </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="cont_data in contract_data">
                                                    <td>
                                                        <!-- <a ng-click="view_users(customers)">{{customers.id}}</a> -->
                                                        {{cont_data.id}}
                                                    </td>
                                                    <td>{{cont_data.contract_type}}</td>
                                                    <td>{{cont_data.cat_name}}</td>
                                                    <td>{{cont_data.updated_at}}</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button class="btn btn-info btn-rounded" ng-click="editcont_type(cont_data)">
                                                                <i class="fa fa-edit"></i> Edit </button>
                                                            <button class="btn btn-danger btn-rounded" ng-click="delete_conttype(cont_data.id)">
                                                                <i class="fa fa-trash-o"></i> Delete </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- <div class="panel-footer">
                                        <button class="btn btn-primary pull-right">Button</button>
                                    </div> -->
                                </div>
                   
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<!-- bulk contract-->
<div id="bulk_user1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border:0">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="error" style="display:none">
                        <label id="rowdata"></label>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="portlet light bordered" id="form_wizard_2" style="margin-bottom:0">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-user font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase"> Bulk User</span>
                            </div>
                        </div>
    
                        <div class="portlet-body form">
                            <form name="userForm" class="form-horizontal" ng-submit="bulkform()" novalidate>
                                <!-- BEGIN FORM-->
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-4 col-sm-12 text-right">
                                            <a class="btn btn-circle purple-sharp btn-outline sbold uppercase" href="">Sample Template</a>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <input type="file" multiple class="file" data-preview-file-type="any"/>
                                        </div>
                                       <!-- <div class="form-group col-md-5 col-sm-12">
                                            <div class="col-md-3">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="input-group input-large">
                                                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                            <span class="fileinput-filename"> </span>
                                                        </div>
                                                        <span class="input-group-addon btn default btn-file">
                                                            <span class="fileinput-new"> Select file </span>
                                                            <span class="fileinput-exists"> Change </span>
                                                            <input type="file" name="add_excel" id="add_excel"> </span>
                                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row text-center">
                                        <div class="">
                                            <a href="javascript:;" class="btn blue">
                                                <i class="fa fa-check"></i> Submit</a>
                                            <a href="javascript:;" class="btn red" data-dismiss="modal">
                                                <i class="fa fa-times"></i> Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
</div>

<!--Edit contract category Model -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#000">Edit Contract Category</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline row" name="insert_customer" id='insert_customer' ng-submit="update_contract()" novalidate>
                    <div class="form-body">
                            <div class="form-group ng-hide">
                                <label for="owner_types">Owner Type:</label>
                                    <input type="text" class="form-control" name="ids" ng-model="insert_customer.id" placeholder="Enter type of owner" required>
                                    <p ng-show="insert_customer.ids.$invalid && !insert_customer.ids.$pristine" class="help-block">Owner Type is required.</p>
                            </div>
                            <div class="row">
                                    <label class="col-md-3" for="owner_types">Contract Category:</label>
                                   
                                    <div class="col-md-7 form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.category_name.$invalid && !insert_customer.category_name.$pristine }">
                                            <input type="text" class="form-control col-md-12" name="category_name" ng-model="insert_customer.cat_name" placeholder="Enter type of owner" required>
                                             <p ng-show="insert_customer.category_name.$invalid && !insert_customer.category_name.$pristine" class="help-block">Owner Type is required.</p>
                                        </div>
                                    <button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="insert_customer.$invalid || insert_customer.$pristine">
                                        <span class="fa fa-plus"></span> Update</button>
                                
                            </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>

<!--edit support-->
<div id="support_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:#000">Edit Support Category</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline row" name="edit_support" id='edit_support' ng-submit="update_support()" novalidate>
                        <div class="form-body">
                                <div class="form-group ng-hide">
                                    <label for="owner_types">Owner Type:</label>
                                        <input type="text" class="form-control" name="idsup" ng-model="edit_support.id" placeholder="Enter type of owner" required>
                                        <p ng-show="edit_support.idsup.$invalid && !edit_support.idsup.$pristine" class="help-block">Owner Type is required.</p>
                                </div>
                                <div class="row">
                                        <label class="col-md-3" for="owner_types">Support Category:</label>
                                       
                                        <div class="col-md-7 form-group form-md-line-input" ng-class="{ 'has-error' : edit_support.support_name.$invalid && !edit_support.support_name.$pristine }">
                                                <input type="text" class="form-control col-md-12" name="support_name" ng-model="edit_support.support_category" placeholder="Enter type of owner" required>
                                                 <p ng-show="edit_support.support_name.$invalid && !edit_support.support_name.$pristine" class="help-block">Owner Type is required.</p>
                                            </div>
                                        <button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="edit_support.$invalid || edit_support.$pristine">
                                            <span class="fa fa-plus"></span> Update</button>
                                    
                                </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
            </div>
        </div>
</div>

<!--edit contract type-->
<div id="edit_conttype" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#000">Edit Contract Type</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline row" name="update_cont" id='update_cont' ng-submit="update_conttype()" novalidate>
                    <div class="form-body">
                            <div class="form-group ng-hide">
                                <label for="owner_types">Owner Type:</label>
                                    <input type="text" class="form-control" name="idsup" ng-model="update_cont.id" placeholder="Enter type of owner" required>
                                    <p ng-show="update_cont.idsup.$invalid && !update_cont.idsup.$pristine" class="help-block">Owner Type is required.</p>
                            </div>
                            <div class="row">
                                    <label class="col-md-3" for="owner_types">Contract Type:</label>
                                   
                                    <div class="col-md-7 form-group form-md-line-input" ng-class="{ 'has-error' : update_cont.conttype_name.$invalid && !update_cont.conttype_name.$pristine }">
                                            <input type="text" class="form-control col-md-12" name="conttype_name" ng-model="update_cont.contract_type" placeholder="Enter Contract type" required>
                                             <p ng-show="update_cont.conttype_name.$invalid && !update_cont.conttype_name.$pristine" class="help-block">Contract Type is required.</p>
                                        </div>
                                    <!--<button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="edit_support.$invalid || edit_support.$pristine">
                                        <span class="fa fa-plus"></span> Update</button>-->
                                
                            </div>
                            <div class="row ng-hide">
                                <div class="col-md-6 form-group form-md-line-input">
                                    <input type="text" class="form-control col-md-12" name="cont_id" ng-model="update_cont.cont_cat" placeholder="Enter Contract type" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-md-3" for="owner_types">Contract Category</label>
                                <div id="change_onclick">
                                    <div class="col-md-6 form-group form-md-line-input" ng-class="{ 'has-error' : update_cont.edit_contcat.$invalid && !update_cont.edit_contcat.$pristine }" >
                                        <input type="text" class="form-control col-md-12" name="edit_contcat" ng-model="update_cont.cat_name" placeholder="Enter type of owner" required ng-focus="load_contcats()">
                                         <p ng-show="update_cont.edit_contcat.$invalid && !update_cont.edit_contcat.$pristine" class="help-block">Category is required.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 ng-hide">
                                    <input type="text" class="form-control col-md-12" name="dynamic_value" ng-model="update_cont.dyn_id">
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="update_cont.$invalid || update_cont.$pristine">
                                    <span class="fa fa-plus"></span> Update</button>
                            </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>

<!--edit maintanance type-->
<div id="maintain_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#000">Edit Maintanance Type</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline row" name="maintain_data" id='maintain_data' ng-submit="update_maintain()" novalidate>
                    <div class="form-body">
                            <div class="form-group ng-hide">
                                <label for="owner_types">Owner Type:</label>
                                    <input type="text" class="form-control" name="idmain" ng-model="maintain_data.id" placeholder="Enter type of owner" required>
                                    <p ng-show="maintain_data.idmain.$invalid && !maintain_data.idmain.$pristine" class="help-block">Owner Type is required.</p>
                            </div>
                            <div class="row">
                                    <label class="col-md-3" for="owner_types">Maintainance Type:</label>
                                   
                                    <div class="col-md-7 form-group form-md-line-input" ng-class="{ 'has-error' : maintain_data.maintain_name.$invalid && !maintain_data.maintain_name.$pristine }">
                                            <input type="text" class="form-control col-md-12" name="maintain_name" ng-model="maintain_data.maintainance" placeholder="Enter Contract type" required>
                                             <p ng-show="maintain_data.maintain_name.$invalid && !maintain_data.maintain_name.$pristine" class="help-block">Contract Type is required.</p>
                                        </div>
                                    <!--<button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="edit_support.$invalid || edit_support.$pristine">
                                        <span class="fa fa-plus"></span> Update</button>-->
                                
                            </div>
                            <div class="row ng-hide">
                                    <div class="col-md-6 form-group form-md-line-input">
                                            <input type="text" class="form-control col-md-12" name="m_typehide" ng-model="maintain_data.maintainance" placeholder="Enter Contract type" required>
                                        </div>
                                <div class="col-md-6 form-group form-md-line-input">
                                    <input type="text" class="form-control col-md-12" name="m_id" ng-model="maintain_data.cont_cat" placeholder="Enter Contract type" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-md-3" for="owner_types">Contract Category</label>
                                <div id="change_onclick1">
                                    <div class="col-md-6 form-group form-md-line-input" ng-class="{ 'has-error' : maintain_data.m_contcat.$invalid && !maintain_data.m_contcat.$pristine }" >
                                        <input type="text" class="form-control col-md-12" name="m_contcat" ng-model="maintain_data.cat_name" placeholder="Enter type of owner" required ng-focus="load_mcontcats()">
                                         <p ng-show="maintain_data.m_contcat.$invalid && !maintain_data.m_contcat.$pristine" class="help-block">Category is required.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 ng-hide">
                                    <input type="text" class="form-control col-md-12" name="dynamic_mvalue" ng-model="maintain_data.dyn_mid">
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="maintain_data.$invalid || maintain_data.$pristine">
                                    <span class="fa fa-plus"></span> Update</button>
                            </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>

<!--Add User Model -->
<div id="add_user" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#000">Edit Owner Type</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <form class="form-inline row" name="insert_customer" id='insert_customer' ng-submit="updateownertype()" novalidate>
                        <div class="form-group ng-hide">
                            <label for="owner_types">Owner Type:</label>
                            <input type="text" class="form-control" name="ids" ng-model="insert_customer.id" placeholder="Enter type of owner">
                            <p ng-show="insert_customer.ids.$invalid && !insert_customer.ids.$pristine" class="help-block">Owner Type is required.</p>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="owner_types">Owner Type:</label>
                            <input type="text" class="form-control" name="ownertypes" ng-model="insert_customer.customer_type" placeholder="Enter type of owner">
                            <p ng-show="insert_customer.ownertypes.$invalid && !insert_customer.ownertypes.$pristine" class="help-block">Owner Type is required.</p>
                        </div>
                        <div class="form-group col-sm-6">
                            <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert_customer.$invalid || insert_customer.$pristine">
                                <span class="fa fa-plus"></span> Update Owner Type</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--bulk upload-->
<div id="bulk_user" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"style="color:  black;"> Bulk Upload</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" class="form-horizontal">                                        
                    <div class="form-group">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="col-md-6">
                                            <button type="button" class="btn btn-success" ng-click="view_example()">View Sample File</button>
                                    </div>
                                    <div class="col-md-6">
                                            <!-- <a href="<downloadLink>" download="fileName">Download</a>-->
                                            <a href="assets/files/excel/contract_excel.xlsx" download><button type="button"  class="btn btn-success">Download Sample Template</button></a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="file" class=" form-control file" name="contract_file" id="contract_file" file-model="myFile"/>
                                </div>
                                <div class="col-md-3">
                                        <label class="control-label"></label>
                                    <button type="button" class="btn btn-primary" ng-click="Import_excel()">
                                        <i class="fa fa-plus"></i>Upload
                                    </button>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
</div>
<!--image -->
<div id="sample_user" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <!--<div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>-->
            <div class="modal-body">
                <p>The excel sheet should be like this! </p>
                <div class="row" id="attach_excel" style ="width:200px; height:500px">
                    <img src="assets/img/contract_example.png" alt="Sample user excel"></img>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
</div>

<!--contract type bulk upload-->
<div id="excelcontract_type" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"style="color:  black;"> Bulk Upload</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" class="form-horizontal">                                        
                    <div class="form-group">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="col-md-6">
                                            <button type="button" class="btn btn-success" ng-click="contract_type()">View Sample File</button>
                                    </div>
                                    <div class="col-md-6">
                                            <!-- <a href="<downloadLink>" download="fileName">Download</a>-->
                                            <a href="assets/files/excel/contract_typeexample.xlsx" download><button type="button"  class="btn btn-success">Download Sample Template</button></a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                        <input type="file" multiple class=" form-control file" id="contract_file" file-model="mycont_File" data-preview-file-type="any"/>
                                </div>
                                <div class="col-md-3">
                                        <label class="control-label"></label>
                                    <button type="button" class="btn btn-primary" ng-click="upload_excel()">
                                        <i class="fa fa-plus"></i>Upload
                                    </button>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
</div>
<!--image-->
<div id="image_conttype" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
            <p>The excel sheet should be like this! </p>
            <div class="row" id="attach_excel" style ="width:200px; height:500px">
                <img src="assets/img/contracttype_example.png" alt="Sample user excel"></img>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
</div>

<!--Maintanance type bulk upload-->
<div id="excel_maintainance" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"style="color:  black;"> Bulk Upload</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" class="form-horizontal">                                        
                    <div class="form-group">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="col-md-6">
                                            <button type="button" class="btn btn-success" ng-click="maintanance_type()">View Sample File</button>
                                    </div>
                                    <div class="col-md-6">
                                            <!-- <a href="<downloadLink>" download="fileName">Download</a>-->
                                            <a href="assets/files/excel/maintanance_example.xlsx" download><button type="button"  class="btn btn-success">Download Sample Template</button></a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                        <input type="file" multiple class=" form-control file" id="maintain_file" file-model="main_File" data-preview-file-type="any"/>
                                </div>
                                <div class="col-md-3">
                                        <label class="control-label"></label>
                                    <button type="button" class="btn btn-primary" ng-click="upload_maintype()">
                                        <i class="fa fa-plus"></i>Upload
                                    </button>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
</div>
<!--image-->
<div id="image_maintain" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
            <p>The excel sheet should be like this! </p>
            <div class="row" id="attach_excel" style ="width:200px; height:500px">
                <img src="assets/img/maintanance_example.png" alt="Sample user excel"></img>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
</div>

<!--Support type bulk upload-->
<div id="excel_supporttype" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"style="color:  black;"> Bulk Upload</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" class="form-horizontal">                                        
                    <div class="form-group">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="col-md-6">
                                            <button type="button" class="btn btn-success" ng-click="support_type()">View Sample File</button>
                                    </div>
                                    <div class="col-md-6">
                                            <!-- <a href="<downloadLink>" download="fileName">Download</a>-->
                                            <a href="assets/files/excel/support_excel.xlsx" download><button type="button"  class="btn btn-success">Download Sample Template</button></a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="file" multiple class=" form-control file" id="support_file" file-model="sup_File" data-preview-file-type="any"/>
                                </div>
                                <div class="col-md-3">
                                        <label class="control-label"></label>
                                    <button type="button" class="btn btn-primary" ng-click="upload_supexcel()">
                                        <i class="fa fa-plus"></i>Upload
                                    </button>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
</div>
<!--image-->
<div id="image_support" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
            <p>The excel sheet should be like this! </p>
            <div class="row" id="attach_excel" style ="width:200px; height:500px">
                <img src="assets/img/support_example.png" alt="Sample user excel">
                </img>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
</div>