<style>
    .pac-container {
        z-index: 999999;
    }
    
    .has-error {
        color: red;
    }
    
    .error-message {
        color: red;
    }
    
    #selected_node {
        cursor: default !important;
    }
    
    ;
</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <div ng-include="global.navUrl"></div>
    <!-- BEGIN CONTENT BODY -->
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>Customer Management</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START PANEL WITH HIDDEN CONTROLS -->

                <div class="panel panel-success panel-hidden-controls">
                    <div class="panel-heading">
                        <h3 class="panel-title">Customer Details</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline pull-right" style="margin:2% 0%">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#add_customer" data-backdrop="static" data-keyboard="false">
                                    <span class="fa fa-plus"></span> Add Customer</button>
                            </div>
                        </form>
                        <table class="table table-striped table-bordered text-center" datatable="ng">
                            <thead>
                                <tr>
                                    <th class="text-center"> Name </th>
                                    <th class="text-center"> Email </th>
                                    <th class="text-center"> Phone </th>
                                    <th class="text-center"> Address </th>
                                    <th class="text-center"> Project </th>
                                    <th class="text-center"> Selected Floor </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="getcustomer in get_customer">
                                    <td>{{getcustomer.customer_name}}</td>
                                    <td>{{getcustomer.customer_email}}</td>
                                    <td>{{getcustomer.customer_phone}}</td>
                                    <td>{{getcustomer.customer_address}}</td>
                                    <td>{{getcustomer.customer_project}}</td>
                                    <td>{{getcustomer.customer_project_place}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END PANEL WITH HIDDEN CONTROLS -->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->




<!--Add User Model -->


<!--Add Customer Model -->
<div id="add_customer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1100px !important">
        <div class="panel panel-info" id="form_wizard_2" style="margin-bottom:0">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Add Customer</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="insert_customer" id='insert_customer' class="form-horizontal" ng-submit="insertcus()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row ng-hide">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.projectid.$invalid && !insert_customer.projectid.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                    <div class="col-md-9">
                                        <input type="text" name='projectid' class="form-control" ng-model="insert_customer.project_id" ng-readonly="insert_customer.project_id">
                                        <p ng-show="insert_customer.projectid.$invalid && !insert_customer.projectid.$pristine" class="help-block">Project id is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_name.$invalid && !insert_customer.cus_name.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Name<span class="mandatory">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" name='cus_name' class="form-control" ng-model="insert_customer.name" required>
                                        <p ng-show="insert_customer.cus_name.$invalid && !insert_customer.cus_name.$pristine" class="help-block">Customer Name is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_email.$invalid && !insert_customer.cus_email.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Email<span class="mandatory">*</span></label>
                                    <div class="col-md-9">
                                        <input type="email" name='cus_email' class="form-control" ng-model="insert_customer.email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                        <div ng-if="insert_customer.cus_email.$dirty" ng-messages="insert_customer.cus_email.$error">
                                            <div class="error-message" ng-message="required">Company Email is required</div>
                                            <div class="error-message" ng-message="pattern">Enter a valid email</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_number.$invalid && !insert_customer.cus_number.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Phone Number<span class="mandatory">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" name='cus_number' class="form-control" ng-model="insert_customer.number" ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10" required>
                                        <div ng-if="insert_customer.cus_number.$dirty" ng-messages="insert_customer.cus_number.$error">
                                            <div class="error-message" ng-message="required">This field is required</div>
                                            <div class="error-message" ng-message="pattern">Invalid mobile no</div>
                                            <div class="error-message" ng-message="maxlength">Mobile no can only be 10 digits</div>
                                            <div class="error-message" ng-message="minlength">Mobile no can only be 10 digits</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_altno.$invalid && !insert_customer.cus_altno.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Alternate Number<span class="mandatory">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" name='cus_altno' id='cus_altno' class="form-control" ng-model="insert_customer.altno" ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10" required>
                                        <div ng-if="insert_customer.cus_altno.$dirty" ng-messages="insert_customer.cus_altno.$error">
                                            <div class="error-message" ng-message="required">This field is required</div>
                                            <div class="error-message" ng-message="pattern">Invalid mobile no</div>
                                            <div class="error-message" ng-message="maxlength">Mobile no can only be 10 digits</div>
                                            <div class="error-message" ng-message="minlength">Mobile no can only be 10 digits</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_owner.$invalid && !insert_customer.cus_owner.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Owner Type<span class="mandatory">*</span></label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="insert_customer.cus_owner" required>
                                            <option ng-repeat="customers in customer" value="{{customers.customer_type}}">{{customers.customer_type}}</option>
                                        </select>
                                        <p ng-show="insert_customer.cus_owner.$invalid && !insert_customer.cus_owner.$pristine" class="help-block">Select Owner Type.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_address.$invalid && !insert_customer.cus_address.$pristine }">
                                    <label class="col-sm-1 control-label" for="form_control_1">Address<span class="mandatory">*</span></label>
                                    <div class="col-sm-11">
                                        <input type="text" name='cus_address' class="form-control" ng-model="insert_customer.address" required vs-google-autocomplete>
                                        <p ng-show="insert_customer.cus_address.$invalid && !insert_customer.cus_address.$pristine" class="help-block">Customer Address is Mandatory.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="" id="file_append">
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.id_details.$invalid && !insert_customer.id_details.$pristine && insert_customer.id_details=='' }">
                                    <label class="col-md-3 control-label" for="form_control_1">Type of ID<span class="mandatory">*</span></label>
                                    <div class="col-md-9">
                                        <select class="form-control" name='id_details' ng-model="insert_customer.id" required>
                                            <option selected="" disabled="" value="">Select a Id</option>
                                            <option ng-option value="national_id">National ID</option>
                                            <option ng-option value="passport">Passport Details</option>
                                            <option ng-option value="visa_details">VISA Details</option>
                                            <option ng-option value="commercial_licence">Commercial Licence</option>
                                            <option ng-option value="ded_registration">DED Registration Details</option>
                                            <option ng-option value="ejari_registration">Ejari Registration Details</option>
                                        </select>
                                        <p ng-show="insert_customer.id_details.$invalid && !insert_customer.id_details.$pristine && insert_customer.id_details==''" class="help-block">Choose any one ID.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-switch="insert_customer.id">
                            <div ng-switch-when="national_id" id="nationalllid">
                                <div class="row form-group nat_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">National ID<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='national_number' class="form-control" ng-model="insert_customer.national_no" required>
                                                <p ng-show="insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine" class="help-block">Enter a valid National ID.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_expairy.$invalid && !insert_customer.national_expairy.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expairy date<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='national_expairy' class="form-control" ng-model="insert_customer.national_expairydate" datetime-picker date-only date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.national_expairy.$invalid && !insert_customer.national_expairy.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.myFile.$invalid && !insert_customer.myFile.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="file" name='myFile' id='national_files' class="form-control" file-model="$parent.myFile" required>
                                                <p ng-show="insert_customer.myFile.$invalid && !insert_customer.myFile.$pristine" class="help-block">National files are required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group nat_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_nationalid()"> Attach<span class="mandatory">*</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="passport" id="passport_id">
                                <div class="row form-group pas_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.passport_number.$invalid && !insert_customer.passport_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Passport Number<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='passport_number' class="form-control" ng-model="insert_customer.passport_no" required>
                                                <p ng-show="insert_customer.passport_number.$invalid && !insert_customer.passport_number.$pristine" class="help-block">Enter a valid Passport Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.passport_date.$invalid && !insert_customer.passport_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expiry date<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='passport_date' class="form-control" ng-model="insert_customer.passport_xdate" datetime-picker date-only date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.passport_date.$invalid && !insert_customer.passport_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.passport_file.$invalid && !insert_customer.passport_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="file" name='passport_file' class="form-control" id='passport_file' file-model='$parent.passFile'>
                                                <p ng-show="insert_customer.passport_file.$invalid && !insert_customer.passport_file.$pristine" class="help-block">Last Name is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group pas_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_passportid()"> Attach <span class="mandatory">*</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="visa_details" id="visa_id">
                                <div class="row form-group visa_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.visa_number.$invalid && !insert_customer.visa_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">VISA Number<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='visa_number' class="form-control" ng-model="insert_customer.visa_no" required>
                                                <p ng-show="insert_customer.visa_number.$invalid && !insert_customer.visa_number.$pristine" class="help-block">Enter a valid VISA Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.visa_date.$invalid && !insert_customer.visa_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expairy date<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='visa_date' class="form-control" ng-model="insert_customer.visa_xdate" datetime-picker date-only date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.visa_date.$invalid && !insert_customer.visa_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.visa_file.$invalid && !insert_customer.visa_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="file" name='visa_file' class="form-control" id='visa_file' file-model='$parent.visafile' required>
                                                <p ng-show="insert_customer.visa_file.$invalid && !insert_customer.visa_file.$pristine" class="help-block">VISA File is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group visa_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_visaid()"> Attach <span class="mandatory">*</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="commercial_licence" id="commercial_id">
                                <div class="row form-group commercial_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.commercial_number.$invalid && !insert_customer.commercial_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Commercial Number<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='commercial_number' class="form-control" ng-model="insert_customer.commercial_no" required>
                                                <p ng-show="insert_customer.commercial_number.$invalid && !insert_customer.commercial_number.$pristine" class="help-block">Enter a valid Commercial Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.commercial_date.$invalid && !insert_customer.commercial_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expiry date<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='commercial_date' class="form-control" ng-model="insert_customer.commercial_xdate" datetime-picker date-only date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.commercial_date.$invalid && !insert_customer.commercial_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.commercial_file.$invalid && !insert_customer.commercial_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="file" name='commercial_file' class="form-control" id='commercial_file' file-model='$parent.commercialfile' required>
                                                <p ng-show="insert_customer.commercial_file.$invalid && !insert_customer.commercial_file.$pristine" class="help-block">Commercial File is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group commercial_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_commercialid()"> Attach <span class="mandatory">*</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="ded_registration" id="ded_id">
                                <div class="row form-group ded_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ded_number.$invalid && !insert_customer.ded_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">DED Number<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='ded_number' class="form-control" ng-model="insert_customer.ded_no" required>
                                                <p ng-show="insert_customer.ded_number.$invalid && !insert_customer.ded_number.$pristine" class="help-block">Enter a valid DED Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ded_date.$invalid && !insert_customer.ded_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expiry date<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='ded_date' class="form-control" ng-model="insert_customer.ded_xdate" datetime-picker date-only date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.ded_date.$invalid && !insert_customer.ded_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ded_file.$invalid && !insert_customer.ded_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="file" name='ded_file' class="form-control" id='ded_file' file-model='$parent.dedfile' required>
                                                <p ng-show="insert_customer.ded_file.$invalid && !insert_customer.ded_file.$pristine" class="help-block">DED File is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group ded_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_dedid()"> Attach <span class="mandatory">*</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="ejari_registration" id="ejari_id">
                                <div class="row form-group ejari_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ejari_number.$invalid && !insert_customer.ejari_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">EJARI Number<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='ejari_number' class="form-control" ng-model="insert_customer.ejari_no" required>
                                                <p ng-show="insert_customer.ejari_number.$invalid && !insert_customer.ejari_number.$pristine" class="help-block">Enter a valid EJARI Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ejari_date.$invalid && !insert_customer.ejari_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expiry date<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" name='ejari_date' class="form-control" ng-model="insert_customer.ejari_xdate" datetime-picker date-only date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.ejari_date.$invalid && !insert_customer.ejari_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ejari_file.$invalid && !insert_customer.ejari_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File<span class="mandatory">*</span></label>
                                            <div class="col-md-9">
                                                <input type="file" name='ejari_file' class="form-control" id='ejari_file' file-model='$parent.ejarifile' required>
                                                <p ng-show="insert_customer.ejari_file.$invalid && !insert_customer.ejari_file.$pristine" class="help-block">EJARI File is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group ejari_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_ejariid()"> Attach <span class="mandatory">*</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.projectname.$invalid && !insert_customer.projectname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Project</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="projectname" ng-model="insert_customer.project_name" required readonly>

                                        <div ng-if="insert_customer.projectname.$dirty || insert_customer.projectname.$pristine" ng-messages="insert_customer.projectname.$error">
                                            <div class="error-message" ng-message="required">This field is required</div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.selected_nodes.$invalid && !insert_customer.selected_nodes.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Selected nodes</label>
                                    <div class="col-md-9">
                                        <input type="text" name='selected_nodes' id="selected_node" class="form-control" ng-model="insert_customer.selected_node" ng-click="append_tree()">
                                        <p ng-show="insert_customer.selected_nodes.$invalid && !insert_customer.selected_nodes.$pristine" class="help-block">Wbs Select is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                <button class="btn sm btn-info btn-rounded" type="submit" id="submit" ng-disabled="insert_customer.$invalid || insert_customer.$pristine">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<div id="tree_loading" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-info" id="form_wizard_2" style="margin-bottom:0">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Select Floor</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-body">
                    <div id="tree_loaded"></div>
                </div>
                <div class="form-actions">
                    <div class="row text-center">
                        <div class="">
                            <button class="btn sm btn-info btn-rounded" type="submit" id="submit" ng-click="addEventListener()">
                                <i class="fa fa-check"></i> Submit</button>
                            <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                <i class="fa fa-times"></i> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>