<style>
    .pac-container {
        z-index: 999999;
    }
    
    ;
</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <div ng-include="global.navUrl"></div>
    <!-- BEGIN CONTENT BODY -->
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>Customer Type Management</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START PANEL WITH HIDDEN CONTROLS -->
                <div class="panel panel-success panel-hidden-controls">
                    <div class="panel-heading">
                        <h3 class="panel-title">Customer Type</h3>
                        <!-- <button class="btn btn-danger btn-rounded pull-right" ng-click="model1_open()"><span class="fa fa-plus"></span> Add Customer Type</button> -->
                    </div>
                    <div class="panel-body">
                        <form class="form-inline pull-right" name="insert" id='insert' ng-submit="insertownertype()" novalidate style="margin:2% 0%">
                            <div class="form-group">
                                <label for="owner_types">Owner Type:</label>
                                <input type="text" class="form-control" name="ownertypes" ng-model="insert.ownertype" placeholder="Enter type of owner">
                                <p ng-show="insert.ownertypes.$invalid && !insert.ownertypes.$pristine" class="help-block">Owner Type is required.</p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert.$invalid || insert.$pristine">
                                    <span class="fa fa-plus"></span> Add Owner Type</button>
                            </div>
                        </form>
                        </hr>
                        <table class="table table-striped table-bordered text-center" datatable="ng">
                            <thead>
                                <tr>
                                    <th class="text-center"> ID </th>
                                    <th class="text-center"> Owner Type </th>
                                    <th class="text-center"> Last Update </th>
                                    <th class="text-center"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customers in customer">
                                    <td>
                                        <!-- <a ng-click="view_users(customers)">{{customers.id}}</a> -->
                                        {{customers.id}}
                                    </td>
                                    <td>{{customers.customer_type}}</td>
                                    <td>{{customers.updated_at }} </td>
                                    <td>
                                        <button class="btn btn-info btn-rounded" ng-click="edit_owner(customers)">
                                            <i class="fa fa-edit"></i> Edit </button>


                                        <button class="btn btn-danger btn-rounded" ng-bootbox-confirm="Do you realy want to delete this customer type?" ng-bootbox-confirm-action="delete_owner(customers.id)">
                                                    <i class="fa fa-trash-o"></i> Delete </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="panel-footer">
                        <button class="btn btn-primary pull-right">Button</button>
                    </div> -->
                </div>

                <!-- END PANEL WITH HIDDEN CONTROLS -->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->


<!--Edit Owner Model -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#000">Edit Owner Type</h4>
            </div>
            <div class="modal-body">

                <form class="form-inline row" name="edit_ownertypes" id='edit_ownertypes' ng-submit="updateownertype()" novalidate>
                    <div class="form-group ng-hide">
                        <label for="owner_types">Owner Type:</label>
                        <input type="text" class="form-control" name="ids" ng-model="edit_ownertypes.id" placeholder="Enter type of owner">
                        <p ng-show="edit_ownertypes.ids.$invalid && !edit_ownertypes.ids.$pristine" class="help-block">Owner Type is required.</p>
                    </div>
                    <div class="form-group col-sm-8">
                        <label for="owner_types">Owner Type:</label>
                        <input type="text" class="form-control" name="ownertypes" ng-model="edit_ownertypes.customer_type" placeholder="Enter type of owner">
                        <p ng-show="edit_ownertypes.ownertypes.$invalid && !edit_ownertypes.ownertypes.$pristine" class="help-block">Owner Type is required.</p>
                    </div>
                    <div class="form-group col-sm-4 pull-right">
                        <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert_customers.$invalid || insert_customers.$pristine">
                                <span class="fa fa-plus"></span> Update Owner Type</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Add User Model -->


<!--Add Customer Model -->