<span ng-include="global.sidebar">
</span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <div ng-include="global.navUrl"></div>
    <!-- BEGIN CONTENT BODY -->
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT --> 