<style>
    .has-error {
        color: red;
    }

    ;
    .has-success {
        color: black;
    }

    ;
    .pac-container {
        z-index: 999999;
    }

    ;
</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <!-- BEGIN CONTENT BODY -->
    <div ng-include="global.navUrl"></div>
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            Edit Assessment</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success panel-hidden-controls">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Assessment</h3>
                    </div>
                    <div class="panel-body">
                        <form name="edit_assess" id='edit_assess' class="form-horizontal" ng-submit="updateassessment()" novalidate>
                            <div ng-if="errorMessage" class="error">
                                <p>{{ errorMessage }}</p>
                            </div>
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="col-md-12">
                                    <div class="panel panel-success panel-hidden-controls">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Assessment Edit</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_assess.id.$invalid && !edit_assess.id.$pristine }">
                                                    <label class="col-md-4 control-label" for="form_control_1">Id</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" ng-model="editassess.id" required>
                                                        <p ng-show="edit_assess.id.$invalid && !edit_assess.id.$pristine" class="help-block">Assessment Id is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_assess.assessment_id.$invalid && !edit_assess.assessment_id.$pristine }">
                                                    <label class="col-md-4 control-label" for="form_control_1">Assessment ID</label>
                                                    <div class="col-md-6">
                                                        <input type="text"  class="form-control" ng-model="editassess.assessment_id" required>
                                                        <p ng-show="edit_assess.assessment_id.$invalid && !edit_assess.assessment_id.$pristine" class="help-block">Assessment assessment_id is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_assess.title.$invalid && !edit_assess.title.$pristine }">
                                                    <label class="col-md-4 control-label" for="form_control_1">Title</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name='title' class="form-control" ng-model="editassess.title" required >
                                                        <p ng-show="edit_assess.title.$invalid && !edit_assess.title.$pristine" class="help-block">Assessment Title is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_assess.type.$invalid && !edit_assess.type.$pristine }">
                                                    <label class="col-md-4 control-label" for="form_control_1">Type</label>
                                                    <div class="col-md-6">
                                                        <select class="form-control" id="type" name="type" ng-model="editassess.type">
                                                            <option value="generic">Generic Assessment</option>
                                                            <option value="technology">Technology Assessment</option>
                                                            <option value="product">Product Assessment</option>
                                                        </select>
                                                        <p ng-show="edit_assess.type.$invalid && !edit_assess.type.$pristine" class="help-block">Assessment Title is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="editassess.type == 'product'">
                                                <br>
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_assess.product.$invalid && !edit_trai.product.$pristine }">
                                                    <label class="col-md-4 control-label" for="form_control_1">Product Category</label>
                                                    <div class="col-md-6">
                                                        <select class="form-control" id="type" name="type" ng-model="editassess.productcategory">
                                                            <option ng-repeat="x in get_supportmodel" value="{{x.support_category}}">{{x.support_category}}</option>
                                                        </select>
                                                        <p ng-show="edit_assess.product.$invalid && !edit_assess.product.$pristine" class="help-block">Product Category is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-success panel-hidden-controls">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Quiz</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row pull-right" style="margin-bottom:1%">
                                                <div class="col-lg-12">
                                                    <div class="btn-group">
                                                        <button id="sample_editable_1_new" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#assesssment" data-backdrop="static"
                                                            data-keyboard="false"> Bulk Upload
                                                            <i class="fa fa-upload"></i>
                                                        </button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button id="sample_editable_1_new" class="btn btn-success btn-rounded" ng-click="add_quizs()"> Add Quiz
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-striped table-bordered" datatable="ng">
                                                <thead>
                                                    <tr>
                                                        <th> Question </th>
                                                        <th> Choice A </th>
                                                        <th> Choice B </th>
                                                        <th> Choice C </th>
                                                        <th> Choice D </th>
                                                        <th> Correct Ans </th>
                                                        <th> Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr ng-repeat="assessments in assessment">
                                                                        <td>
                                                                            {{assessments.title}}
                                                                        </td>
                                                                        <td>
                                                                            <p ng-if="assessments.type == 'generic'"> Generic Training </p>
                                                                            <p ng-if="assessments.type == 'technology'"> Technology Training</p>
                                                                            <p ng-if="assessments.type == 'product'"> Product Training</p>
                                                                        </td>
                                                                        <td>
                                                                            <p ng-if="assessments.type == 'product'"> {{assessments.productcategory}}</p>
                                                                            <p ng-if="assessments.type != 'product'"> -</p>
                                                            
                                                                        </td>
                                                                        <td>
                                                                            <button class="btn btn-info btn-rounded" ng-click="edit_assessment(assessments)">
                                                                                <i class="fa fa-edit"></i> Edit </button>
                                                                            <button class="btn btn-danger btn-rounded" ng-bootbox-confirm="Do you realy want to delete this training?" ng-bootbox-confirm-action="delete_assessment(assessments.id)">
                                                                                <i class="fa fa-trash-o"></i> Delete </button>
                                                                        </td>
                                                                        </td>
                                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-actions">
                                <div class="row text-center">
                                    <div class="">
                                        <button class="btn sm btn-info btn-rounded" ng-disabled="edit_assess.$invalid" type="submit" id="submit">
                                            <i class="fa fa-check"></i> Submit</button>
                                        <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                            <i class="fa fa-times"></i> Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<!--Add Quiz Model -->
<div id="add_quiz" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Add Quiz</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="insert_quiz" id='insert_quiz' class="form-horizontal" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div id="append_files">
                            <div class="row">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_quiz.id_0.$invalid && !insert_quiz.id_0.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Quiz id</label>
                                    <div class="col-md-9">
                                        <input type="text" name='id_0' class="form-control" ng-model="insertquiz.quiz_id_0" required>
                                        <p ng-show="insert_quiz.id_0.$invalid && !insert_quiz.id_0.$pristine" class="help-block">Quiz ID is required.</p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_quiz.question_0.$invalid && !insert_quiz.question_0.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Question</label>
                                        <div class="col-md-9">
                                            <input type="text" name='question_0' class="form-control" ng-model="insertquiz.question_0" required>
                                            <p ng-show="insert_quiz.question_0.$invalid && !insert_quiz.question_0.$pristine" class="help-block">Question is Mandatory.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_quiz.option_a_0.$invalid && !insert_quiz.option_a_0.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Option A</label>
                                        <div class="col-md-9">
                                            <input type="text" name='option_a_0' class="form-control" ng-model="insertquiz.option_a_0" required>
                                            <p ng-show="insert_quiz.option_a_0.$invalid && !insert_quiz.option_a_0.$pristine" class="help-block">Option A is Mandatory.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_quiz.option_b_0.$invalid && !insert_quiz.option_b_0.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Option B</label>
                                        <div class="col-md-9">
                                            <input type="text" name='option_b_0' class="form-control" ng-model="insertquiz.option_b_0" required>
                                            <p ng-show="insert_quiz.option_b_0.$invalid && !insert_quiz.option_b_0.$pristine" class="help-block">Option B is Mandatory.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_quiz.option_c_0.$invalid && !insert_quiz.option_c_0.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Option C</label>
                                        <div class="col-md-9">
                                            <input type="text" name='option_c_0' class="form-control" ng-model="insertquiz.option_c_0" required>
                                            <p ng-show="insert_quiz.option_c_0.$invalid && !insert_quiz.option_c_0.$pristine" class="help-block">Option C is Mandatory.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_quiz.option_d_0.$invalid && !insert_quiz.option_d_0.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Option D</label>
                                        <div class="col-md-9">
                                            <input type="text" name='option_d_0' class="form-control" ng-model="insertquiz.option_d_0" required>
                                            <p ng-show="insert_quiz.option_d_0.$invalid && !insert_quiz.option_d_0.$pristine" class="help-block">Option D is Mandatory.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_quiz.correct_ans_0.$invalid && !insert_quiz.correct_ans_0.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Correct Ans</label>
                                        <div class="col-md-9">
                                            <input type="text" name='correct_ans_0' class="form-control" ng-model="insertquiz.correct_ans_0" required>
                                            <p ng-show="insert_quiz.correct_ans_0.$invalid && !insert_quiz.correct_ans_0.$pristine" class="help-block">Correct Answer is Mandatory.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div id="new_append_quiz">
                        
                        </div>
                        <div class="row" id="add_newquiz">
                            <div class="pull-right" style="margin-right:1%">
                                <button type="submit" class="btn sm btn-success btn-rounded" ng-click="add_newquiz()">
                                    <i class="fa fa-plus"></i> Add Quiz</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <button class="btn sm btn-info btn-rounded" ng-disabled="insert_quiz.$invalid" type="submit" id="submit" ng-click="add_quiz()">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>

</div>