<style>
    .pac-container{
        z-index:999999;
    };
    .circleBase {
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    }
    .type1 {
        width: 70px;
        height: 70px;
        background: #ffff0000;
        border: 1px solid #928e8e94;
        border-radius: 50%;
    }
    .type2 {
        width: 50px;
        height: 50px;
        background: #ffff0000;
        border: 1px solid #928e8e94;
        border-radius: 50%;
    }
    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }
    form .progress {
        line-height: 15px;
    }
    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }
    .progress div {
        font-size: smaller;
        background: orange;
        width: 0;
    }
    * {
        box-sizing: border-box;
    }
    .display-row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

/* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }

</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <div ng-include="global.navUrl"></div>
    <!-- BEGIN CONTENT BODY -->
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>News Feed</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
               
            <div class="col-md-8 col-md-offset-2">
                <!-- START PANEL WITH HIDDEN CONTROLS -->
                <!--<div class="col-md-12" style="background-color:  white;box-shadow: 2px 1px 2px 2px #bbb6b6;">
                    <p>Share an article, photo, video or idea</p>
                    <hr>
                    <span class="badge badge-default">Likes <span>18</span></span>
                </div>-->
                
                    <div class="post-content">
                        
                            <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/post_images/1.jpg" alt="post-image" class="img-responsive post-image3" />
                            <div class="post-container">
                                <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="user" class="profile-photo-md pull-left" />
                                <div class="post-detail">
                                  <div class="user-info">
                                    <h5><a href="timeline.html" class="profile-link">Sophia Lee</a> <span class="following">following</span></h5>
                                    <p class="text-muted">Updated her status about 33 mins ago</p>
                                  </div>
                                  <div class="reaction">
                                    <span class="btn text-green"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 75</span>
                                    <span class="btn text-red"><i class="fa fa-comments-o" aria-hidden="true"></i> 4</span>
                                  </div>
                                  <div class="line-divider"></div>
                                  <div class="post-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                  </div>
                                  <div class="line-divider"></div>
                                   <div class="post-comment">
                                    <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/man.png" alt="" class="profile-photo-sm" />
                                    <p><a href="timeline.html" class="profile-link">Olivia </a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud </p>
                                  </div>
                                  <div class="post-comment">
                                    <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/user-1.jpg" alt="" class="profile-photo-sm" />
                                    <p><a href="timeline.html" class="profile-link">Sarah</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                  </div>
                                  <div class="post-comment">
                                    <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/user-2.jpg" alt="" class="profile-photo-sm" />
                                    <p><a href="timeline.html" class="profile-link">Linda</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                  </div>
                                  <div class="post-comment">
                                    <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/dummyuser.png" alt="" class="profile-photo-sm" />
                                    <input type="text" class="form-control" placeholder="Post a comment">
                                  </div>
                                </div>
                              </div>
                    </div>

                    <div class="post-content">
                            <video class="post-video" controls> <source src="http://localhost:8080/2018-03-12/FMS/public/assets/img/8.mp4" type="video/mp4"> </video>
                           <div class="post-container">
                             <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/dummyuser.png" alt="user" class="profile-photo-md pull-left" />
                             <div class="post-detail">
                               <div class="user-info">
                                 <h5><a href="timeline.html" class="profile-link">Sophia Lee</a> <span class="following">following</span></h5>
                                 <p class="text-muted">Updated her status about 33 mins ago</p>
                               </div>
                               <div class="reaction">
                                 <a class="btn text-green"><i class="icon ion-thumbsup"></i> 75</a>
                                 <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 8</a>
                               </div>
                               <div class="line-divider"></div>
                               <div class="post-text">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                               </div>
                               <div class="line-divider"></div>
                                <div class="post-comment">
                                 <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/man.png" alt="" class="profile-photo-sm" />
                                 <p><a href="timeline.html" class="profile-link">Olivia </a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud </p>
                               </div>
                               <div class="post-comment">
                                 <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/user-2.jpg" alt="" class="profile-photo-sm" />
                                 <p><a href="timeline.html" class="profile-link">Sarah</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                               </div>
                               <div class="post-comment">
                                 <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="" class="profile-photo-sm" />
                                 <p><a href="timeline.html" class="profile-link">Linda</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                               </div>
                               <div class="post-comment">
                                 <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/post_images/1.jpg" alt="" class="profile-photo-sm" />
                                 <input type="text" class="form-control" placeholder="Post a comment">
                               </div>
                             </div>
                           </div>
                    </div>
                    <div class="post-content">
                        <div class="display-row"> 
                            <div class="column">
                              <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/nature1.jpeg" style="width: 134%;">
                            </div>
                            <div class="column">
                                <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/nature2.jpg" style="width: 166%; padding-left: 58px;">
                            </div>
                            <div class="column">
                                <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/nature3.jpg" style="width: 198%; padding-left: 117px;">
                            </div>
                        </div>
                       <div class="post-container">
                         <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/dummyuser.png" alt="user" class="profile-photo-md pull-left" />
                         <div class="post-detail">
                           <div class="user-info">
                             <h5><a href="timeline.html" class="profile-link">Sophia Lee</a> <span class="following"></span></h5>
                             <p class="text-muted">Updated her status Enjoying Nature</p>
                           </div>
                           <div class="reaction">
                             <a class="btn text-green"><i class="icon ion-thumbsup"></i> 75</a>
                             <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 8</a>
                           </div>
                           <div class="line-divider"></div>
                           <div class="post-text">
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                           </div>
                           <div class="line-divider"></div>
                            <div class="post-comment">
                             <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/man.png" alt="" class="profile-photo-sm" />
                             <p><a href="timeline.html" class="profile-link">Olivia </a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud </p>
                           </div>
                           <div class="post-comment">
                             <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/user-2.jpg" alt="" class="profile-photo-sm" />
                             <p><a href="timeline.html" class="profile-link">Sarah</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                           </div>
                           <div class="post-comment">
                             <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="" class="profile-photo-sm" />
                             <p><a href="timeline.html" class="profile-link">Linda</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                           </div>
                           <div class="post-comment">
                             <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/post_images/1.jpg" alt="" class="profile-photo-sm" />
                             <input type="text" class="form-control" placeholder="Post a comment">
                           </div>
                         </div>
                       </div>
                </div>

               <!-- <div class="panel panel-default">
                    <div class="panel-body">
                        
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="form-group col-md-11">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="circleBase type1"></div>
                                        </div>
                                        <span>Ramya Ramkumar</span>
                                    </div>
                                    <textarea rows="7" placeholder="Share an article,idea or photo" style="
                                            width: 456 px;
                                            min-width: 728px;
                                            max-width: 728px;
                                            border-bottom-color:  #a29d9d38;
                                            border-top-color: #ffffffff;
                                            border-left-color: #ffffffff;
                                            border-right-color: #ffffffff;
                                    ">
                                    </textarea>
                                    
                                </div>
                                <br>
                                <p></p>
                                <div class="form-group col-md-12">
                                    
                                    <button class="btn btn-primary btn-rounded" style="border-width: thin;">
                                        <i class="fa fa-camera" aria-hidden="true"></i> 
                                        <span style="font-size: 15px;font-weight: normal;">Images</span>
                                    </button>
                                    <button class="btn btn-primary btn-rounded" style="border-width: thin;">
                                            <i class="fa fa-video-camera" aria-hidden="true"></i> 
                                            <span style="font-size: 15px;font-weight: normal;">Video</span>
                                        </button>
                                    <button class="col-md-1 pull-right btn btn-info" style="background-color:  #0073b1;border-color:  #0073b1;padding-left: 8px;"> POST</button>
                                </div>
                        </form>                                    
                    </div>
                </div> -->
                <!--<div class="panel panel-default">
                    <div class="panel-body">
                        <p>Use search to find contacts. You can search by: name, address, phone. Or use the advanced search.</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-11">
                                    <textarea>
                                        Share an article, photo, video or idea
                                    </textarea>
                                    
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12" style="background-color: #a29d9d38;margin-top:  6px;">
                                </div>
                                <br>
                                <button class="btn btn-primary btn-rounded">images</button>
                                <button class="col-md-1 pull-right btn btn-info" style="background-color:  #0073b1;border-color:  #0073b1;padding-left: 8px;"> POST</button>
                            </div>
                        </form>                                    
                    </div>
                </div>-->
                <br><br><br><br>
                <div class="panel panel-success panel-hidden-controls">                        
                        <div class="panel-body">
                            <div class="timeline-item-content">
                                    <div class="timeline-heading padding-bottom-0">
                                        <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/dummyuser.png" style="width:21px"> <a href="#">John Doe</a> posted article <a href="#">How to...?</a>
                                    </div>                                        
                                    <div class="post-content">                                                                                        
                                        <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/candle.jpeg" width="200" class="img-text" align="left"> 
                                        <h4>Lorem ipsum dolor</h4>
                                        <p>Aenean ultricies condimentum pellentesque. Maecenas pulvinar arcu vel tortor aliquet commodo. Phasellus dapibus nisl quis nunc pharetra, id lobortis arcu sagittis. Nunc facilisis nibh non diam dictum, vitae iaculis tellus egestas. Curabitur vitae dui tempus, tempus metus vitae, cursus nunc. In cursus odio vitae metus commodo, in posuere ante varius.</p> 
                                        <p>Mauris sodales faucibus est, eu consequat dolor tristique in. Quisque at lacus sed ligula semper iaculis. In eu imperdiet ipsum. Ut vestibulum ornare venenatis.</p>           
                                        
                                    </div>                
                                    <div class="timeline-footer">
                                            <div class="timeline-item-content">
                                                    <div class="timeline-heading" style="padding-bottom: 10px;">
                                                            <span class="badge badge-default">Likes <span>18</span></span>
                                                            <span class="badge badge-default">Comments 2</span>
                                                    </div>                                        
                                                    <div class="timeline-body comments">
                                                        <div class="comment-item">
                                                            <p class="comment-head">
                                                                <a href="#">Dmitry Ivaniuk</a> <span class="text-muted">@Aqvatarius</span>
                                                            </p>
                                                            <p>Thank you so much... I would like to meet you :)</p>
                                                            <small class="text-muted">15min ago</small>
                                                        </div>                                            
                                                        <div class="comment-item">
                                                            <p class="comment-head">
                                                                <a href="#">Nadia Ali</a> <span class="text-muted">@nadiaAli</span>
                                                            </p>
                                                            <p>Sure, i will contact you ;)</p>
                                                            <small class="text-muted">16min ago</small>
                                                        </div>                                            
                                                        <div class="comment-write">                                                
                                                            <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                            </div>
                        </div>
                </div>
                <br>
                <div class="panel panel-info panel-hidden-controls">
                        
                        <div class="panel-body">
                            <div class="timeline-item-content">
                                    <div class="timeline-heading padding-bottom-0">
                                        <img class="type2" src="http://localhost:8080/2018-03-12/FMS/public/assets/img/varma.jpeg">
                                        <span style="font-size: 17px;font-weight: 500;">John Doe</span> 
                                    </div>                                        
                                    <div class="timeline-body">                                                                                        
                                        <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/happyppl.jpeg" width="200" class="img-text" align="left"> 
                                        <h4>Lorem ipsum dolor</h4>
                                        <p>Aenean ultricies condimentum pellentesque. Maecenas pulvinar arcu vel tortor aliquet commodo. Phasellus dapibus nisl quis nunc pharetra, id lobortis arcu sagittis. Nunc facilisis nibh non diam dictum, vitae iaculis tellus egestas. Curabitur vitae dui tempus, tempus metus vitae, cursus nunc. In cursus odio vitae metus commodo, in posuere ante varius.</p> 
                                        <p>Mauris sodales faucibus est, eu consequat dolor tristique in. Quisque at lacus sed ligula semper iaculis. In eu imperdiet ipsum. Ut vestibulum ornare venenatis.</p>           
                                        
                                    </div> 
                                    <hr>               
                                    <div class="timeline-footer">
                                            <div class="timeline-item-content">
                                                    <div class="timeline-heading" style="padding-bottom: 10px;">
                                                            <span class="badge badge-default">Likes <span>18</span></span>
                                                            <span class="badge badge-default">Comments 2</span>
                                                    </div>                                        
                                                    <div class="timeline-body comments">
                                                        <div class="comment-item">
                                                            <p class="comment-head">
                                                                <a href="#">Dmitry Ivaniuk</a> <span class="text-muted">@Aqvatarius</span>
                                                            </p>
                                                            <p>Thank you so much... I would like to meet you :)</p>
                                                            <small class="text-muted">15min ago</small>
                                                        </div>                                            
                                                        <div class="comment-item">
                                                            <p class="comment-head">
                                                                <a href="#">Nadia Ali</a> <span class="text-muted">@nadiaAli</span>
                                                            </p>
                                                            <p>Sure, i will contact you ;)</p>
                                                            <small class="text-muted">16min ago</small>
                                                        </div>                                            
                                                        <div class="comment-write">                                                
                                                            <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                            </div>
                        </div>
                </div>
               
                
                
       <!--div class="feed_div" id="feed_div">
                <div class="feed_box" id="postbox_1">
                    <div class="feed_left">
                        <p><img class="userimg" src="http://localhost:8080/test/facebook_wall/usericon.gif"/></p>
                        <p>Ravi</p>
                    </div>
                    <div class="feed_right">
                        <p>yfghuugrteufhhhhhety7r8gfhkjtgyr7uterhkkkkkkketruy</p>
                        <p class="likebox">
                            Total Like : 6&nbsp;|&nbsp;
                                <a class="link_btn dis_like_btn" postid="<?php echo $post['post_id']; ?>" href="javascript:;">Dislike</a>&nbsp;|&nbsp;
                                <a class="link_btn like_btn" postid="<?php echo $post['post_id']; ?>" href="javascript:;">Like</a>&nbsp;|&nbsp;
                            <a class="link_btn" href="javascript:;">Comment</a>
                        </p>                      
                        <div class="clear"></div>
                            <div class="comment_div">
                                <div class="clear"></div>
                                <div class="comment_ele">
                                    <p><a class="link_btn" href="javascript:;">Ram Kamal</a></p>
                                    <p>Beautiful one</p>
                                </div>
                            </div>
                        <div class="clear"></div>
                        <p>
                            <form id="commentform_123" method="post">
                                <input type="hidden" name="action" value="comment"/>
                                <input type="hidden" name="post_id" value="123"/>
                                <input class="input comment_input" type="text" name="comment" id="comment_123" placeholder="your comment"/>
                                <input class="submitbtn btn" postid="123" type="button" name="sendbtn" value=">"/>
                            </form>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            
        </div>-->
               
                
                <!-- END PANEL WITH HIDDEN CONTROLS -->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->


