<link rel="stylesheet" ng-href="../resources/assets/metronic_asset/pages/css/login.css">
<div ng-controller="UserController">
    <div bg set-height class="login">
        <!-- <div class="logo">
            <a href="index.html">
                <img src="../resources/assets/metronic_asset/layouts/layout5/img/logos.png" alt="Logo"> </a> 
        </div> -->
        <div class="content">
            <!-- FORM ============ -->
          
            <form class="login-form" name="userForm" ng-submit="submitForm()" novalidate>
            	<h3 class="form-title font-green">Sign In</h3>                                                       
                <div ng-if="errorMessage" class="error"><p>{{ errorMessage }}</p></div>
                <!-- NAME -->
                <!--<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" ng-model="user.name" required>
                    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
                </div>-->
                            
                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <label>Username</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email" required >
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>
                
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <!-- Password -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" required >
                    <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Password is Mandatory.</p>
                </div>            
                
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="userForm.$invalid">Submit</button>
                
            </form>
          </div>          
    <bg>	
</div>
