<span ng-include="global.sidebar">
</span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <!-- BEGIN CONTENT BODY -->
    <div ng-include="global.navUrl"></div>
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>Contract Master</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
            <div class="row pull-right" style="margin-bottom:1%">
                    <div class="btn-group">
                        <button id="sample_editable_1_new" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add_new"> Add New
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button id="sample_editable_1_new" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#excel_maintainance" data-backdrop="static" data-keyboard="false"> Bulk Upload
                            <i class="fa fa-upload"></i>
                        </button>
                    </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                        <div class="panel panel-success panel-hidden-controls">
                            <div class="panel-heading">
                                <h3 class="panel-title">Maintanance Types</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <button type="button" class="col-md-2 btn btn-primary btn-rounded" data-toggle="modal" data-target="#excel_maintainance" style="
                                    margin-top: 23px;">
                                        Bulk Upload &nbsp; <i class="fa fa-upload"></i>
                                    </button>                                    
                                    <form name="insert" id="insert" ng-submit="insert_maintaintype()" class="form-horizontal col-md-10 pull-right" novalidate style="margin:2% 0%">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <div class="col-md-8">
                                                            <label class="col-md-3 control-label" for="form_control_1">Maintanance Type:</label>
                                                                <div class="col-md-5 form-group form-md-line-input" ng-class="{ 'has-error' : insert.maintain.$invalid && !insert.maintain.$pristine }">
                                                                    <input type="text" class="form-control col-md-12" name="maintain" ng-model="insert.maintanance_type" placeholder="Enter Maintanance type" required>
                                                                    <p ng-show="insert.maintain.$invalid && !insert.maintain.$pristine" class="help-block">Maintanance Type is required.</p>
                                                                </div>
                                                                <div class="col-md-4" ng-class="{ 'has-error' : insert.mprice.$invalid && !insert.mprice.$pristine }">
                                                                    <input type="text" class="form-control" name="mprice" ng-model="insert.mtype_price" placeholder="Enter Price" required/>
                                                                    <p ng-show="insert.mprice.$invalid && !insert.mprice.$pristine" class="help-block">Price  is required.</p>
                                                                </div>
                                                        </div>
                                                        <div class="col-md-4 form-group form-md-line-input" ng-class="{ 'has-error' : insert.cont_type.$invalid && !insert.cont_type.$pristine }">
                                                                <select class="form-control" name="cont_type" ng-model="insert.contracttype" ng-options="types.id as types.cat_name for types in contract" required>
                                                                </select>
                                                                    <p ng-show="insert.cont_type.$invalid && !insert.cont_type.$pristine" class="help-block">Contract Category is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group form-md-line-input">
                                                            <label class="col-md-3 control-label" for="form_control_1"></label>
                                                            <div class="col-md-9">
                        
                                                                <div class="form-group">
                                                                        <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert.$invalid || insert.$pristine"><span class="fa fa-plus"></span> Add New</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                                   
                                    </form>
                                </div>
                            <!-- <form class="form-inline col-md-10 pull-right" name="insert" id="insert" ng-submit="insert_maintaintype()" novalidate style="margin:2% 0%">
                                    <div class="row">
                                        <div class="form-group col-md-10">
                                            <label for="maintanance" class="col-md-3">Maintanance Type:</label>
                                            <input type="text" class="form-control col-md-4" name="maintain" ng-model="insert.maintanance_type" placeholder="Enter Maintanance type">
                                                <p ng-show="insert.maintain.$invalid && !insert.maintain.$pristine" class="help-block">Maintanance Type is required.</p>
                                            <div class=" col-md-4">
                                                <select class="form-control" name="cont_type" ng-model="insert.contracttype" ng-options="types.id as types.cat_name for types in contract">
                                                </select>
                                                    <p ng-show="insert.cont_type.$invalid && !insert.cont_type.$pristine" class="help-block">Contract Category  is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2 pull-right">
                                                <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert.$invalid || insert.$pristine"><span class="fa fa-plus"></span> Add New</button>
                                        </div>
                                    </div>
                                    
                                </form>-->
                                </hr>
                                <table class="table table-striped table-bordered text-center" datatable="ng">
                                    <thead>
                                        <tr>
                                            <th class="text-center"> ID </th>
                                            <th class="text-center"> Maintanance Type </th>
                                            <th class="text-center"> Category </th>
                                            <th class="text-center"> Price </th>
                                            <th class="text-center"> updated_at </th>
                                            <th class="text-center"> Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mtype in maintain_type">
                                            <td>
                                                <!-- <a ng-click="view_users(customers)">{{customers.id}}</a> -->
                                                {{mtype.id}}
                                            </td>
                                            <td>{{mtype.maintainance}}</td>
                                            <td>{{mtype.cat_name}}</td> 
                                            <td>{{mtype.price}}</td> 
                                            <td>{{mtype.updated_at}}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-info btn-rounded" ng-click="edit_maintanance(mtype)">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </button>
                                                    <button class="btn btn-danger btn-rounded" ng-click="delete_mtype(mtype.id)">
                                                        <i class="fa fa-trash-o"></i> Delete 
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="panel-footer">
                                <button class="btn btn-primary pull-right">Button</button>
                            </div> -->
                    </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->


<!--edit maintanance type-->
<div id="maintain_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#000">Edit Maintanance Type</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline row" name="maintain_data" id='maintain_data' ng-submit="update_maintain()" novalidate>
                    <div class="form-body">
                            <div class="form-group ng-hide">
                                <label for="owner_types">Owner Type:</label>
                                    <input type="text" class="form-control" name="idmain" ng-model="maintain_data.id" placeholder="Enter type of owner" required>
                                    <p ng-show="maintain_data.idmain.$invalid && !maintain_data.idmain.$pristine" class="help-block">Owner Type is required.</p>
                            </div>
                            <div class="row">
                                    <label class="col-md-3" for="owner_types">Maintainance Type:</label>
                                   
                                    <div class="col-md-7 form-group form-md-line-input" ng-class="{ 'has-error' : maintain_data.maintain_name.$invalid && !maintain_data.maintain_name.$pristine }">
                                            <input type="text" class="form-control col-md-12" name="maintain_name" ng-model="maintain_data.maintainance" placeholder="Enter Contract type" required>
                                             <p ng-show="maintain_data.maintain_name.$invalid && !maintain_data.maintain_name.$pristine" class="help-block">Contract Type is required.</p>
                                        </div>
                                    <!--<button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="edit_support.$invalid || edit_support.$pristine">
                                        <span class="fa fa-plus"></span> Update</button>-->
                                
                            </div>
                            <div class="row ng-hide">
                                    <div class="col-md-6 form-group form-md-line-input">
                                            <input type="text" class="form-control col-md-12" name="m_typehide" ng-model="maintain_data.maintainance" placeholder="Enter Contract type" required>
                                        </div>
                                <div class="col-md-6 form-group form-md-line-input">
                                    <input type="text" class="form-control col-md-12" name="m_id" ng-model="maintain_data.cont_cat" placeholder="Enter Contract type" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-md-3" for="owner_types">Contract Category</label>
                                <div id="change_onclick1">
                                    <div class="col-md-6 form-group form-md-line-input" ng-class="{ 'has-error' : maintain_data.m_contcat.$invalid && !maintain_data.m_contcat.$pristine }" >
                                        <input type="text" class="form-control col-md-12" name="m_contcat" ng-model="maintain_data.cat_name" placeholder="Enter type of owner" required ng-focus="load_mcontcats()">
                                         <p ng-show="maintain_data.m_contcat.$invalid && !maintain_data.m_contcat.$pristine" class="help-block">Category is required.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 ng-hide">
                                    <input type="text" class="form-control col-md-12" name="dynamic_mvalue" ng-model="maintain_data.dyn_mid">
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="!maintain_data.m_contcat.$dirty && !maintain_data.maintain_name.$dirty">
                                    <span class="fa fa-plus"></span> Update</button>
                            </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>

<!--Maintanance type bulk upload-->
<div id="excel_maintainance" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"style="color:  black;"> Bulk Upload</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" class="form-horizontal">                                        
                    <div class="form-group">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="col-md-6">
                                            <button type="button" class="btn btn-success" ng-click="maintanance_type()">View Sample File</button>
                                    </div>
                                    <div class="col-md-6">
                                            <!-- <a href="<downloadLink>" download="fileName">Download</a>-->
                                            <a href="assets/files/excel/maintanance_example.xlsx" download><button type="button"  class="btn btn-success">Download Sample Template</button></a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                        <input type="file" multiple class=" form-control file" id="maintain_file" file-model="main_File" data-preview-file-type="any"/>
                                </div>
                                <div class="col-md-3">
                                        <label class="control-label"></label>
                                    <button type="button" class="btn btn-primary" ng-click="upload_maintype()">
                                        <i class="fa fa-plus"></i>Upload
                                    </button>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
</div>
<!--image-->
<div id="image_maintain" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
            <div class="modal-body">
                <p>The excel sheet should be like this! </p>
                <div class="row" id="attach_excel" style ="width:200px; height:500px">
                    <img src="assets/img/maintanance_example.png" alt="Sample user excel"></img>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
      </div>  
    </div>
</div>

<!--new maintanance type-->
<div id="add_new" class="modal fade" role="dialog">
        <div class="modal-dialog">      
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Maintanance Type</h4>
                </div>
                <div class="modal-body">
                        <form name="insert" id="insert" ng-submit="insert_maintaintype()" class="form-horizontal col-md-10 pull-right" novalidate style="margin:2% 0%">
                                <div class="form-body">
                                        <div class="row">
                                                <label class="col-md-3" for="owner_types">Maintainance Type:</label>
                                            
                                                <div class="col-md-7 form-group form-md-line-input" ng-class="{ 'has-error' : maintain_data.maintain_name.$invalid && !maintain_data.maintain_name.$pristine }">
                                                        <input type="text" class="form-control col-md-12" name="maintain_name" ng-model="maintain_data.maintainance" placeholder="Enter Contract type" required>
                                                        <p ng-show="maintain_data.maintain_name.$invalid && !maintain_data.maintain_name.$pristine" class="help-block">Contract Type is required.</p>
                                                    </div>
                                                <!--<button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="edit_support.$invalid || edit_support.$pristine">
                                                    <span class="fa fa-plus"></span> Update</button>-->
                                            
                                        </div>
                                        <br>
                                        <div class="row">
                                            <label class="col-md-3" for="owner_types">Contract Category</label>
                                            <div id="change_onclick1">
                                                <div class="col-md-6 form-group form-md-line-input" ng-class="{ 'has-error' : maintain_data.m_contcat.$invalid && !maintain_data.m_contcat.$pristine }" >
                                                    <input type="text" class="form-control col-md-12" name="m_contcat" ng-model="maintain_data.cat_name" placeholder="Enter type of owner" required ng-focus="load_mcontcats()">
                                                    <p ng-show="maintain_data.m_contcat.$invalid && !maintain_data.m_contcat.$pristine" class="help-block">Category is required.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-2 ng-hide">
                                                <input type="text" class="form-control col-md-12" name="dynamic_mvalue" ng-model="maintain_data.dyn_mid">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="!maintain_data.m_contcat.$dirty && !maintain_data.maintain_name.$dirty">
                                                <span class="fa fa-plus"></span> Update</button>
                                        </div>
                                </div>
                        </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
          </div>
      
        </div>
</div>