<style>
    .pac-container{
        z-index:999999;
    };
    .circleBase {
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    }
    .type1 {
        width: 70px;
        height: 70px;
        background: #ffff0000;
        border: 1px solid #928e8e94;
        border-radius: 50%;
    }
    .type2 {
        width: 50px;
        height: 50px;
        background: #ffff0000;
        border: 1px solid #928e8e94;
        border-radius: 50%;
    }
    #newOffer {
    font-size: 15px;
    font-weight: 200;
    border: 1px solid #dedede;
    border-radius: 3px;
    /*background-color: #ffffffb5; */
}
   
</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <div ng-include="global.navUrl"></div>
    <!-- BEGIN CONTENT BODY -->
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>News Feed</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- START PANEL WITH HIDDEN CONTROLS -->
                <!--<div class="col-md-12" style="background-color:  white;box-shadow: 2px 1px 2px 2px #bbb6b6;">
                    <p>Share an article, photo, video or idea</p>
                    <hr>
                    <span class="badge badge-default">Likes <span>18</span></span>
                </div>-->
                <div class="create-post">
                <form name="add_kb" id='add_kb' class="form-horizontal" ng-submit="insert_kb()" novalidate>
                        <div class="form-body">
                            <div class="col-md-10 col-md-offset-1" style="font-size:  14px;">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label">Select Post Type</label>
                                    <div class="col-md-9">
                                            <select class="form-control select" id="type" name="kb_type" ng-model="knowledge.kb_type" required style="font-size: 13px;">
                                                    <option selected disabled>Select Training Type</option>
                                                    <option value="social">Social</option>
                                                    <option value="event">Events</option>
                                                    <option value="classified">Classified</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label">Select Post Type</label>
                                <div class="col-md-9">
                                        <div class="radio">
                                                <label><input type="radio" name="optradio">Option 1</label>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
                                                <label><input type="radio" name="optradio">Option 1</label>
                                        </div>
                                        <div class="radio">
                                               
                                        </div>
                                        <input type="radio" ng-model="value" value="social" ng-change="newValue(value)">Social
                                        <input type="radio" ng-model="value" value="event" ng-change="newValue(value)">Events
                                        <input type="radio" ng-model="value" value="classified" ng-change="newValue(value)">Classified
                                </div>
                            </div>
                            <!-- <div ng-switch="myVar">
                                    <div ng-switch-when="dogs" id="newOffer" ng-click="just_sample()" class="col-md-10 col-md-offset-1">
                                            <div class="row">
                                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.product.$invalid && !add_kb.product.$pristine }">
                                                        <label class="col-md-3 control-label" for="form_control_1">Title</label>
                                                        <div class="col-md-8">
                                                            <!--<select class="form-control" name="product" ng-model="x.id">
                                                                <option ng-repeat="x in get_supportmodel" value="{{x.id}}">{{x.support_category}}</option>                                        
                                                            </select> -->
                                                            <!-- <select class="form-control" name="product" ng-model="knowledge.product" ng-options="sup.id as sup.support_category for sup in get_supportmodel" required>
                                                            </select>                                   
                                                            <p ng-show="add_kb.product.$invalid && !add_kb.product.$pristine" class="help-block">Product Category is required.</p>
                                                        </div>
                                                    </div>
                                            </div>
                                            <br>
                                            
                                            <div class="row">
                                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.product.$invalid && !add_kb.product.$pristine }">
                                                        <label class="col-md-3 control-label" for="form_control_1">Description</label>
                                                        <div class="col-md-9"> -->
                                                            <!--<select class="form-control" name="product" ng-model="x.id">
                                                                <option ng-repeat="x in get_supportmodel" value="{{x.id}}">{{x.support_category}}</option>                                        
                                                            </select> -->
                                                            <!-- <textarea class="form-control" name="product" ng-model="knowledge.product" required style="height: 170px;
                                                                width: 425px;
                                                                resize: none;
                                                                overflow-y: hidden;">
                                                            </textarea>
                                                            <p ng-show="add_kb.product.$invalid && !add_kb.product.$pristine" class="help-block">Product Category is required.</p>
                                                        </div>
                                                    </div>
                                            </div>
                                    </div>
                                    <div ng-switch-when="tuts">
                                       <h1>Tutorials</h1>
                                       <p>Learn from examples.</p>
                                    </div>
                                    <div ng-switch-when="cars">
                                       <h1>Cars</h1>
                                       <p>Read about cars.</p>
                                    </div>
                                  </div> -->
                            <br><br><br>
                            <div class="col-md-10 col-md-offset-1" id="newOffer" ng-if="knowledge.kb_type == 'social'">
                                <br>
                                <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.product.$invalid && !add_kb.product.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Title</label>
                                            <div class="col-md-8">
                                                <!--<select class="form-control" name="product" ng-model="x.id">
                                                    <option ng-repeat="x in get_supportmodel" value="{{x.id}}">{{x.support_category}}</option>                                        
                                                </select> -->
                                                <select class="form-control" name="product" ng-model="knowledge.product" ng-options="sup.id as sup.support_category for sup in get_supportmodel" required>
                                                </select>                                   
                                                <p ng-show="add_kb.product.$invalid && !add_kb.product.$pristine" class="help-block">Product Category is required.</p>
                                            </div>
                                        </div>
                                </div>
                                <br>
                                
                                <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.product.$invalid && !add_kb.product.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Description</label>
                                            <div class="col-md-9">
                                                <!--<select class="form-control" name="product" ng-model="x.id">
                                                    <option ng-repeat="x in get_supportmodel" value="{{x.id}}">{{x.support_category}}</option>                                        
                                                </select> -->
                                                <textarea class="form-control" name="product" ng-model="knowledge.product" required style="height: 170px;
                                                    width: 425px;
                                                    resize: none;
                                                    overflow-y: hidden;">
                                                </textarea>
                                                <p ng-show="add_kb.product.$invalid && !add_kb.product.$pristine" class="help-block">Product Category is required.</p>
                                            </div>
                                        </div>
                                </div>
                                
                                <br>
                                <h4>Standard date-picker</h4>
                                <datepicker>
                                    <input ng-model="date" type="text"/>
                                  </datepicker>
                                  <div class="row">
                                    <input type="file" multiple name="myImage" image-with-preview ng-model="image" accept="image/jpeg,image/png,image/jpg,video/mp4">
                                    <span class="error" ng-show="myForm.myImage.$error.image">
                                        Not a JPEG or a PNG!
                                    </span>
                                    <img ng-show="image.src" ng-src="{{image.src}}"/>                                
                                  </div>
                              <!--  <div class="row">
                                <button class="btn btn-primary btn-rounded" ngf-select="uploadFiles($files, $invalidFiles)" multiple
                                        accept="image/*,video/*" ngf-max-height="1000" ngf-max-size="6MB">
                                    Select Files
                                </button>
                                <br><br>
                                Files:
                                <ul>
                                  <li ng-repeat="f in files" style="font:smaller">{{f.file}} {{f.$errorParam}}
                                    <span class="progress" ng-show="f.progress >= 0">
                                      <div style="width:{{f.progress}}%"  
                                          ng-bind="f.progress + '%'"></div>
                                    </span>
                                  </li>
                                  <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                                  </li> 
                                </ul>
                            </div> -->
                            </div>

                            <div class="col-md-10 col-md-offset-1" id="newOffer" ng-if="knowledge.kb_type == 'event'">
                                <br>
                                <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.product.$invalid && !add_kb.product.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Event</label>
                                            <div class="col-md-8">
                                                <!--<select class="form-control" name="product" ng-model="x.id">
                                                    <option ng-repeat="x in get_supportmodel" value="{{x.id}}">{{x.support_category}}</option>                                        
                                                </select> -->
                                                <select class="form-control" name="product" ng-model="knowledge.product" ng-options="sup.id as sup.support_category for sup in get_supportmodel" required>
                                                </select>                                   
                                                <p ng-show="add_kb.product.$invalid && !add_kb.product.$pristine" class="help-block">Product Category is required.</p>
                                            </div>
                                        </div>
                                </div>
                                <br>
                                
                                <div class="row">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.product.$invalid && !add_kb.product.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Description</label>
                                            <div class="col-md-9">
                                                <!--<select class="form-control" name="product" ng-model="x.id">
                                                    <option ng-repeat="x in get_supportmodel" value="{{x.id}}">{{x.support_category}}</option>                                        
                                                </select> -->
                                                <textarea class="form-control" name="product" ng-model="knowledge.product" required style="height: 170px;
                                                    width: 425px;
                                                    resize: none;
                                                    overflow-y: hidden;">
                                                </textarea>
                                                <p ng-show="add_kb.product.$invalid && !add_kb.product.$pristine" class="help-block">Product Category is required.</p>
                                            </div>
                                        </div>
                                </div>
                                
                                <br>
                                <h4>Event date</h4>
                                <datepicker>
                                    <input ng-model="date" type="text"/>
                                  </datepicker>
                                  <br>
                                  <div class="row">
                                    <input type="file" multiple name="myImage" image-with-preview ng-model="image" accept="image/jpeg,image/png">
                                    <span class="error" ng-show="myForm.myImage.$error.image">
                                        Not a JPEG or a PNG!
                                    </span>
                                    <img ng-show="image.src" ng-src="{{image.src}}"/>                            
                                  </div>
                             
                            </div>

                            <div class="col-md-10 col-md-offset-1" id="newOffer" ng-if="knowledge.kb_type == 'classified'">
                                <h4>Classified</h4>
                                    <div class="row">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.product.$invalid && !add_kb.product.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Title</label>
                                                <div class="col-md-9">
                                                    <!--<select class="form-control" name="product" ng-model="x.id">
                                                        <option ng-repeat="x in get_supportmodel" value="{{x.id}}">{{x.support_category}}</option>                                        
                                                    </select> -->
                                                    <select class="form-control" name="product" ng-model="knowledge.product" ng-options="sup.id as sup.support_category for sup in get_supportmodel" required>
                                                    </select>                                   
                                                    <p ng-show="add_kb.product.$invalid && !add_kb.product.$pristine" class="help-block">Product Category is required.</p>
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_kb.product.$invalid && !add_kb.product.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Description</label>
                                                <div class="col-md-9">
                                                    <!--<select class="form-control" name="product" ng-model="x.id">
                                                        <option ng-repeat="x in get_supportmodel" value="{{x.id}}">{{x.support_category}}</option>                                        
                                                    </select> -->
                                                    <textarea class="form-control" name="product" ng-model="knowledge.product" required style="height: 170px;
                                                        width: 425px;
                                                        resize: none;
                                                        overflow-y: hidden;">
                                                    </textarea>
                                                    <p ng-show="add_kb.product.$invalid && !add_kb.product.$pristine" class="help-block">Product Category is required.</p>
                                                </div>
                                            </div>
                                    </div>
                                    
                                </div>
                        </div>
                    </form>
               
                </div>
                
                <!-- END PANEL WITH HIDDEN CONTROLS -->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->


<div id="social_post" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
            <div class="panel panel-default" id="form_wizard_2" style="margin-bottom:0">
                <div class="panel-heading">
                    <h3 class="panel-title" style="color: black;">Add Your Post</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="error" style="display:none">
                            <label id="rowdata"></label>
                        </div>
                </div>
                <div class="panel-body">
                    <form name="insert_post" id='insert_post' class="form-horizontal" ng-submit="insertpost()" novalidate>
                        <div ng-if="errorMessage" class="error">
                            <p>{{ errorMessage }}</p>
                        </div>
                        <!-- BEGIN FORM-->
                        <div class="form-body">
                               
                            <div class="row ng-hide">
                                <div class="col-sm-6">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.ids.$invalid && !insert_user.ids.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                        <div class="col-md-9">
                                            <input type="text" name='ids' class="form-control" ng-model="insert_user.id">
                                            <p ng-show="insert_user.ids.$invalid && !insert_user.ids.$pristine" class="help-block">ID is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Title</label>
                                        <div class="col-md-9">
                                            <input type="text" name='employeeid' class="form-control" ng-model="insert_user.employee_id" required>
                                            <p ng-show="insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine" class="help-block">Emp ID is required.</p>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <br>
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.addresses.$invalid && !insert_user.addresses.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Description</label>
                                        <div class="col-md-9">
                                            <textarea ng-model="insert_user.address" type="text" class="form-control" name='addresses' placeholder="Enter address"
                                                required style="resize: none;"></textarea>
                                            <p ng-show="insert_user.addresses.$invalid && !insert_user.addresses.$pristine" class="help-block">Address is required.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label" for="form_control_1">Proof</label>
                                        <div class="form-group col-md-9">
                                            <input type="file" name="myFile" id="national_files" class="form-control" file-model="$parent.myFile" valid-file required accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                            <span ng-show="insert_user.myFile.$dirty && insert_user.myFile.required">Proof is required</span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row">
                                <input type="file" id="file" name="file" custom-on-change="add" multiple/>
                                <br>
                                <img src={{img}}/>
                                <p>{{data}}</p>
                            </div>
                    
                    
                        
                        </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row text-right">
                                <div class="">
                                    <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                    <button class="btn sm btn-info btn-rounded" ng-disabled="insert_user.$invalid" type="submit" id="submit">
                                        <i class="fa fa-check"></i> Submit</button>
                                    <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                        <i class="fa fa-times"></i> Cancel</a>
                                        
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            
            </div>
    </div>
            
</div>

