<style>
    .pac-container{
        z-index:999999;
    };
    .circleBase {
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    }
    .type1 {
        width: 70px;
        height: 70px;
        background: #ffff0000;
        border: 1px solid #928e8e94;
        border-radius: 50%;
    }
    .type2 {
        width: 50px;
        height: 50px;
        background: #ffff0000;
        border: 1px solid #928e8e94;
        border-radius: 50%;
    }
   
</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <div ng-include="global.navUrl"></div>
    <!-- BEGIN CONTENT BODY -->
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>News Feed</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- START PANEL WITH HIDDEN CONTROLS -->
                <!--<div class="col-md-12" style="background-color:  white;box-shadow: 2px 1px 2px 2px #bbb6b6;">
                    <p>Share an article, photo, video or idea</p>
                    <hr>
                    <span class="badge badge-default">Likes <span>18</span></span>
                </div>-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="form-group col-md-11">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="circleBase type1"></div>
                                        </div>
                                        <span>Ramya Ramkumar</span>
                                    </div>
                                    <textarea rows="7" placeholder="Share an article,idea or photo" style="
                                            width: 456 px;
                                            min-width: 728px;
                                            max-width: 728px;
                                            border-bottom-color:  #a29d9d38;
                                            border-top-color: #ffffffff;
                                            border-left-color: #ffffffff;
                                            border-right-color: #ffffffff;
                                    ">
                                    </textarea>
                                    
                                </div>
                                <br>
                                <p></p>
                                <div class="form-group col-md-12">
                                    
                                    <button class="btn btn-primary btn-rounded" style="border-width: thin;">
                                        <i class="fa fa-camera" aria-hidden="true"></i> 
                                        <span style="font-size: 15px;font-weight: normal;">Images</span>
                                    </button>
                                    <button class="btn btn-primary btn-rounded" style="border-width: thin;">
                                            <i class="fa fa-video-camera" aria-hidden="true"></i> 
                                            <span style="font-size: 15px;font-weight: normal;">Video</span>
                                        </button>
                                    <button class="col-md-1 pull-right btn btn-info" style="background-color:  #0073b1;border-color:  #0073b1;padding-left: 8px;"> POST</button>
                                </div>
                        </form>                                    
                    </div>
                </div>
                <!--<div class="panel panel-default">
                    <div class="panel-body">
                        <p>Use search to find contacts. You can search by: name, address, phone. Or use the advanced search.</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-11">
                                    <textarea>
                                        Share an article, photo, video or idea
                                    </textarea>
                                    
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12" style="background-color: #a29d9d38;margin-top:  6px;">
                                </div>
                                <br>
                                <button class="btn btn-primary btn-rounded">images</button>
                                <button class="col-md-1 pull-right btn btn-info" style="background-color:  #0073b1;border-color:  #0073b1;padding-left: 8px;"> POST</button>
                            </div>
                        </form>                                    
                    </div>
                </div>-->
                <br><br><br><br>
                <div class="panel panel-success panel-hidden-controls">
                        
                        <div class="panel-body">
                            <div class="timeline-item-content">
                                    <div class="timeline-heading padding-bottom-0">
                                        <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/dummyuser.png" style="width:21px"> <a href="#">John Doe</a> posted article <a href="#">How to...?</a>
                                    </div>                                        
                                    <div class="timeline-body">                                                                                        
                                        <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/happyppl.jpeg" width="200" class="img-text" align="left"> 
                                        <h4>Lorem ipsum dolor</h4>
                                        <p>Aenean ultricies condimentum pellentesque. Maecenas pulvinar arcu vel tortor aliquet commodo. Phasellus dapibus nisl quis nunc pharetra, id lobortis arcu sagittis. Nunc facilisis nibh non diam dictum, vitae iaculis tellus egestas. Curabitur vitae dui tempus, tempus metus vitae, cursus nunc. In cursus odio vitae metus commodo, in posuere ante varius.</p> 
                                        <p>Mauris sodales faucibus est, eu consequat dolor tristique in. Quisque at lacus sed ligula semper iaculis. In eu imperdiet ipsum. Ut vestibulum ornare venenatis.</p>           
                                        
                                    </div>                
                                    <div class="timeline-footer">
                                            <div class="timeline-item-content">
                                                    <div class="timeline-heading" style="padding-bottom: 10px;">
                                                            <span class="badge badge-default">Likes <span>18</span></span>
                                                            <span class="badge badge-default">Comments 2</span>
                                                    </div>                                        
                                                    <div class="timeline-body comments">
                                                        <div class="comment-item">
                                                            <p class="comment-head">
                                                                <a href="#">Dmitry Ivaniuk</a> <span class="text-muted">@Aqvatarius</span>
                                                            </p>
                                                            <p>Thank you so much... I would like to meet you :)</p>
                                                            <small class="text-muted">15min ago</small>
                                                        </div>                                            
                                                        <div class="comment-item">
                                                            <p class="comment-head">
                                                                <a href="#">Nadia Ali</a> <span class="text-muted">@nadiaAli</span>
                                                            </p>
                                                            <p>Sure, i will contact you ;)</p>
                                                            <small class="text-muted">16min ago</small>
                                                        </div>                                            
                                                        <div class="comment-write">                                                
                                                            <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                            </div>
                        </div>
                </div>
                <br>
                <div class="panel panel-info panel-hidden-controls">
                        
                        <div class="panel-body">
                            <div class="timeline-item-content">
                                    <div class="timeline-heading padding-bottom-0">
                                        <img class="type2" src="http://localhost:8080/2018-03-12/FMS/public/assets/img/varma.jpeg">
                                        <span style="font-size: 17px;font-weight: 500;">John Doe</span> 
                                    </div>                                        
                                    <div class="timeline-body">                                                                                        
                                        <img src="http://localhost:8080/2018-03-12/FMS/public/assets/img/happyppl.jpeg" width="200" class="img-text" align="left"> 
                                        <h4>Lorem ipsum dolor</h4>
                                        <p>Aenean ultricies condimentum pellentesque. Maecenas pulvinar arcu vel tortor aliquet commodo. Phasellus dapibus nisl quis nunc pharetra, id lobortis arcu sagittis. Nunc facilisis nibh non diam dictum, vitae iaculis tellus egestas. Curabitur vitae dui tempus, tempus metus vitae, cursus nunc. In cursus odio vitae metus commodo, in posuere ante varius.</p> 
                                        <p>Mauris sodales faucibus est, eu consequat dolor tristique in. Quisque at lacus sed ligula semper iaculis. In eu imperdiet ipsum. Ut vestibulum ornare venenatis.</p>           
                                        
                                    </div> 
                                    <hr>               
                                    <div class="timeline-footer">
                                            <div class="timeline-item-content">
                                                    <div class="timeline-heading" style="padding-bottom: 10px;">
                                                            <span class="badge badge-default">Likes <span>18</span></span>
                                                            <span class="badge badge-default">Comments 2</span>
                                                    </div>                                        
                                                    <div class="timeline-body comments">
                                                        <div class="comment-item">
                                                            <p class="comment-head">
                                                                <a href="#">Dmitry Ivaniuk</a> <span class="text-muted">@Aqvatarius</span>
                                                            </p>
                                                            <p>Thank you so much... I would like to meet you :)</p>
                                                            <small class="text-muted">15min ago</small>
                                                        </div>                                            
                                                        <div class="comment-item">
                                                            <p class="comment-head">
                                                                <a href="#">Nadia Ali</a> <span class="text-muted">@nadiaAli</span>
                                                            </p>
                                                            <p>Sure, i will contact you ;)</p>
                                                            <small class="text-muted">16min ago</small>
                                                        </div>                                            
                                                        <div class="comment-write">                                                
                                                            <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                            </div>
                        </div>
                </div>
               
                
                
       <!--div class="feed_div" id="feed_div">
                <div class="feed_box" id="postbox_1">
                    <div class="feed_left">
                        <p><img class="userimg" src="http://localhost:8080/test/facebook_wall/usericon.gif"/></p>
                        <p>Ravi</p>
                    </div>
                    <div class="feed_right">
                        <p>yfghuugrteufhhhhhety7r8gfhkjtgyr7uterhkkkkkkketruy</p>
                        <p class="likebox">
                            Total Like : 6&nbsp;|&nbsp;
                                <a class="link_btn dis_like_btn" postid="<?php echo $post['post_id']; ?>" href="javascript:;">Dislike</a>&nbsp;|&nbsp;
                                <a class="link_btn like_btn" postid="<?php echo $post['post_id']; ?>" href="javascript:;">Like</a>&nbsp;|&nbsp;
                            <a class="link_btn" href="javascript:;">Comment</a>
                        </p>                      
                        <div class="clear"></div>
                            <div class="comment_div">
                                <div class="clear"></div>
                                <div class="comment_ele">
                                    <p><a class="link_btn" href="javascript:;">Ram Kamal</a></p>
                                    <p>Beautiful one</p>
                                </div>
                            </div>
                        <div class="clear"></div>
                        <p>
                            <form id="commentform_123" method="post">
                                <input type="hidden" name="action" value="comment"/>
                                <input type="hidden" name="post_id" value="123"/>
                                <input class="input comment_input" type="text" name="comment" id="comment_123" placeholder="your comment"/>
                                <input class="submitbtn btn" postid="123" type="button" name="sendbtn" value=">"/>
                            </form>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            
        </div>-->
               
                
                <!-- END PANEL WITH HIDDEN CONTROLS -->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->


