<style>
        .pac-container{
            z-index:999999;
        };
        .circleBase {
            border-radius: 50%;
            behavior: url(PIE.htc); /* remove if you don't care about IE8 */
        }
        .type1 {
            width: 70px;
            height: 70px;
            background: #ffff0000;
            border: 1px solid #928e8e94;
            border-radius: 50%;
        }
        .type2 {
            width: 50px;
            height: 50px;
            background: #ffff0000;
            border: 1px solid #928e8e94;
            border-radius: 50%;
        }
        .thumb {
            width: 24px;
            height: 24px;
            float: none;
            position: relative;
            top: 7px;
        }
        form .progress {
            line-height: 15px;
        }
        .progress {
            display: inline-block;
            width: 100px;
            border: 3px groove #CCC;
        }
        .progress div {
            font-size: smaller;
            background: orange;
            width: 0;
        }
        * {
            box-sizing: border-box;
        }
        .display-row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            padding: 0 4px;
        }
    
    /* Create four equal columns that sits next to each other */
        .column {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }
    
        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }
    
        @media screen and (max-width: 800px) {
            .column {
                -ms-flex: 50%;
                flex: 50%;
                max-width: 50%;
            }
        }
    
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                -ms-flex: 100%;
                flex: 100%;
                max-width: 100%;
            }
        }
    
    </style>
     
    <!-- <script>            
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event,onclosed: function(){
                    setTimeout(function(){
                        $("body").css("overflow","");
                    },200);                        
                }},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>         -->
    
    <span ng-include="global.sidebar"></span>
    <!-- BEGIN CONTENT -->
    <div class="page-content">
        <div ng-include="global.navUrl"></div>
        <!-- BEGIN CONTENT BODY -->
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2>News Feed</h2>
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                   
                <div class="col-md-8 col-md-offset-2">
                    <!-- START PANEL WITH HIDDEN CONTROLS -->
                    <!--<div class="col-md-12" style="background-color:  white;box-shadow: 2px 1px 2px 2px #bbb6b6;">
                        <p>Share an article, photo, video or idea</p>
                        <hr>
                        <span class="badge badge-default">Likes <span>18</span></span>
                        </div>-->
                        <div class="create-post">
                                <form name="add_kb" id='add_kb' class="form-horizontal" ng-submit="insert_kb()" novalidate>
                                    
                                        <div class="form-body">
                                            <div class="col-md-10 col-md-offset-1" style="font-size:  14px;">
                                                <!-- <div class="form-group form-md-line-input"> 
                                                    <label class="control-label pull-left">New Post</label>
                                                </div>
                                                             -->
                                                <div class="form-group form-md-line-input">                                                
                                                    <label class="col-md-3 control-label">Select Post Type</label>
                                                    <div class="col-md-offset-1 col-md-7 pull-right">
                                                            <div class="radio">
                                                                <label><input type="radio" ng-model="value" value="social" ng-change="newValue(value)">Social</label>
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                <label><input type="radio" ng-model="value" value="event" ng-change="newValue(value)">Events</label>
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                <label><input type="radio" ng-model="value" value="classified" ng-change="newValue(value)">Classified</label>                                                                
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                
                                    </form>
                          
                                
                        </div>
                <!-- AAthi's time line -->
                    
                               <!-- Post Content 
                                ================================== -->
                        <div class="post-content">
                           <div class="post-head">
                                <div class="col-md-5 post-left">
                                <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="user" class="profile-photo-md pull-left" />
                                <div class="user-info user-details">
                                        <h5><span class="profile-link">Alexis Clark</span></h5>
                                        <p class="text-muted">Published a photo about 3 mins ago</p>
                                </div>
                                </div>
                                <div class="col-md-6 post-right">
                                        <span class="btn text-white">
                                                <div class="dropdown">
                                                        <span class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-v 8x"></i>
                                                      </span> 
                                                  
                                                  <ul class="dropdown-menu report-post">
                                                    <li><a href="#">Report Post</a></li>
                                                    <li><a href="#">Delete</a></li>
                                                  </ul>
                                                </div>
                                        </span>
                                       
                                </div>
                                <span class="clearfix"></span>
                            </div>
                        
                            <span class="clearfix"></span>
                            <p class="post-maintext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <!-- <div class="gallery" id="links">                                                
                                <a href="assets/images/gallery/music-1.jpg" title="Music Image 1" class="gallery-item" data-gallery="">
                                    <div class="image">
                                        <img src="assets/images/gallery/music-1.jpg" alt="Music Image 1">
                                    </div>                                            
                                </a>
                                <a href="assets/images/gallery/music-2.jpg" title="Music Image 2" class="gallery-item" data-gallery="">
                                    <div class="image">
                                        <img src="assets/images/gallery/music-2.jpg" alt="Music Image 2">
                                    </div>                                            
                                </a>
                                <a href="assets/images/gallery/music-3.jpg" title="Music Image 3" class="gallery-item" data-gallery="">
                                    <div class="image">
                                        <img src="assets/images/gallery/music-3.jpg" alt="Music Image 3">
                                    </div>                                            
                                </a>                                                                
                            </div> -->
                            <div class="container slider" ng-init="load()" id="subm">
                                    <!-- <table class="table table-striped table-bordered" datatable="ng">
                                            <thead>
                                                <tr>
                                                    <th>Employee ID</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="photo in photos">
                                                    <td>{{photo.desc}}</td>
                                                </tr>
                                            </tbody>
                                        </table> -->
                                    <!-- enumerate all photos -->
                                    <img ng-repeat="photo in photos" class="slide img-responsive" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />
                            
                                    <!-- prev / next controls -->
                                    <a class="arrow prev" ng-click="showPrev()"></a>
                                    <a class="arrow next" ng-click="showNext()"></a>
                                    <!-- extra navigation controls -->
                                    <ul class="nav">
                                        <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
                                            <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
                                        </li>
                                    </ul>
                            </div>
                            <span class="clearfix"></span>
                            <div class="reaction1">
                                    <span><a class="btn text-green"><i class="fa fa-thumbs-o-up"></i> 13</a></span>
                                    <span><a class="btn text-green"><i class="fa fa-comments-o"></i> 3</a></span>
                                    
                                    
                            </div>
                                  <div class="post-container post-line">
                                      
                                    <div class="post-detail">
                                      
                                    
                                      <div class="post-comment">
                                        <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="" class="profile-photo-sm" />
                                        <p><span class="profile-commentlink">Diana </span><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
                                      </div>
                                      <div class="post-comment">
                                        <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-2.jpg" alt="" class="profile-photo-sm" />
                                        <p><span class="profile-commentlink">John</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                      </div>
                                      <div class="post-comment comment-img">
                                        <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-1.jpg" alt="" class="profile-photo-sm" />
                                        <input type="text" class="form-control" placeholder="Post a comment">
                                        <button class="btn post-btn">Submit</button>
                                      </div>
                                    </div>
                                  </div>
                            </div>
    
                                    <!-- Post Content 
                                ================================== -->
                        <div class="post-content">
                                <div class="post-head">
                                        <div class="col-md-5 post-left">
                                        <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="user" class="profile-photo-md pull-left" />
                                        <div class="user-info user-details">
                                                <h5><span class="profile-link">Alexis Clark</span></h5>
                                                <p class="text-muted">Published a photo about 3 mins ago</p>
                                        </div>
                                        </div>
                                        <div class="col-md-6 post-right">
                                    </div>
                                    <span class="clearfix"></span>
                                </div>
                             
                             <span class="clearfix"></span>
                                 <p class="post-maintext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
                                     adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                
                                 <div class="container slider" ng-init="load()" id="subm">
                                        
                                         <!-- enumerate all photos -->
                                         <img ng-repeat="photos in photosec" class="slide img-responsive" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photos.src}}" />
                                 
                                         <!-- prev / next controls -->
                                         <!-- <a class="arrow prev" ng-click="showPrev()"></a>
                                         <a class="arrow next" ng-click="showNext()"></a> -->
                                         <!-- extra navigation controls -->
                                         <!-- <ul class="nav">
                                             <li ng-repeat="photos in photosec" ng-class="{'active':isActive($index)}">
                                                 <img src="{{photos.src}}" alt="{{photos.desc}}" title="{{photos.desc}}" ng-click="showPhoto($index);" />
                                             </li>
                                         </ul> -->
                                 </div>
                                 <span class="clearfix"></span>
                                 <div class="reaction1">
                                         <span><a class="btn text-green"><i class="fa fa-thumbs-o-up"></i> 13</a></span>
                                         <span><a class="btn text-green"><i class="fa fa-comments-o"></i> 3</a></span>
                                         
                                         
                                 </div>
                                       <div class="post-container post-line">
                                           
                                         <div class="post-detail">
                                           
                                         
                                           <div class="post-comment">
                                             <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="" class="profile-photo-sm" />
                                             <p><span class="profile-commentlink">Diana </span><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
                                           </div>
                                           <div class="post-comment">
                                             <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-2.jpg" alt="" class="profile-photo-sm" />
                                             <p><span class="profile-commentlink">John</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                             incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                           </div>
                                           <div class="post-comment comment-img">
                                             <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-1.jpg" alt="" class="profile-photo-sm" />
                                             <input type="text" class="form-control" placeholder="Post a comment">
                                             <button class="btn post-btn">Submit</button>
                                           </div>
                                         </div>
                                       </div>
                                 </div>
                              <!-- Post Content
                                ================================================= -->
                                <div class="post-content">
                                        <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="user" class="profile-photo-md pull-left" />
                                        <div class="user-info user-details">
                                                <h5><span class="profile-link">Alexis Clark</span></h5>
                                                <p class="text-muted">Published a photo about 3 mins ago</p>
                                        </div>
                                        <div class="reaction">
                                                <span class="label label-warning label-form">Social</span> 
                                        </div>
                                        <div class="reaction1">
                                                <a class="btn text-green"><i class="fa fa-thumbs-o-up"></i> 13</a>
                                        </div>
                                        <p class="post-maintext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
                                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                         <div class="gallery" id="links">                                                
                                            <a href="assets/images/gallery/music-1.jpg" title="Music Image 1" class="gallery-item" data-gallery="">
                                                <div class="image">
                                                    <img src="assets/images/gallery/music-1.jpg" alt="Music Image 1">
                                                </div>                                            
                                            </a>
                                            <a href="assets/images/gallery/music-2.jpg" title="Music Image 2" class="gallery-item" data-gallery="">
                                                <div class="image">
                                                    <img src="assets/images/gallery/music-2.jpg" alt="Music Image 2">
                                                </div>                                            
                                            </a>
                                            <a href="assets/images/gallery/music-3.jpg" title="Music Image 3" class="gallery-item" data-gallery="">
                                                <div class="image">
                                                    <img src="assets/images/gallery/music-3.jpg" alt="Music Image 3">
                                                </div>                                            
                                            </a>
                                            <a href="assets/images/gallery/music-1.jpg" title="Music Image 1" class="gallery-item" data-gallery="">
                                                <div class="image">
                                                    <img src="assets/images/gallery/music-1.jpg" alt="Music Image 1">
                                                </div>                                            
                                            </a>                                                                
                                        </div> 
                                        
                                            <span class="clearfix"></span>
                                              <div class="post-container">
                                                  
                                                <div class="post-detail">
                                                  
                                                  <div class="line-divider"></div>
                                                  <div class="post-comment">
                                                    <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="" class="profile-photo-sm" />
                                                    <p><span class="profile-link">Diana </span><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
                                                  </div>
                                                  <div class="post-comment">
                                                    <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-2.jpg" alt="" class="profile-photo-sm" />
                                                    <p><span class="profile-link">John</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                                    incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                                  </div>
                                                  <div class="post-comment">
                                                    <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-1.jpg" alt="" class="profile-photo-sm" />
                                                    <input type="text" class="form-control" placeholder="Post a comment">
                                                    <button class="btn post-btn">Submit</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
    
                                <!-- Post Content
                                ================================================= -->
                                <div class="post-content">
                                 <div id="gallery5"></div>
                                   <!--<ul class="album-photos post-img2">
                                    <li>
                                      <div class="img-wrapper" data-toggle="modal" data-target=".photo-11">
                                        <img src="images/post-images/8.jpg" alt="post-image" class="img-responsive post-image" />
                                      </div>
                                      <div class="modal fade photo-11" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <img src="images/post-images/8.jpg" alt="post-image" class="img-responsive view-image" />
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    </ul>-->
                                  <div class="post-container">
                                    <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-1.jpg" alt="user" class="profile-photo-md pull-left" />
                                    <div class="post-detail">
                                      <div class="user-info">
                                        <h5><span class="profile-link">Sophia Lee</span> <span class="following">following</span></h5>
                                        <p class="text-muted">Updated her status about 33 mins ago</p>
                                      </div>
                                      <div class="reaction">
                                        <a class="btn text-green"><i class="icon ion-thumbsup"></i> 75</a>
                                      </div>
                                      
                                     <div class="line-divider"></div>
                                      <div class="post-text">
                                        <p><i class="em em-thumbsup"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                      </div>
                    
                                      <div class="post-comment">
                                        <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-1.jpg" alt="" class="profile-photo-sm" />
                                        <input type="text" class="form-control" placeholder="Post a comment">
                                        <button class="btn post-btn">Submit</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
    
                        <!-- END AAthi's time line -->
                       
    
                        <div class="post-content">
                                <video class="post-video" controls> <source src="http://localhost:8081/2018-03-12/FMS/public/assets/img/8.mp4" type="video/mp4"> </video>
                               <div class="post-container">
                                 <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/dummyuser.png" alt="user" class="profile-photo-md pull-left" />
                                 <div class="post-detail">
                                   <div class="user-info">
                                     <h5><a href="timeline.html" class="profile-link">Sophia Lee</a> <span class="following">following</span></h5>
                                     <p class="text-muted">Updated her status about 33 mins ago</p>
                                   </div>
                                   <div class="reaction">
                                     <a class="btn text-green"><i class="icon ion-thumbsup"></i> 75</a>
                                     <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 8</a>
                                   </div>
                                   <div class="line-divider"></div>
                                   <div class="post-text">
                                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                   </div>
                                   <div class="line-divider"></div>
                                    <div class="post-comment">
                                     <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/man.png" alt="" class="profile-photo-sm" />
                                     <p><a href="timeline.html" class="profile-link">Olivia </a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud </p>
                                   </div>
                                   <div class="post-comment">
                                     <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-2.jpg" alt="" class="profile-photo-sm" />
                                     <p><a href="timeline.html" class="profile-link">Sarah</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                   </div>
                                   <div class="post-comment">
                                     <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="" class="profile-photo-sm" />
                                     <p><a href="timeline.html" class="profile-link">Linda</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                   </div>
                                   <div class="post-comment">
                                     <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/post_images/1.jpg" alt="" class="profile-photo-sm" />
                                     <input type="text" class="form-control" placeholder="Post a comment">
                                   </div>
                                 </div>
                               </div>
                        </div>
                        <div class="post-content">
                            <div class="display-row"> 
                                <div class="column">
                                  <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/nature1.jpeg" style="width: 134%;">
                                </div>
                                <div class="column">
                                    <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/nature2.jpg" style="width: 166%; padding-left: 58px;">
                                </div>
                                <div class="column">
                                    <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/nature3.jpg" style="width: 198%; padding-left: 117px;">
                                </div>
                            </div>
                           <div class="post-container">
                             <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/dummyuser.png" alt="user" class="profile-photo-md pull-left" />
                             <div class="post-detail">
                               <div class="user-info">
                                 <h5><a href="timeline.html" class="profile-link">Sophia Lee</a> <span class="following"></span></h5>
                                 <p class="text-muted">Updated her status Enjoying Nature</p>
                               </div>
                               <div class="reaction">
                                 <a class="btn text-green"><i class="icon ion-thumbsup"></i> 75</a>
                                 <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 8</a>
                               </div>
                               <div class="line-divider"></div>
                               <div class="post-text">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                               </div>
                               <div class="line-divider"></div>
                                <div class="post-comment">
                                 <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/man.png" alt="" class="profile-photo-sm" />
                                 <p><a href="timeline.html" class="profile-link">Olivia </a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud </p>
                               </div>
                               <div class="post-comment">
                                 <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-2.jpg" alt="" class="profile-photo-sm" />
                                 <p><a href="timeline.html" class="profile-link">Sarah</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                               </div>
                               <div class="post-comment">
                                 <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/user-4.jpg" alt="" class="profile-photo-sm" />
                                 <p><a href="timeline.html" class="profile-link">Linda</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                               </div>
                               <div class="post-comment">
                                 <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/post_images/1.jpg" alt="" class="profile-photo-sm" />
                                 <input type="text" class="form-control" placeholder="Post a comment">
                               </div>
                             </div>
                           </div>
                        </div>
    
          
             
                    <br><br><br><br>
                    <div class="panel panel-success panel-hidden-controls">                        
                            <div class="panel-body">
                                <div class="timeline-item-content">
                                        <div class="timeline-heading padding-bottom-0">
                                            <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/dummyuser.png" style="width:21px"> <a href="#">John Doe</a> posted article <a href="#">How to...?</a>
                                        </div>                                        
                                        <div class="post-content">                                                                                        
                                            <img src="http://localhost:8081/2018-03-12/FMS/public/assets/img/candle.jpeg" width="200" class="img-text" align="left"> 
                                            <h4>Lorem ipsum dolor</h4>
                                            <p>Aenean ultricies condimentum pellentesque. Maecenas pulvinar arcu vel tortor aliquet commodo. Phasellus dapibus nisl quis nunc pharetra, id lobortis arcu sagittis. Nunc facilisis nibh non diam dictum, vitae iaculis tellus egestas. Curabitur vitae dui tempus, tempus metus vitae, cursus nunc. In cursus odio vitae metus commodo, in posuere ante varius.</p> 
                                            <p>Mauris sodales faucibus est, eu consequat dolor tristique in. Quisque at lacus sed ligula semper iaculis. In eu imperdiet ipsum. Ut vestibulum ornare venenatis.</p>           
                                            
                                        </div>                
                                        <div class="timeline-footer">
                                                <div class="timeline-item-content">
                                                        <div class="timeline-heading" style="padding-bottom: 10px;">
                                                                <span class="badge badge-default">Likes <span>18</span></span>
                                                                <span class="badge badge-default">Comments 2</span>
                                                        </div>                                        
                                                        <div class="timeline-body comments">
                                                            <div class="comment-item">
                                                                <p class="comment-head">
                                                                    <a href="#">Dmitry Ivaniuk</a> <span class="text-muted">@Aqvatarius</span>
                                                                </p>
                                                                <p>Thank you so much... I would like to meet you :)</p>
                                                                <small class="text-muted">15min ago</small>
                                                            </div>                                            
                                                            <div class="comment-item">
                                                                <p class="comment-head">
                                                                    <a href="#">Nadia Ali</a> <span class="text-muted">@nadiaAli</span>
                                                                </p>
                                                                <p>Sure, i will contact you ;)</p>
                                                                <small class="text-muted">16min ago</small>
                                                            </div>                                            
                                                            <div class="comment-write">                                                
                                                                <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                </div>
                            </div>
                    </div>
                    <br>
                   
                    
         
                   
                    
                    <!-- END PANEL WITH HIDDEN CONTROLS -->
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    
    <!--social new post-->
    <div id="social_post" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">
                    <div class="panel panel-default" id="form_wizard_2" style="margin-bottom:0">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="color: black;">Add Your Post</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="error" style="display:none">
                                    <label id="rowdata"></label>
                                </div>
                        </div>
                        <div class="panel-body">
                            <form name="insert_post" id='insert_post' class="form-horizontal" ng-submit="insertpost()" novalidate>
                                <div ng-if="errorMessage" class="error">
                                    <p>{{ errorMessage }}</p>
                                </div>
                                <!-- BEGIN FORM-->
                                <div class="form-body">
                                       
                                    <div class="row ng-hide">
                                        <div class="col-sm-6">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.ids.$invalid && !insert_user.ids.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                                <div class="col-md-9">
                                                    <input type="text" name='ids' class="form-control" ng-model="insert_user.id">
                                                    <p ng-show="insert_user.ids.$invalid && !insert_user.ids.$pristine" class="help-block">ID is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine }">
                                                <label class="col-md-2 control-label" for="form_control_1" style="margin-left: 14px;">Title</label>
                                                <div class="col-md-9" style="margin-left: 30px;">
                                                    <input type="text" name='employeeid' class="form-control" ng-model="insert_user.employee_id" required>
                                                    <p ng-show="insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine" class="help-block">Emp ID is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <br>
                                    
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.addresses.$invalid && !insert_user.addresses.$pristine }">
                                                <label class="col-md-3 control-label" for="form_control_1">Description</label>
                                                <div class="col-md-9">
                                                    <textarea ng-model="insert_user.address" type="text" class="form-control" name='addresses' placeholder="Enter Description"
                                                        required style="resize: none;"></textarea>
                                                    <p ng-show="insert_user.addresses.$invalid && !insert_user.addresses.$pristine" class="help-block">Address is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-10" nv-file-drop="" uploader="uploader">
                                            <!-- <input type="file" name="myImage[]" accept="image/*,video/*" multiple /> -->
                                            <input type="file" nv-file-select="" name="myImage[]" uploader="uploader" multiple  />
                                        </div>
                                    </div>   
                                    <br>                             
                                    <div class="row">
                                        <div class="col-md-9" style="margin-bottom: 40px">
                                            <h2>Uploads only images (with canvas preview)</h2>
                                            <h3>The queue</h3>
                                            <p>Queue length: {{ uploader.queue.length }}</p>
                        
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="50%">Name</th>
                                                        <th ng-show="uploader.isHTML5">Size</th>
                                                        <th ng-show="uploader.isHTML5">Progress</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in uploader.queue">
                                                        <td>
                                                            <strong>{{ item.file.name }}</strong>
                                                            <!-- Image preview -->
                                                            <!--auto height-->
                                                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                            <!--auto width-->
                                                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                            <!--fixed width and height -->
                                                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                                        </td>
                                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                        <td ng-show="uploader.isHTML5">
                                                            <div class="progress" style="margin-bottom: 0;">
                                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                        </td>
                                                        <td nowrap>
                                                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                <span class="glyphicon glyphicon-trash"></span> Remove
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                        
                                            <div>
                                                <div>
                                                    Queue progress:
                                                    <div class="progress" style="">
                                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                                </button>
                                                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                                </button>
                                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                                </button>
                                            </div>
                        
                                        </div>
                        
                                    </div>
                                    <!-- <div class="row">
                                        <input type="file" id="file" name="file" custom-on-change="add" multiple/>
                                        <br>
                                        <img src={{img}}/>
                                        <p>{{data}}</p>
                                    </div> -->
                            
                            <br>
                                
                                </div>
                                <hr>
                                <div class="form-actions">
                                    <div class="row text-right">
                                        <div class="">
                                            <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                        <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                            <button class="btn sm btn-info btn-rounded" ng-disabled="insert_user.$invalid" type="submit" id="submit">
                                                <i class="fa fa-check"></i> Submit</button>
                                            <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                                <i class="fa fa-times"></i> Cancel</a>
                                                
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    
                    </div>
            </div>
                    
    </div>
    
        <!-- events post-->
        <div id="event_post" class="modal fade" role="dialog">
                <div class="modal-dialog modal-md">
                        <div class="panel panel-default" id="form_wizard_2" style="margin-bottom:0">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="color: black;">Add Your Post</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <div class="error" style="display:none">
                                        <label id="rowdata"></label>
                                    </div>
                            </div>
                            <div class="panel-body">
                                <form name="insert_eventpost" id='insert_eventpost' class="form-horizontal" ng-submit="insert_evepost()" novalidate>
                                    <div ng-if="errorMessage" class="error">
                                        <p>{{ errorMessage }}</p>
                                    </div>
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                           
                                        <div class="row ng-hide">
                                            <div class="col-sm-6">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.ids.$invalid && !insert_user.ids.$pristine }">
                                                    <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                                    <div class="col-md-9">
                                                        <input type="text" name='ids' class="form-control" ng-model="insert_user.id">
                                                        <p ng-show="insert_user.ids.$invalid && !insert_user.ids.$pristine" class="help-block">ID is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine }">
                                                    <label class="col-md-3 control-label" for="form_control_1" style="margin-left: -22px;">Event</label>
                                                    <div class="col-md-9">
                                                        <input type="text" name='employeeid' class="form-control" ng-model="insert_user.employee_id" required style="margin-left: 20px;">
                                                        <p ng-show="insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine" class="help-block">Emp ID is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <br>
                                        
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.addresses.$invalid && !insert_user.addresses.$pristine }">
                                                    <label class="col-md-3 control-label" for="form_control_1">Description</label>
                                                    <div class="col-md-9">
                                                        <textarea ng-model="insert_user.address" type="text" class="form-control" name='addresses' placeholder="Enter Description"
                                                            required style="resize: none;"></textarea>
                                                        <p ng-show="insert_user.addresses.$invalid && !insert_user.addresses.$pristine" class="help-block">Address is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">                                        
                                                <label class="col-md-3 col-xs-12 control-label">Event Date</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <!-- <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" class="form-control datepicker">   
                                                        <span class="help-block">Click on input field to get datepicker</span>                                         
                                                    </div> -->
                                                    <datepicker date-format="dd-MM-yyyy">
                                                            <input ng-model="date" type="text" class="form-control"/>
                                                    </datepicker>
                                                    
                                                </div>
                                        </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-md-offset-1 col-md-10">
                                                            <input type="file" name="myImage" accept="image/*,video/*" multiple />
                                                    </div>
                                            </div>
                                       
                                        <!-- <div class="row">
                                            <input type="file" id="file" name="file" custom-on-change="add" multiple/>
                                            <br>
                                            <img src={{img}}/>
                                            <p>{{data}}</p>
                                        </div> -->
                                
                                <br>
                                    
                                    </div>
                                    <hr>
                                    <div class="form-actions">
                                        <div class="row text-right">
                                            <div class="">
                                                <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                            <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                                <button class="btn sm btn-info btn-rounded" ng-disabled="insert_user.$invalid" type="submit" id="submit">
                                                    <i class="fa fa-check"></i> Submit</button>
                                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                                    <i class="fa fa-times"></i> Cancel</a>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        
                        </div>
                </div>
                        
        </div>
    
        <!-- classified post -->
        <div id="classified_post" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                        <div class="panel panel-default" id="form_wizard_2" style="margin-bottom:0">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="color: black;">Add Your Post</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <div class="error" style="display:none">
                                        <label id="rowdata"></label>
                                    </div>
                            </div>
                            <div class="panel-body">
                                <form name="insert_clpost" id='insert_clpost' class="form-horizontal" ng-submit="insertpost()" novalidate>
                                    <div ng-if="errorMessage" class="error">
                                        <p>{{ errorMessage }}</p>
                                    </div>
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                           
                                        <div class="row ng-hide">
                                            <div class="col-sm-6">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.ids.$invalid && !insert_user.ids.$pristine }">
                                                    <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                                    <div class="col-md-9">
                                                        <input type="text" name='ids' class="form-control" ng-model="insert_user.id">
                                                        <p ng-show="insert_user.ids.$invalid && !insert_user.ids.$pristine" class="help-block">ID is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine }">
                                                    <label class="col-md-2 control-label" for="form_control_1" style=" margin-left: 9px;">Title</label>
                                                    <div class="col-md-offset-1 col-md-8">
                                                        <input type="text" name='employeeid' class="form-control" ng-model="insert_user.employee_id" required>
                                                        <p ng-show="insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine" class="help-block">Emp ID is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-2 control-label" style="margin-left: 27px;">Category</div>
                                            <div class="col-md-9">
                                                    <div class="radio">
                                                        <div class="row">
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                            <label><input type="radio" ng-model="value" value="properties" ng-change="display_div(value)">Properties</label>
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            <label><input type="radio" ng-model="value" value="furnitures">Furnitures</label>
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            <label><input type="radio" ng-model="value" value="mobiles">Mobiles</label>      
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            <label><input type="radio" ng-model="value" value="cars">Mobiles</label>                                                                
                                                        </div>
                                                        <div class="row">
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                <label><input type="radio" ng-model="value" value="electronics">Electronics</label>
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                <label><input type="radio" ng-model="value" value="pets">Pets</label>
                                                                &nbsp;
                                                                &nbsp;
                                                                &nbsp;
                                                                <label><input type="radio" ng-model="value" value="bikes">Bikes</label>                                                                
                                                        </div>
                                                    </div>
                                                <!-- <div class="checkbox">
                                                    <label><input type="checkbox" value="">Properties</label>
                                                    &nbsp;
                                                    &nbsp;
                                                    <label><input type="checkbox" value="">Furnitures</label>
                                                    &nbsp;
                                                    &nbsp;
                                                    <label><input type="checkbox" value="">Mobiles</label>
                                                    &nbsp;
                                                    &nbsp;
                                                </div>
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Pets</label>
                                                    &nbsp;
                                                    &nbsp;
                                                    <label><input type="checkbox" value="">Bikes</label>
                                                    &nbsp;
                                                    &nbsp;
                                                    <label><input type="checkbox" value="">Cars</label>
                                                    &nbsp;
                                                    &nbsp;
                                                </div> -->
                                                <br>
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                                
                                                <!-- <div class="checkbox">
                                                    <label><input type="checkbox" value="">Properties</label>
                                                    <label><input type="checkbox" value="">Properties</label>
                                                    <label><input type="checkbox" value="">Bikes</label>
                                                </div> -->
                                            </div>    
                                        </div>
                                        <br>
                                        <div class="row" ng-show="myVar">
                                                <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.locations.$invalid && !insert_user.locations.$pristine }">
                                                                <label class="col-md-3 control-label" for="form_control_1">Location</label>
                                                                <div class="col-md-9">
                                                                    <input type="text" name='locations' class="form-control" ng-model="insert_user.location" required>
                                                                    <p ng-show="insert_user.locations.$invalid && !insert_user.locations.$pristine" class="help-block">Location is required.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.roles.$invalid && !insert_user.roles.$pristine }">
                                                                <label class="col-md-3 control-label" for="form_control_1">Role</label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control" name='roles' ng-model="insert_user.role" ng-dropdown required>
                                                                        <option ng-option selected="" disabled="" value="">Select Role</option>
                                                                        <option ng-option value="Admin">Admin</option>
                                                                        <option ng-option value="Manager">Manager</option>
                                                                        <option ng-option value="Serivedesk">Call Co-Ordinator/ Service Desk</option>
                                                                    </select>
                                                                    <p ng-show="insert_user.roles.$invalid && !insert_user.roles.$pristine" class="help-block">Role is required.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                                <br>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.addresses.$invalid && !insert_user.addresses.$pristine }">
                                                    <label class="col-md-3 control-label" for="form_control_1">Description</label>
                                                    <div class="col-md-9">
                                                        <textarea ng-model="insert_user.address" type="text" class="form-control" name='addresses' placeholder="Enter Description"
                                                            required style="resize: none;"></textarea>
                                                        <p ng-show="insert_user.addresses.$invalid && !insert_user.addresses.$pristine" class="help-block">Address is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="value == 'properties'">
                                          <br>
                                          <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <label class="col-md-4 control-label" for="form_control_1">Property Type</label>
                                                        <select class="form-control col-md-7" name='roles' ng-model="insert_user.role" ng-dropdown required>
                                                                <option ng-option value="rent">For Rent</option>
                                                                <option ng-option value="sale">For Sale</option>
                                                        </select>
                                                    </div>
                                                </div>
                                          
                                                <div class="col-sm-6">
                                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_user.employeeid.$invalid && !insert_user.employeeid.$pristine }">
                                                        <label class="col-md-4 control-label" for="form_control_1">Property Sub-Type</label>
                                                        <select class="form-control col-md-7" name='roles' ng-model="insert_user.role" ng-dropdown required>
                                                                <option ng-option value="rent">For Rent</option>
                                                                <option ng-option value="sale">For Sale</option>
                                                        </select>
                                                    </div>
                                                </div>
                                         </div>
                                        </div>
                                        <div ng-if="insert_user.role == 'cars'">                                       
                                          <br>     
                                        </div>
                                        <div ng-if="insert_user.role == 'bikes'">                                         
                                          <br>   
                                        </div>
                                        <br>
                                        <div class="col-md-offset-1 col-md-10">
                                                <input type="file" name="myImage" accept="image/*,video/*" multiple />
                                        </div>
                                        <!-- <div class="row">
                                            <input type="file" id="file" name="file" custom-on-change="add" multiple/>
                                            <br>
                                            <img src={{img}}/>
                                            <p>{{data}}</p>
                                        </div> -->
                                
                                <br>
                                    
                                    </div>
                                    <hr>
                                    <div class="form-actions">
                                        <div class="row text-right">
                                            <div class="">
                                                <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                            <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                                <button class="btn sm btn-info btn-rounded" ng-disabled="insert_user.$invalid" type="submit" id="submit">
                                                    <i class="fa fa-check"></i> Submit</button>
                                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                                    <i class="fa fa-times"></i> Cancel</a>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        
                        </div>
                </div>
                        
        </div> 
    
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    
    