<div ng-include="global.navUrl">
</div>
<div class="page-container">
    <div ng-include="global.sidebar"></div>
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="portlet box dark">
                <div class="portlet-title">
                    <div class="caption">Product Management</div>
                    <div class="tools"> </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <!--<div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn btn-circle green btn-outline" onclick="productid_check()"> Add Product Category
                                        <i class="fa fa-upload"></i>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn btn-circle green btn-outline" onclick='subproductid_check()'> Add Sub Category
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>-->
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" id="div_align">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="portlet box blue-hoki">
                                <div class="portlet-title" ng-style="empty_portlet">
                                    <div class="caption pull-right">
                                        <h5 style="margin:0">                                        
                                        </h5>
                                    </div>
                                </div>
                                <div class="row">                                    
                                </div>
                                <div class="portlet-body" id='product_append'>
                                    <a ng-click='add_prod()' class='btn btn-circle green btn-sm pull-right'>
                                        <i class='fa fa-plus'></i> Add Product Category</a>
                                    <span class='clearfix'></span>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>

<!--Add Product Model -->
<div id="mymodel1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="modal-body">
                <div class="portlet light bordered" id="form_wizard_2" style="margin-bottom:0">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-user font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase"> Add Product Category</span>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <form name="add_product" id="add_product" class="form-horizontal" ng-submit="insert_product()" novalidate>
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row ng-hide">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_product.ids.$invalid && !add_product.ids.$pristine }">
                                            <label class="col-sm-3 control-label text-uppercase">Id</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name='ids' ng-model="add_product.id" >
                                                <p ng-show="add_product.ids.$invalid && !add_product.ids.$pristine" class="help-block">Product id is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_product.product_names.$invalid && !add_product.product_names.$pristine }">
                                            <label class="col-sm-3 control-label text-uppercase">Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name='product_names' ng-model="add_product.product_name" required>
                                                <p ng-show="add_product.product_names.$invalid && !add_product.product_names.$pristine" class="help-block">Product Category Name is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_product.product_models.$invalid && !add_product.product_models.$pristine }">
                                            <label class="col-sm-3 control-label text-uppercase">Model</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name='product_models' ng-model="add_product.product_modal" required>
                                                <p ng-show="add_product.product_models.$invalid && !add_product.product_models.$pristine" class="help-block">Product Model is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_product.product_descs.$invalid && !add_product.product_descs.$pristine }">
                                            <label class="col-sm-3 control-label text-uppercase">Description</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" name='product_descs' ng-model="add_product.product_desc" required rows="3" style='resize:none !important'></textarea>
                                                <p ng-show="add_product.product_descs.$invalid && !add_product.product_descs.$pristine" class="help-block">Product Description is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_product.upload_images.$invalid && !add_product.upload_images.$pristine }">
                                            <label class="col-sm-3 control-label text-uppercase">Image</label>
                                            <div class="col-sm-8">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"> </div>
                                                    <div>
                                                        <span class="btn red btn-outline btn-file">
                                                            <span class="fileinput-new"> Select image </span>
                                                            <span class="fileinput-exists"> Change </span>
                                                            <input type="file" name='upload_images' id="upload_images" file-model="myFile" accept="image/*" > </span>
                                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control ng-hide" id="add_product.product_image" name="add_product.product_image" ng-model="add_product.product_image" />
                                                <p ng-show="add_product.upload_images.$invalid && !add_product.upload_images.$pristine" class="help-block">Product Category is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row text-center">
                                    <div class="">
                                        <!-- <a href="" class="btn blue" ng-disabled="add_user.$invalid">
                                                                        <i class="fa fa-check" ng-submit="add_user()"></i> Submit</a> -->
                                        <button class="btn blue" ng-disabled="add_product.$invalid || add_product.$pristine" type="submit" id="submit">
                                            <i class="fa fa-check"></i> Submit</button>
                                        <a href="javascript:;" class="btn red" data-dismiss="modal">
                                            <i class="fa fa-times"></i> Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Sub Category-->
<div id="add_subcategory" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="modal-body">
                <div class="portlet light bordered" id="form_wizard_2" style="margin-bottom:0">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-user font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase"> Add Sub Category</span>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <form name="subpproduct" id="subpproduct" class="form-horizontal" ng-submit="insertsub()" novalidate>
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : subpproduct.ids.$invalid && !subpproduct.ids.$pristine }">
                                            <label class="col-sm-4 control-label text-uppercase">Id</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name='ids' ng-model="subpproduct.id">
                                                <p ng-show="subpproduct.ids.$invalid && !subpproduct.ids.$pristine" class="help-block">Id is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : subpproduct.product_ids.$invalid && !subpproduct.product_ids.$pristine }">
                                            <label class="col-sm-4 control-label text-uppercase">Product ID</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name='product_ids' ng-model="subpproduct.product_id" required>
                                                <p ng-show="subpproduct.product_ids.$invalid && !subpproduct.product_ids.$pristine" class="help-block">Product Category ID is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : subpproduct.product_names.$invalid && !subpproduct.product_names.$pristine }">
                                            <label class="col-sm-4 control-label text-uppercase">Product Category Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name='product_names' ng-model="subpproduct.product_name" required>
                                                <p ng-show="subpproduct.product_names.$invalid && !subpproduct.product_names.$pristine" class="help-block">Product Category Name is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : subpproduct.cat_names.$invalid && !subpproduct.cat_names.$pristine }">
                                            <label class="col-sm-4 control-label text-uppercase">Sub Category Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name='cat_names' ng-model="subpproduct.cat_name" required>
                                                <p ng-show="subpproduct.cat_names.$invalid && !subpproduct.cat_names.$pristine" class="help-block">Sub Category id is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : subpproduct.cat_descs.$invalid && !subpproduct.cat_descs.$pristine }">
                                            <label class="col-sm-4 control-label text-uppercase">Sub Category Description</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" name='cat_descs' ng-model="subpproduct.add_product.cat_desc" required rows="3" style='resize:none !important'></textarea>
                                                <p ng-show="subpproduct.cat_descs.$invalid && !subpproduct.cat_descs.$pristine" class="help-block">Sub Category Description is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : add_product.upload_images.$invalid && !add_product.upload_images.$pristine }">
                                            <label class="col-sm-4 control-label text-uppercase">Sub Category Image</label>
                                            <div class="col-sm-8">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"> </div>
                                                    <div>
                                                        <span class="btn red btn-outline btn-file">
                                                            <span class="fileinput-new"> Select image </span>
                                                            <span class="fileinput-exists"> Change </span>
                                                            <input type="file" name='upload_images' id="upload_images" file-model="myFile" accept="image/*"> </span>
                                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control ng-hide" id="add_product.cat_image" name="subpproduct.cat_image" ng-model="subpproduct.cat_image"
                                                />
                                                <p ng-show="subpproduct.cat_image.$invalid && !subpproduct.cat_image.$pristine" class="help-block">Product Category is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row text-center">
                                    <div class="">
                                        <button class="btn blue" ng-disabled="subpproduct.$invalid || subpproduct.$pristine" type="submit" id="submit">
                                            <i class="fa fa-check"></i> Submit</button>
                                        <a href="javascript:;" class="btn red" data-dismiss="modal">
                                            <i class="fa fa-times"></i> Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
