<span ng-include="global.sidebar">
</span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <div ng-include="global.navUrl"></div>
    <!-- PAGE CONTENT -->
    <div class="page-content-wrap">

        <!-- START X-NAVIGATION VERTICAL -->

        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->

        <!-- END BREADCRUMB -->

        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2> Project Planning</h2>
        </div>
        <!-- END PAGE TITLE -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">

            <!-- START PORTLET -->

            <div class="row scRow">
                <div class="col-md-12 scRow">
                    <div class="panel panel-success" id="grid_block_5">
                        <div class="panel-heading">
                            <h3 class="panel-title">Create New Project</h3>
                        </div>
                        <div class="panel-body">
                            <!--<div class="tabbable-custom nav-justified">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active">
                                            <a href="#tab_1_1_1" data-toggle="tab" style="font-family:fantasy;" ng-click="treeTab()"> New Project </a>
                                        </li>
                                        <li>
                                            <a href="#tab_1_1_2" data-toggle="tab" style="font-family:fantasy;" ng-click="linearTab()"> Existing Projects </a>
                                        </li>
                                    </ul>
                                </div>-->
                            <form name="multiStepForm" class="form-validation" role="form" novalidate>
                                <div class="animate-switch-container col-lg-8 col-lg-offset-2 center" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
                                    <div class="" ng-switch-default style="padding:10px">
                                        <div class="row" style="margin-bottom:2%">
                                            <h3 class="panel-title">Project Declaration</h3>
                                        </div>
                                        <div class="row" style="margin-bottom:2%">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label text-right" for="tb-fname">Company Name :</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control" style="border: 1px solid #9bc8e8;" id="selectedcompany" name="selectedcompany" ng-model="formParams.company_selected" ng-change="getcompanyadminlist(formParams.company_selected);" required ng-options="item.company_id as item.company_name for item in companies track by item.company_id"
                                                            ng-selected="companies[0].company_id" ng-class="{'input-error': formValidation && multiStepForm.selectedcompany.$error.required}"> 
                                                                </select>
                                                        <span class="error" ng-show="multiStepForm.selectedcompany.$error.required" style="color:'red !important;'">
                                                                      Select a Company
                                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:2%">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label text-right" for="tb-fname">Project Name :</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="tb-fname" name="pro_name" ng-maxlength="250" ng-model="formParams.pro_name" ng-class="{'input-error': formValidation && multiStepForm.pro_name.$error.required}" required>
                                                        <span ng-show="multiStepForm.pro_name.$error.required">
                                                                Project name is required
                                                            </span>
                                                        <span ng-show="multiStepForm.pro_name.$error.maxlength">
                                                            Max character length reached.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:2%">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label text-right" for="tb-lname">Project Location :</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="tb-lname" name="pro_location" ng-maxlength="250" ng-model="formParams.pro_location" ng-class="{'input-error': formValidation && multiStepForm.pro_location.$error.required}" required>
                                                        <span ng-show="multiStepForm.pro_location.$error.required">
                                                                Project location is required
                                                            </span>
                                                        <span ng-show="multiStepForm.pro_location.$error.maxlength">
                                                            Max character length reached.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--   <div class="row" style="margin-bottom:2%">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label text-right" for="tb-email">Project Manager :</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="tb-email" name="pro_manager" ng-maxlength="100" ng-model="formParams.pro_manager" ng-class="{'input-error': formValidation && multiStepForm.pro_manager.$error.required}" ng-model-options="{updateOn: 'blur'}"
                                                            required>
                                                        <span ng-show="multiStepForm.pro_manager.$error.required">
                                                            Project manager is required
                                                        </span>
                                                        <span ng-show="multiStepForm.pro_manager.$error.maxlength">
                                                            Max character length reached.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="row" style="margin-bottom:2%">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label text-right" for="tb-fname">User Name :</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control" style="border: 1px solid #9bc8e8;" id="selected_user" name="selected_user" ng-model="formParams.slctedUser" ng-class="{'input-error': formValidation && multiStepForm.selecteduser.$error.required}" required ng-options="item.user_id as item.first_name for item in adminproject"
                                                            ng-selected="adminproject[0].user_id"> 
                                                                    </select>
                                                        <span ng-show="multiStepForm.selected_user.$error.required" style="color: 'red !important;'">
                                                                          Select a user
                                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button type="button" class="btn examplebtn btn-primary btn-rounded" ng-click="next('stage1')">
                                                    <i class="fa fa-arrow-right"></i> Save and Next</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" ng-switch-when="stage1" data-ng-init="init()" style="padding:10px ">
                                        <div class="row " style="margin-bottom:2% ">
                                            <h3 class="panel-title ">Project Creation</h3>
                                        </div>
                                        <div class="col-lg-12 ">
                                            <div class="row text-center " style="margin-bottom:2% ">
                                                <div class="col-sm-4 ">
                                                    <label class=" ">Project Name : </label>
                                                    <label class=" ">
                                                        <p class="text-muted ">{{formParams.pro_name}}</p>
                                                    </label>
                                                </div>
                                                <div class="col-sm-4 ">
                                                    <label class=" ">Project Location : </label>
                                                    <label class=" ">
                                                        <p class="text-muted ">{{formParams.pro_location}}</p>
                                                    </label>
                                                </div>
                                                <!--<div class="col-sm-4 ">
                                                    <label class=" ">Project Manager : </label>
                                                    <label class=" ">
                                                        <p class="text-muted ">{{formParams.pro_manager}}</p>
                                                    </label>
                                                </div>-->
                                            </div>
                                            <div class="row text-center " style="margin-bottom:2% ">
                                                <!-- <input type="file " name='upload_images' id="upload_images " file-model="myFile " accept="image/* "> -->
                                                <input type="file " id="fileInput " name="fileInput " file-model="myFile " onchange="angular.element(this).scope().uploadFile() " style="display:none; " accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                                            application/vnd.ms-excel ">
                                                <button type="button " class="btn btn-primary btn-rounded " data-style="slide-down " data-spinner-color="#333 " onclick="document.getElementById( 'fileInput').click(); "><i class="fa fa-upload "></i>Upload Excel </button>
                                                <!-- <button type="button " class="btn btn-primary " ng-click="model_open() " > <i class="fa fa-upload "></i> Upload Excel</button> -->
                                                <button type="button " class="btn btn-danger btn-rounded ">
                                                    <i class="fa fa-upload "></i> Sample Template</button>
                                                <button type="button " class="btn btn-info btn-rounded " data-style="slide-down " data-spinner-color="#333 " ng-click="downloadTreeExcel() ">
                                                    <i class="fa fa-download "></i> Download Excel</button>
                                            </div>
                                            <div class="row " style="margin-bottom:2% ">
                                                <!-- <div js-tree="treeConfig " ng-model="treeData " should-apply="ignoreModelChanges() " tree="treeInstance " tree-events="ready:readyCB;create_node:createNodeCB "></div> -->
                                                <div id="jstree" ng-model="formParams.pro_tree " name="pro_tree "></div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12 text-center ">
                                                <button type="button " class="btn btn-info btn-rounded " ng-click="back( '') ">
                                                    <i class="fa fa-arrow-left "></i> Back</button>
                                                <button type="button " class="btn btn-primary btn-rounded " ng-click="saveWbs() ">
                                                    <i class="fa fa-check "></i> Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <!-- <div class="row scRow ">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 "></div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                        <p class="text-center ">
                                            <input type="file " id="fileInput " name="fileInput " onchange="angular.element(this).scope().uploadFile() " style="display:none; " accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                                            application/vnd.ms-excel ">

                                            <button type="button " class="btn green mt-ladda-btn ladda-button btn-circle btn-outline " data-style="slide-down " data-spinner-color="#333 " onclick="document.getElementById( 'fileInput').click(); ">
                                                <i class="fa fa-upload "></i><span>Upload Excel</span>
                                            </button>
                                            
                                            <button type="button " class="btn red mt-ladda-btn ladda-button btn-circle btn-outline " data-style="slide-down " data-spinner-color="#333 " data-toggle="modal " href="#sample_temp ">
                                                <span>Sample Template</span>
                                            </button>


                                            <button type="submit " class="btn blue mt-ladda-btn ladda-button btn-circle btn-outline " data-style="slide-down " data-spinner-color="#333 " ng-click="downloadTreeExcel() "><i class="fa fa-download "></i><span>Download Excel</span></button>

                                        </p>
                                        <div id="tree " class="col-lg-6 col-lg-offset-2 "></div>
                                    </div>
                                    <div class="col-md-3 "></div>

                                </div> -->
                            <!-- <div>
                                    <input type="hidden " id="treestring ">
                                </div> -->
                            <!-- <div id="tree "></div>-->
                            <!-- <div class="text-center ">
                                    <button type="button " ng-click="saveWbs() " class="btn btn-default " data-style="slide-down " data-spinner-color="#333 ">Submit</button>                                   
                                </div> -->
                        </div>
                    </div>

                </div>
                <!-- sencond panel -->
                <div class="col-md-12 scRow ">
                    <div class="panel panel-success " id="grid_block_5 ">
                        <div class="panel-heading ">
                            <h3 class="panel-title ">Project List</h3>
                        </div>
                        <div class="panel-body ">
                            <table class="table table-striped table-bordered " datatable="ng " dt-options="dtOptions ">
                                <thead>
                                    <tr>
                                        <th> ID </th>
                                        <th> Project Name </th>
                                        <th> Project Location</th>
                                        <th> Project Manager </th>
                                        <th> View </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="projects in project ">
                                        <td>{{projects.id}}</td>
                                        <td>{{projects.project_name}}</td>
                                        <td>{{projects.project_location}}</td>
                                        <td>{{projects.project_manager}}</td>
                                        <td>
                                            <button class="btn btn-outline btn-info btn-rounded " ng-click="view_project(projects) ">
                                                <i class="fa fa-eye "></i> View WBS
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="load_projects "></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END PORTLET -->

        </div>
        <!-- PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
    <!-- END CONTENT BODY -->
</div>


<!-- Add Training Content -->

<div id="add_training " class="modal fade " role="dialog ">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header " style="border:0 ">
                <button type="button " class="close " data-dismiss="modal ">&times;</button>
                <div class="error " style="display:none ">
                    <label id="rowdata "></label>
                </div>
            </div>
            <div class="modal-body ">
                <div class="portlet light bordered " id="form_wizard_2 " style="margin-bottom:0 ">
                    <div class="portlet-title ">
                        <div class="caption font-red-sunglo ">
                            <i class="icon-user font-red-sunglo "></i>
                            <span class="caption-subject bold uppercase "> Add Training Content</span>
                        </div>
                    </div>

                    <div class="portlet-body form ">
                        <form name="add_training " class="form-horizontal " ng-submit="add_training() " novalidate>
                            <!-- BEGIN FORM-->
                            <div class="form-body ">

                                <div class="row ng-hide ">
                                    <div class="col-sm-12 ">
                                        <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_training.trainngid.$invalid && !add_training.trainngid.$pristine } ">
                                            <label class="col-sm-3 control-label text-uppercase ">Training Id</label>
                                            <div class="col-sm-8 ">
                                                <input type="text " name='trainngid' class="form-control " ng-model="add_training.trainng_id " required>
                                                <p ng-show="add_training.trainngid.$invalid && !add_training.trainngid.$pristine " class="help-block ">Training ID is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-sm-12 ">
                                        <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_training.trainingname.$invalid && !add_training.trainingname.$pristine } ">
                                            <label class="col-sm-3 control-label text-uppercase ">Title</label>
                                            <div class="col-sm-8 ">
                                                <input type="text " name='trainingname' class="form-control " ng-model="add_training.training_name " required>
                                                <p ng-show="add_training.trainingname.$invalid && !add_training.trainingname.$pristine " class="help-block ">Title is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-sm-12 ">
                                        <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_training.trainingtype.$invalid && !add_training.trainingtype.$pristine } ">
                                            <label class="col-sm-3 control-label text-uppercase ">Training Type</label>
                                            <div class="col-sm-8 ">
                                                <select class="form-control " name='trainingtype' ng-model="add_training.training_type " ng-change=" " required>
                                                    <option ng-option selected=" " disabled=" " value=" ">Select Training Type</option>
                                                    <option ng-option value="generic ">Generic Training</option>
                                                    <option ng-option value="technology ">Technology Training</option>
                                                    <option ng-option value="product ">Product Training</option>
                                                </select>
                                                <p ng-show="add_training.trainingtype.$invalid && !add_training.trainingtype.$pristine " class="help-block ">Training Type is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="add_training.training_type=='product' ">
                                    <div class="row ">
                                        <div class="col-sm-12 ">
                                            <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_training.product_training.$invalid && !add_training.product_training.$pristine } ">
                                                <label class="col-sm-3 control-label text-uppercase ">Product Category</label>
                                                <div class="col-sm-8 ">
                                                    <select class="form-control " name='product_training' ng-model="add_training.product " ng-change=" " required>
                                                        <option ng-option selected=" " disabled=" " value=" ">Select Product Category</option>
                                                    </select>
                                                    <p ng-show="add_training.product_training.$invalid && !add_training.product_training.$pristine " class="help-block ">Product Category is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-sm-12 ">
                                            <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_training.category_training.$invalid && !add_training.category_training.$pristine } ">
                                                <label class="col-sm-3 control-label text-uppercase ">Sub Category</label>
                                                <div class="col-sm-8 ">
                                                    <select class="form-control " name='category_training' ng-model="add_training.category " ng-change=" " required>
                                                        <option ng-option selected=" " disabled=" " value=" ">Select Sub Category</option>
                                                    </select>
                                                    <p ng-show="add_training.category_training.$invalid && !add_training.category_training.$pristine " class="help-block ">Product Category is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-sm-12 ">
                                            <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_training.model_training.$invalid && !add_training.model_training.$pristine } ">
                                                <label class="col-sm-3 control-label text-uppercase ">Model</label>
                                                <div class="col-sm-8 ">
                                                    <input type="text " name='model_training' class="form-control " ng-model="add_training.model " required>
                                                    <p ng-show="add_training.model_training.$invalid && !add_training.model_training.$pristine " class="help-block ">Model is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-sm-12 ">
                                        <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_training.contenttype.$invalid && !add_training.contenttype.$pristine } ">
                                            <label class="col-sm-3 control-label text-uppercase ">Training Type</label>
                                            <div class="col-sm-8 ">
                                                <select class="form-control " name='contenttype' ng-model="add_training.content_type " ng-change=" " required>
                                                    <option ng-option selected=" " disabled=" " value=" ">Select Content Type</option>
                                                    <option ng-option value="pdf ">PDF</option>
                                                    <option ng-option value="video ">Video</option>
                                                </select>
                                                <p ng-show="add_training.contenttype.$invalid && !add_training.contenttype.$pristine " class="help-block ">Content Type is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-sm-12 ">
                                        <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_training.uploadimage.$invalid && !add_training.uploadimage.$pristine } ">
                                            <label class="col-sm-3 control-label text-uppercase ">Content</label>
                                            <div class="col-sm-9 ">
                                                <div class="fileinput fileinput-new " data-provides="fileinput ">
                                                    <div class="input-group input-large ">
                                                        <div class="form-control uneditable-input input-fixed input-medium " data-trigger="fileinput ">
                                                            <i class="fa fa-file fileinput-exists "></i>&nbsp;
                                                            <span class="fileinput-filename "> </span>
                                                        </div>
                                                        <span class="input-group-addon btn default btn-file ">
                                                            <span class="fileinput-new "> Select file </span>
                                                        <span class="fileinput-exists "> Change </span>
                                                        <input type="file " name='uploadimage' ng-model="add_training.upload_image ">
                                                        </span>
                                                        <a href="javascript:; " class="input-group-addon btn red fileinput-exists " data-dismiss="fileinput "> Remove </a>
                                                    </div>
                                                </div>
                                                <p ng-show="add_training.uploadimage.$invalid && !add_training.uploadimage.$pristine " class="help-block ">Content is required.</p>
                                                <!-- <input type="file " class="form-control " id="upload_content " name="upload_content " placeholder=" "> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions ">
                                <div class="row text-center ">
                                    <div class=" ">
                                        <a href="javascript:; " class="btn blue " ng-disabled="add_training.$invalid ">
                                            <i class="fa fa-check "></i> Submit</a>
                                        <a href="javascript:; " class="btn red " data-dismiss="modal ">
                                            <i class="fa fa-times "></i> Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="add_assessment " class="modal fade " role="dialog ">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header " style="border:0 ">
                <button type="button " class="close " data-dismiss="modal ">&times;</button>
                <div class="error " style="display:none ">
                    <label id="rowdata "></label>
                </div>
            </div>
            <div class="modal-body ">
                <div class="portlet light bordered " id="form_wizard_2 " style="margin-bottom:0 ">
                    <div class="portlet-title ">
                        <div class="caption font-red-sunglo ">
                            <i class="icon-user font-red-sunglo "></i>
                            <span class="caption-subject bold uppercase "> Add Assessment</span>
                        </div>
                    </div>

                    <div class="portlet-body form ">
                        <form name="add_assessment " class="form-horizontal " ng-submit="add_assessment() " novalidate>
                            <!-- BEGIN FORM-->
                            <div class="form-body ">

                                <div class="row ng-hide ">
                                    <div class="col-sm-12 ">
                                        <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_assessment.assessmentid.$invalid && !add_assessment.assessmentid.$pristine } ">
                                            <label class="col-sm-3 control-label text-uppercase ">Assessment Id</label>
                                            <div class="col-sm-8 ">
                                                <input type="text " name='assessmentid' class="form-control " ng-model="add_assessment.assessment_id " required>
                                                <p ng-show="add_assessment.assessmentid.$invalid && !add_assessment.assessmentid.$pristine " class="help-block ">Assessment ID is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-sm-12 ">
                                        <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_assessment.assessmentname.$invalid && !add_assessment.assessmentname.$pristine } ">
                                            <label class="col-sm-3 control-label text-uppercase ">Assessmant Name</label>
                                            <div class="col-sm-8 ">
                                                <input type="text " name='assessmentname' class="form-control " ng-model="v.assessment_name " required>
                                                <p ng-show="add_assessment.assessmentname.$invalid && !add_assessment.assessmentname.$pristine " class="help-block ">Assessmant Name is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-sm-12 ">
                                        <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_assessment.assessenttype.$invalid && !add_assessment.assessenttype.$pristine } ">
                                            <label class="col-sm-3 control-label text-uppercase ">Assessmant Type</label>
                                            <div class="col-sm-8 ">
                                                <select class="form-control " name='assessenttype' ng-model="add_assessment.assessment_type " ng-change=" " required>
                                                    <option ng-option selected=" " disabled=" " value=" ">Select Training Type</option>
                                                    <option ng-option value="generic ">Generic Assessment</option>
                                                    <option ng-option value="technology ">Technology Assessment</option>
                                                    <option ng-option value="product ">Product Assessment</option>
                                                </select>
                                                <p ng-show="add_assessment.assessenttype.$invalid && !add_assessment.assessenttype.$pristine " class="help-block ">Assessmant Type is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="add_assessment.assessment_type=='product' ">
                                    <div class="row ">
                                        <div class="col-sm-12 ">
                                            <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_assessment.product_assessment.$invalid && !add_assessment.product_assessment.$pristine } ">
                                                <label class="col-sm-3 control-label text-uppercase ">Product Category</label>
                                                <div class="col-sm-8 ">
                                                    <select class="form-control " name='product_assessment' ng-model="add_assessment.product " ng-change=" " required>
                                                        <option ng-option selected=" " disabled=" " value=" ">Select Product Category</option>
                                                    </select>
                                                    <p ng-show="add_assessment.product_assessment.$invalid && !add_assessment.product_assessment.$pristine " class="help-block ">Product Category is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-sm-12 ">
                                            <div class="form-group form-md-line-input " ng-class="{ 'has-error' : add_assessment.category_assessment.$invalid && !add_assessment.category_assessment.$pristine } ">
                                                <label class="col-sm-3 control-label text-uppercase ">Sub Category</label>
                                                <div class="col-sm-8 ">
                                                    <select class="form-control " name='category_assessment' ng-model="add_assessment.category " ng-change=" " required>
                                                        <option ng-option selected=" " disabled=" " value=" ">Select Sub Category</option>
                                                    </select>
                                                    <p ng-show="add_assessment.category_assessment.$invalid && !add_assessment.category_assessment.$pristine " class="help-block ">Product Category is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions ">
                                <div class="row text-center ">
                                    <div class=" ">
                                        <a href="javascript:; " class="btn blue " ng-disabled="add_assessment.$invalid ">
                                            <i class="fa fa-check "></i> Submit</a>
                                        <a href="javascript:; " class="btn red " data-dismiss="modal ">
                                            <i class="fa fa-times "></i> Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- End of Add Training Content -->
<!-- display sample template -->
<!-- Modal -->
<div id="sample_temp" class="modal fade" role="dialog ">
    <div class="modal-dialog modal-md ">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal ">&times;</button>
                <h4 class="modal-title ">The excel sheet should be like this! </h4>
            </div>
            <div class="modal-body ">
                <!-- <img src="assets/images/correct_excel.png " style="width: 548px;align-self: center; "> -->
                <!--<img src="/assets/images/excel.png " alt="Sample user excel ">-->
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal ">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- end sample template-->
<div id="view_projects" class="modal fade" role="dialog ">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-dismiss="modal ">&times;</button>
                <h4 class="modal-title" style="color:#000 !important "> Project WBS </h4>
            </div>
            <div class="modal-body">
                <div id="tree_sample" ng-model="load_tree " name="load_trees "></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal ">Close</button>
            </div>
        </div>

    </div>
</div>