<style>
    .has-error {
        color: red;
    };
    .has-success {
        color: black;
    };
    .pac-container{
        z-index:999999;
    };
</style>
<div class="page-container">
    <span ng-include="global.sidebar"></span>
    <!-- BEGIN CONTENT -->
    <div class="page-content">
        <!-- BEGIN CONTENT BODY -->
        <div ng-include="global.navUrl"></div>
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2>Spare Management</h2>
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">            
            <div class="row pull-right" style="margin-bottom:1%">
                <!-- <div class="btn-group">
                    <button id="sample_editable_1_new" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#bulk_spare" data-backdrop="static" data-keyboard="false"> Bulk Upload
                        <i class="fa fa-upload"></i>
                    </button>
                </div> -->
                <div class="btn-group">
                    <button id="sample_editable_1_new" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#spare" data-backdrop="static" data-keyboard="false"> Add Spare
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">                                  
                    <div class="panel panel-success panel-hidden-controls">
                        <div class="panel-heading">
                            <h3 class="panel-title">Spare</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered" datatable="ng">
                                <thead>
                                    <tr>
                                        <th> Spare Code </th>
                                        <th> Spare Name </th>
                                        <th> Product Category </th>
                                        <th> Spare Image </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>      
                                    <tr ng-repeat="getspares in getspare">
                                        <td>{{getspares.spare_code}}</td>
                                        <td>{{getspares.spare_name}}</td>
                                        <td>{{getspares.category}}</td>
                                        <td style="text-align: center; ">                                                                                        
                                            <button class="btn btn-success btn-rounded" ng-click="view_spare(getspares.image)"><i class="fa fa-camera"></i></button>
                                        </td>
                                        <td>
                                                <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-rounded" ng-click="edit_spare(getspares)"><i class="fa fa-edit"></i> Edit </button>
                                                        <button type="button" class="btn btn-danger btn-rounded" ng-click="delete_spare(getspares.id)"><i class="fa fa-trash-o"></i> Delete </button>
                                                </div>
                                            <!-- <button class="btn btn-info btn-rounded" ng-click="edit_spare(getspares)">
                                                Edit
                                            </button>
                                            <button class="btn btn-danger btn-rounded" ng-click="delete_spare(getspares.id)">
                                                Delete
                                            </button> -->
                                        </td>
                                    </tr>                                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>


<!--Add Spare Model -->
<div id="spare" class="modal fade" role="dialog">
    <div class="modal-dialog">
            <div class="panel panel-info" id="form_wizard_2" style="margin-bottom:0">
                <div class="panel-heading">
                    <h3 class="panel-title" style="color: black;">Add New Spare</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="error" style="display:none">
                            <label id="rowdata"></label>
                        </div>
                </div>
                <div class="panel-body">
                    <form name="insert_spare" id='insert_spare' class="form-horizontal" ng-submit="insertspare()" novalidate>
                        <div ng-if="errorMessage" class="error">
                            <p>{{ errorMessage }}</p>
                        </div>
                        <!-- BEGIN FORM-->
                        <div class="form-body">
                            <div class="row form-group ng-hide">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label" for="form_control_1">ID</label>
                                        <div class="col-md-9">
                                            <input type="text" name='ids' class="form-control" ng-model="insert_spare.id">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group ng-hide">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.s_id.$invalid && !insert_spare.s_id.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Spare ID</label>
                                        <div class="col-md-9">
                                            <input type="text" name='s_id' class="form-control" ng-model="insert_spare.spare_id">
                                            <p ng-show="insert_spare.s_id.$invalid && !insert_spare.s_id.$pristine" class="help-block">Spare Code is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.spareid.$invalid && !insert_spare.spareid.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Spare Code</label>
                                        <div class="col-md-9">
                                            <input type="text" name='spareid' class="form-control" ng-model="insert_spare.spare_code" required>
                                            <p ng-show="insert_spare.spareid.$invalid && !insert_spare.spareid.$pristine" class="help-block">Spare Code is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.sparename.$invalid && !insert_spare.sparename.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Spare Name</label>
                                        <div class="col-md-9">
                                            <input type="text" name='sparename' class="form-control" ng-model="insert_spare.spare_name" required>
                                            <p ng-show="insert_spare.sparename.$invalid && !insert_spare.sparename.$pristine" class="help-block">Spare Name is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.sparedesc.$invalid && !insert_spare.sparedesc.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Spare Desc</label>
                                        <div class="col-md-9">
                                            <input type="text" name='sparedesc' class="form-control" ng-model="insert_spare.spare_desc" required>
                                            <p ng-show="insert_spare.sparedesc.$invalid && !insert_spare.sparedesc.$pristine" class="help-block">Spare Description is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.sparemodel.$invalid && !insert_spare.sparemodel.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Spare Modal</label>
                                        <div class="col-md-9">
                                            <input type="text" name='sparemodel' class="form-control" ng-model="insert_spare.spare_modal" required>
                                            <p ng-show="insert_spare.sparemodel.$invalid && !insert_spare.sparemodel.$pristine" class="help-block">Spare Model is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.sparelocation.$invalid && !insert_spare.sparelocation.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Spare Location</label>
                                        <div class="col-md-9">
                                            <input type="text" name='sparelocation' class="form-control" ng-model="insert_spare.spare_location" required>
                                            <p ng-show="insert_spare.sparelocation.$invalid && !insert_spare.sparelocation.$pristine" class="help-block">Spare Location is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.product.$invalid && !insert_spare.product.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Category</label>
                                        <div class="col-md-9" id="load_supportid">
                                                <input type="text" name='product' class="form-control" ng-model="insert_spare.category" required ng-click="change_intoselect()">
                                            <p ng-show="insert_spare.product.$invalid && !insert_spare.product.$pristine" class="help-block">Category is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group ng-hide">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label" for="form_control_1">Category</label>
                                        <div class="col-md-9">
                                                <input type="text" name='category_id' class="form-control" ng-model="insert_spare.cat_id">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.sparepurchase.$invalid && !insert_spare.sparepurchase.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Purchase Date</label>
                                        <div class="col-md-9">
                                            <datepicker date-format="yyyy-MM-dd">
                                                <input type="text" name='sparepurchase' class="form-control" ng-model="insert_spare.p_date" required>
                                            </datepicker>
                                            <!-- <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker> -->
                                            <p ng-show="insert_spare.sparepurchase.$invalid && !insert_spare.sparepurchase.$pristine" class="help-block">Spare Purchase date is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label" for="form_control_1">Expiry Date</label>
                                        <div class="col-md-9">
                                            <datepicker date-format="yyyy-MM-dd">
                                                <input type="text" name='spareexpairy' class="form-control" ng-model="insert_spare.expiry_date">
                                            </datepicker>                                            
                                            <!-- <p ng-show="insert_spare.spareexpairy.$invalid && !insert_spare.spareexpairy.$pristine" class="help-block">Expairy Date is required.</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.spareprice.$invalid && !insert_spare.spareprice.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Price</label>
                                        <div class="col-md-9">
                                            <input type="text" name='spareprice' class="form-control" ng-model="insert_spare.price" required>
                                            <p ng-show="insert_spare.spareprice.$invalid && !insert_spare.spareprice.$pristine" class="help-block">Spare Price is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.spareqpurchase.$invalid && !insert_spare.spareqpurchase.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Quantity Purchased</label>
                                        <div class="col-md-9">
                                            <input type="text" name='spareqpurchase' class="form-control" ng-model="insert_spare.quantity_purchased" ng-pattern="/^[0-9]/"
                                                required>
                                            <div ng-if="insert_spare.spareqpurchase.$dirty" ng-messages="insert_spare.spareqpurchase.$error">
                                                <div class="error-message" ng-message="required">Required!</div>
                                                <div class="error-message" ng-message="pattern">Invalid Value!</div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_spare.spare_image.$invalid && !insert_spare.spare_image.$pristine }">
                                        <label class="col-md-3 control-label" for="form_control_1">Spare Image</label>
                                        <div class="col-md-9">
                                            <input type="file" name='spare_image' class="form-control" file-model="insert_spare.spareimage" required>
                                            <p ng-show="insert_spare.spare_image.$invalid && !insert_spare.spare_image.$pristine" class="help-block">Spare Image is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="row form-group ng-hide">
                                <div class="container-fluid">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label" for="form_control_1">Spare Images</label>
                                        <div class="col-md-9">
                                            <input type="text" name='spareimage' class="form-control" ng-model="insert_spare.image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row text-center">
                                <div class="">
                                    <button class="btn sm btn-info btn-rounded" ng-disabled="insert_spare.$invalid" type="submit" id="submit">
                                        <i class="fa fa-check"></i> Submit</button>
                                    <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                        <i class="fa fa-times"></i> Cancel</a>
                                        
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            
            </div>
    </div>
            
</div>
<div id="view_image" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ image }}" class="img-responsive" width="100%" height="100%" alt="Spare Image" />                        
                </div>        
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
        </div>
        
    </div>
</div>