<span ng-include="global.sidebar">
</span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <!-- BEGIN CONTENT BODY -->
    <div ng-include="global.navUrl"></div>
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Contract Master</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                        <div class="panel panel-success panel-hidden-controls">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Support Category</h3>
                                </div>
                                <div class="panel-body">
                                    <button type="button" class="col-md-2 btn btn-primary btn-rounded" data-toggle="modal" data-target="#excel_supporttype" style="
                                    margin-top: 23px;">
                                            Bulk Upload &nbsp; <i class="fa fa-upload"></i>
                                    </button>  
                                    <button class="col-md-offset-1 btn btn-primary btn-rounded" data-toggle="modal" data-target="#new_support" style="margin-top: 23px;">
                                        Add Support Category
                                    </button>
                                    <form name="sup_cat" id="sup_cat" class="form-horizontal col-md-9 pull-right" ng-submit="insertsup_category()" novalidate style="margin:2% 0%">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                        <label class="col-md-5 control-label" for="form_control_1">Support Category</label>
                                                        <div class="col-md-7 pull-right form-group form-md-line-input" ng-class="{ 'has-error' : sup_cat.support_type.$invalid && !sup_cat.support_type.$pristine }">
                                                                <input type="text" class="form-control" name="support_type" ng-model="sup_cat.support_typ" placeholder="Enter Support Category" required>
                                                                <p ng-show="sup_cat.support_type.$invalid && !sup_cat.support_type.$pristine" class="help-block">Support Category is required.</p>
                                                        </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-md-line-input">
                                                        <label class="col-md-3 control-label" for="form_control_1"></label>
                                                        <div class="col-md-9">
                    
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="sup_cat.$invalid || sup_cat.$pristine"><span class="fa fa-plus"></span> Add Support Category</button>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                                   
                                    </form>
                                    </hr>
                                    <table class="table table-striped table-bordered text-center" datatable="ng">
                                        <thead>
                                            <tr>
                                                <th class="text-center"> ID </th>
                                                <th class="text-center"> Support Category</th>
                                                <th class="text-center"> Last update </th>
                                                <th class="text-center"> Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sup_types in support_type">
                                                <td>
                                                    <!-- <a ng-click="view_users(customers)">{{customers.id}}</a> -->
                                                    {{sup_types.id}}
                                                </td>
                                                <td>{{sup_types.support_category}}</td>
                                                <td>{{sup_types.updated_at}}</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-info btn-rounded" ng-click="edit_suptype(sup_types)">
                                                            <i class="fa fa-edit"></i> Edit </button>
                                                        <button class="btn btn-danger btn-rounded" ng-click="delete_suptype(sup_types.id)">
                                                            <i class="fa fa-trash-o"></i> Delete </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>                    
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->


<!--edit support-->
<div id="support_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:#000">Edit Support Category</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline row" name="edit_support" id='edit_support' ng-submit="update_support()" novalidate>
                        <div class="form-body">
                                <div class="form-group ng-hide">
                                    <label for="owner_types">Owner Type:</label>
                                        <input type="text" class="form-control" name="idsup" ng-model="edit_support.id" placeholder="Enter type of owner" required>
                                        <p ng-show="edit_support.idsup.$invalid && !edit_support.idsup.$pristine" class="help-block">Owner Type is required.</p>
                                </div>
                                <div class="row">
                                        <label class="col-md-4" for="owner_types">Support Category:</label>
                                       
                                        <div class="col-md-8 form-group form-md-line-input" ng-class="{ 'has-error' : edit_support.support_name.$invalid && !edit_support.support_name.$pristine }">
                                                <input type="text" class="form-control col-md-12" name="support_name" ng-model="edit_support.support_category" placeholder="Enter type of owner" required>
                                                 <p ng-show="edit_support.support_name.$invalid && !edit_support.support_name.$pristine" class="help-block">Owner Type is required.</p>
                                            </div>
                                        <!--<button type="submit" class="btn btn-danger btn-rounded col-md-2" ng-disabled="edit_support.$invalid || edit_support.$pristine">
                                            <span class="fa fa-plus"></span> Update</button>-->
                                    
                                </div>
                        </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row text-right">
                                <div class="">
                                    <button type="submit" class="btn btn-info btn-rounded" ng-disabled="edit_support.$invalid || edit_support.$pristine">
                                        <span class="fa fa-plus"></span>
                                         Update
                                    </button> 
                                    <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                        <i class="fa fa-times"></i> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>-->
            </div>
        </div>
</div>

<!--Support type bulk upload-->
<div id="excel_supporttype" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"style="color:  black;"> Bulk Upload</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" class="form-horizontal">                                        
                    <div class="form-group">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="col-md-6">
                                            <button type="button" class="btn btn-success" ng-click="support_type()">View Sample File</button>
                                    </div>
                                    <div class="col-md-6">
                                            <!-- <a href="<downloadLink>" download="fileName">Download</a>-->
                                            <a href="assets/files/excel/support_excel.xlsx" download><button type="button"  class="btn btn-success">Download Sample Template</button></a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="file" multiple class=" form-control file" id="support_file" file-model="sup_File" data-preview-file-type="any"/>
                                </div>
                                <div class="col-md-3">
                                        <label class="control-label"></label>
                                    <button type="button" class="btn btn-primary" ng-click="upload_supexcel()">
                                        <i class="fa fa-plus"></i>Upload
                                    </button>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
</div>
<!--image-->
<div id="image_support" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
            <p>The excel sheet should be like this! </p>
            <div class="row" id="attach_excel" style ="width:200px; height:500px">
                <img src="assets/img/support_example.png" alt="Sample user excel">
                </img>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
</div>

<!-- New support category -->
<div id="new_support" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Support Category</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-3" for="owner_types">Category</label>                           
                    <div class="col-md-9 form-group form-md-line-input" ng-class="{ 'has-error' : edit_support.support_name.$invalid && !edit_support.support_name.$pristine }">
                            <input type="text" class="form-control col-md-12" name="support_name" ng-model="edit_support.support_category" placeholder="Enter Categoryr" required>
                            <p ng-show="edit_support.support_name.$invalid && !edit_support.support_name.$pristine" class="help-block">Owner Type is required.</p>
                    </div>                            
                </div>
                <br>
                <div class="row">
                    <label class="col-md-3 control-label">Sub-Category</label>
                    <div class="col-md-9">
                            <tags-input ng-model="tags"></tags-input>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="col-md-3 control-label">Priority</label>
                    <div class="col-md-9">
                        <select class="form-control" name='regions' ng-model="insert_user.region" required>
                            <option selected="" disabled="" value="">Select Priority</option>
                            <option ng-option value="P1">P1</option>
                            <option ng-option value="P2">P2</option>
                            <option ng-option value="P3">P3</option>
                            <option ng-option value="P4">P4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>