<style>
    .has-error {
        color: red;
    }
    
    ;
    .has-success {
        color: black;
    }
    
    ;
    .pac-container {
        z-index: 999999;
    }
    
    embed.pdfobject {
        height: 500px !important;
    }
    
    ;
</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <!-- BEGIN CONTENT BODY -->
    <div ng-include="global.navUrl"></div>
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            Training Management</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success panel-hidden-controls">
                    <div class="panel-heading">
                        <h3 class="panel-title">Upload Training Content</h3>
                    </div>
                    <div class="row pull-right">.
                        <div class="col-lg-12">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#training" data-backdrop="static" data-keyboard="false"> Add Training
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped table-bordered" datatable="ng">
                            <thead>
                                <tr>
                                    <th> Training Title </th>
                                    <th> Training Type </th>
                                    <th> Product Category </th>
                                    <th> View File </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="trainings in training">
                                    <td>
                                        {{trainings.title}}
                                    </td>
                                    <td>
                                        <p ng-if="trainings.type == 'generic'"> Generic Training </p>
                                        <p ng-if="trainings.type == 'technology'"> Technology Training</p>
                                        <p ng-if="trainings.type == 'product'"> Product Training</p>
                                    </td>
                                    <td>
                                        <p ng-if="trainings.type == 'product'"> {{trainings.productcategory}}</p>
                                        <p ng-if="trainings.type != 'product'"> -</p>

                                    </td>

                                    <td>
                                        <p ng-if="trainings.contenttype == 'pdf'">
                                            <a ng-click="view(trainings)">
                                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </p>
                                        <p ng-if="trainings.contenttype == 'video'">
                                            <a ng-click="view(trainings)">
                                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </p>
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-rounded" ng-click="edit_training(trainings)">
                                            <i class="fa fa-edit"></i> Edit </button>
                                        <button class="btn btn-danger btn-rounded" ng-bootbox-confirm="Do you realy want to delete this training?" ng-bootbox-confirm-action="delete_training(trainings.id)">
                                            <i class="fa fa-trash-o"></i> Delete </button>

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<!--Add User Model -->
<div id="training" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Add Training</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="insert_trai" id='insert_trai' class="form-horizontal" ng-submit="inserttraining()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.title.$invalid && !insert_trai.title.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Title</label>
                                <div class="col-md-9">
                                    <input type="text" name='title' class="form-control" ng-model="insert_trai.trai_title" required>
                                    <p ng-show="insert_trai.title.$invalid && !insert_trai.title.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.type.$invalid && !insert_trai.type.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="insert_trai.trai_type">
                                        <option selected disabled>Select Training Type</option>
                                        <option value="generic">Generic Training</option>
                                        <option value="technology">Technology Training</option>
                                        <option value="product">Product</option>
                                    </select>
                                    <p ng-show="insert_trai.type.$invalid && !insert_trai.type.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="insert_trai.trai_type == 'product'">
                            <br>
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.product.$invalid && !insert_trai.product.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Product Category</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="insert_trai.productcategory">
                                        <option ng-repeat="x in get_supportmodel" value="{{x.support_category}}">{{x.support_category}}</option>                                        
                                    </select>
                                    <p ng-show="insert_trai.product.$invalid && !insert_trai.product.$pristine" class="help-block">Product Category is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.contenttype.$invalid && !insert_trai.contenttype.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Content Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="contenttype" name="contenttype" ng-model="insert_trai.trai_contenttype">
                                        <option selected disabled>Select Content Type</option>
                                        <option value="pdf">PDF</option>
                                        <option value="video">Video</option>
                                    </select>
                                    <p ng-show="insert_trai.contenttype.$invalid && !insert_trai.contenttype.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_trai.contentfile.$invalid && !insert_trai.contentfile.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Upload File</label>
                                <div class="col-md-9">
                                    <input type="file" name='contentfile' class="form-control" file-model="insert_trai.contentfile" required>
                                    <p ng-show="insert_trai.contentfile.$invalid && !contentfile.contenttype.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <button class="btn sm btn-info btn-rounded" ng-disabled="insert_trai.$invalid" type="submit" id="submit">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>

</div>

<!--edit User Model -->
<div id="edit_training" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Edit Training</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="edit_trai" id='edit_trai' class="form-horizontal" ng-submit="updatetraining()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row ng-hide">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.id.$invalid && !edit_trai.id.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Id</label>
                                <div class="col-md-9">
                                    <input type="text" name='id' class="form-control" ng-model="edit_trai.id" required>
                                    <p ng-show="edit_trai.id.$invalid && !edit_trai.id.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row ng-hide">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.id.$invalid && !edit_trai.id.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Training ID</label>
                                <div class="col-md-9">
                                    <input type="text" name='training_id' class="form-control" ng-model="edit_trai.training_id" required>
                                    <p ng-show="edit_trai.id.$invalid && !edit_trai.id.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.title.$invalid && !edit_trai.title.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Title</label>
                                <div class="col-md-9">
                                    <input type="text" name='title' class="form-control" ng-model="edit_trai.title" required>
                                    <p ng-show="edit_trai.title.$invalid && !edit_trai.title.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.type.$invalid && !edit_trai.type.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="edit_trai.type">
                                        <option selected disabled>Select Training Type</option>
                                        <option value="generic">Generic Training</option>
                                        <option value="technology">Technology Training</option>
                                        <option value="product">Product</option>
                                    </select>
                                    <p ng-show="edit_trai.type.$invalid && !edit_trai.type.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="edit_trai.type == 'product'">
                            <br>
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.product.$invalid && !edit_trai.product.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Product Category</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="type" name="type" ng-model="edit_trai.productcategory">                    
                                        <option ng-repeat="x in get_supportmodel" value="{{x.support_category}}">{{x.support_category}}</option>
                                    </select>
                                    <p ng-show="edit_trai.product.$invalid && !edit_trai.product.$pristine" class="help-block">Product Category is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.contenttype.$invalid && !edit_trai.contenttype.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Content Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="contenttype" name="contenttype" ng-model="edit_trai.contenttype">
                                        <option selected disabled>Select Content Type</option>
                                        <option value="pdf">PDF</option>
                                        <option value="video">Video</option>
                                    </select>
                                    <p ng-show="edit_trai.contenttype.$invalid && !edit_trai.contenttype.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.contentfile.$invalid && !edit_trai.contentfile.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Upload File</label>
                                <div class="col-md-9">
                                    <input type="file" name='contentfile' class="form-control" file-model="edit_trai.contentfile" required>
                                    <p ng-show="edit_trai.contentfile.$invalid && !contentfile.contenttype.$pristine" class="help-block">Training Title is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row ng-hide">
                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : edit_trai.contentfile.$invalid && !edit_trai.contentfile.$pristine }">
                                <label class="col-md-3 control-label" for="form_control_1">Uploaded File</label>
                                <div class="col-md-9">
                                    <input type="text" name='content' class="form-control" ng-model="edit_trai.content">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <button class="btn sm btn-info btn-rounded" ng-disabled="edit_trai.$invalid" type="submit" id="submit">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>

</div>

<!--view sample template-->
<div id="sample_image" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>The excel sheet should be like this! </p>
                <div class="row" id="attach_excel" style="width:200px; height:500px">
                    <img src="assets/img/users_sample.png" alt="Sample user excel">
                    </img>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="sla_confirm" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="col-sm-12" id="sla_detail_confirm" height="100%">
        </div>
        <!-- Modal content-->
        <!-- <div class="modal-content">
                <div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="add_subproduct">
                        <div class="form-group">
                            
                        </div>
                    </form>
                </div>
            </div> -->
    </div>
</div>