







<style>
    .pac-container{
        z-index:999999;
    };
</style>

<span ng-include="global.sidebar"></span>
<!-- BEGIN CONTENT -->
<div class="page-content">
    <div ng-include="global.navUrl"></div>
    <!-- BEGIN CONTENT BODY -->
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>User Roles</h2>
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <!-- START PANEL WITH HIDDEN CONTROLS -->
                <div class="panel panel-success panel-hidden-controls">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Role</h3>
                        <!-- <button class="btn btn-danger btn-rounded pull-right" ng-click="model1_open()"><span class="fa fa-plus"></span> Add Customer Type</button> -->
                    </div>
                    <div class="panel-body">
                        <form class="form-inline pull-right" name="insert_u" id='insert' ng-submit="insert_userrole()" novalidate style="margin:2% 0%">
                            <div class="form-group">
                                <label for="owner_types">User Role</label>
                                <input type="text" class="form-control" name="ownertypes" ng-model="insert.ownertype" placeholder="Enter type of User">
                                <p ng-show="insert.ownertypes.$invalid && !insert.ownertypes.$pristine" class="help-block">User Role is required.</p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert_u.$invalid || insert_u.$pristine">
                                    <span class="fa fa-plus"></span> Add User Role</button>
                            </div>
                        </form>
                        </hr>                            
                        <table class="table table-striped table-bordered text-center" datatable="ng">
                            <thead>
                                <tr>
                                    <th class="text-center"> ID </th>
                                    <th class="text-center"> User Role </th>
                                    <th class="text-center"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customers in role_types">
                                    <td>
                                        <!-- <a ng-click="view_users(customers)">{{customers.id}}</a> -->
                                        {{customers.id}}
                                    </td>
                                    <td>{{customers.user_roles}}</td>
                                    <td>
                                        <button class="btn btn-info btn-rounded" ng-click="edit_owner(customers)">
                                            <i class="fa fa-edit"></i> Edit </button>
                                        <button class="btn btn-danger btn-rounded" ng-click="delete_owner(customers.id)">
                                            <i class="fa fa-trash-o"></i> Delete </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="panel-footer">
                        <button class="btn btn-primary pull-right">Button</button>
                    </div> -->
                </div>
                
                <!-- END PANEL WITH HIDDEN CONTROLS -->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->


<!--Edit Owner Model -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#000">Edit User Role</h4>
            </div>
            <div class="modal-body">
                <!-- <div class="">
                    <form class="form-inline row" name="insert_customers" id='insert_customers' ng-submit="updateownertype()" novalidate>
                        <div class="form-group ng-hide">
                            <label for="owner_types">Owner Type:</label>
                            <input type="text" class="form-control" name="ids" ng-model="insert_customers.id" placeholder="Enter type of owner">
                            <p ng-show="insert_customers.ids.$invalid && !insert_customers.ids.$pristine" class="help-block">Owner Type is required.</p>
                        </div>
                        <div class="form-group col-sm-8">
                            <label for="owner_types">Owner Type:</label>
                            <input type="text" class="form-control" name="ownertypes" ng-model="insert_customers.customer_type" placeholder="Enter type of owner">
                            <p ng-show="insert_customers.ownertypes.$invalid && !insert_customers.ownertypes.$pristine" class="help-block">Owner Type is required.</p>
                        </div>
                        <div class="form-group col-sm-4 pull-right">
                            <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert_customers.$invalid || insert_customers.$pristine">
                                <span class="fa fa-plus"></span> Update Owner Type</button>
                        </div>
                    </form>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Add User Model -->
<div id="add_user" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#000">Edit Owner Type</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <!-- <form class="form-inline row" name="insert_customer" id='insert_customer' ng-submit="updateownertype()" novalidate>
                        <div class="form-group ng-hide">
                            <label for="owner_types">Owner Type:</label>
                            <input type="text" class="form-control" name="ids" ng-model="insert_customer.id" placeholder="Enter type of owner">
                            <p ng-show="insert_customer.ids.$invalid && !insert_customer.ids.$pristine" class="help-block">Owner Type is required.</p>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="owner_types">Owner Type:</label>
                            <input type="text" class="form-control" name="ownertypes" ng-model="insert_customer.customer_type" placeholder="Enter type of owner">
                            <p ng-show="insert_customer.ownertypes.$invalid && !insert_customer.ownertypes.$pristine" class="help-block">Owner Type is required.</p>
                        </div>
                        <div class="form-group col-sm-6">
                            <button type="submit" class="btn btn-danger btn-rounded" ng-disabled="insert_customer.$invalid || insert_customer.$pristine">
                                <span class="fa fa-plus"></span> Update Owner Type</button>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Customer Model -->
<div id="add_customer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1100px !important">
        <div class="panel panel-info" id="form_wizard_2" style="margin-bottom:0">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Add Customer</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <form name="insert_customer" id='insert_customer' class="form-horizontal" ng-submit="insertcus()" novalidate>
                    <div ng-if="errorMessage" class="error">
                        <p>{{ errorMessage }}</p>
                    </div>
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_name.$invalid && !insert_customer.cus_name.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" name='cus_name' class="form-control" ng-model="insert_customer.name" required>
                                        <p ng-show="insert_customer.cus_name.$invalid && !insert_customer.cus_name.$pristine" class="help-block">Customer Name is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_email.$invalid && !insert_customer.cus_email.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Email</label>
                                    <div class="col-md-9">
                                        <input type="email" name='cus_email' class="form-control" ng-model="insert_customer.email" required>
                                        <p ng-show="insert_customer.cus_email.$invalid && !insert_customer.cus_email.$pristine" class="help-block">Customer Email is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_number.$invalid && !insert_customer.cus_number.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Phone Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='cus_number' class="form-control" ng-model="insert_customer.number" required>
                                        <p ng-show="insert_customer.cus_number.$invalid && !insert_customer.cus_number.$pristine" class="help-block">Enter a valid Email ID.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_altno.$invalid && !insert_customer.cus_altno.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Alternate Number</label>
                                    <div class="col-md-9">
                                        <input type="text" name='cus_altno' id='cus_altno' class="form-control" ng-model="insert_customer.altno" required>
                                        <p ng-show="insert_customer.cus_altno.$invalid && !insert_customer.cus_altno.$pristine" class="help-block">Last Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_owner.$invalid && !insert_customer.cus_owner.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Owner Type</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="insert_customer.cus_owner" required>
                                            <option ng-repeat="customers in customer" value="{{customers.customer_type}}">{{customers.customer_type}}</option>
                                        </select>
                                        <p ng-show="insert_customer.cus_owner.$invalid && !insert_customer.cus_owner.$pristine" class="help-block">Select Owner Type.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.cus_address.$invalid && !insert_customer.cus_address.$pristine }">
                                    <label class="col-sm-1 control-label" for="form_control_1">Address</label>
                                    <div class="col-sm-11">
                                        <input type="text" name='cus_address' class="form-control" ng-model="insert_customer.address" required vs-google-autocomplete>
                                        <p ng-show="insert_customer.cus_address.$invalid && !insert_customer.cus_address.$pristine" class="help-block">Customer Address is Mandatory.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="" id="file_append">
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.id_details.$invalid && !insert_customer.id_details.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Type of ID</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name='id_details' ng-model="insert_customer.id" required>
                                            <option selected="" disabled="" value="">Select Region</option>
                                            <option ng-option value="national_id">National ID</option>
                                            <option ng-option value="passport">Passport Details</option>
                                            <option ng-option value="visa_details">VISA Details</option>
                                            <option ng-option value="commercial_licence">Commercial Licence</option>
                                            <option ng-option value="ded_registration">DED Registration Details</option>
                                            <option ng-option value="ejari_registration">Ejari Registration Details</option>
                                        </select>
                                        <p ng-show="insert_customer.id_details.$invalid && !insert_customer.id_details.$pristine" class="help-block">Choose any one ID.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-switch="insert_customer.id">
                            <div ng-switch-when="national_id" id="nationalllid">
                                <div class="row form-group nat_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">National ID</label>
                                            <div class="col-md-9">
                                                <input type="text" name='national_number' class="form-control" ng-model="insert_customer.national_no" required>
                                                <p ng-show="insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine" class="help-block">Enter a valid National ID.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_expairy.$invalid && !insert_customer.national_expairy.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expairy date</label>
                                            <div class="col-md-9">
                                                <input type="text" name='national_expairy' class="form-control" ng-model="insert_customer.national_expairydate" datetime-picker
                                                    date-only date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.national_expairy.$invalid && !insert_customer.national_expairy.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.myFile.$invalid && !insert_customer.myFile.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File</label>
                                            <div class="col-md-9">
                                                <input type="file" name='myFile' id='national_files' class="form-control" file-model="$parent.myFile" required>
                                                <p ng-show="insert_customer.myFile.$invalid && !insert_customer.myFile.$pristine" class="help-block">National files are required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group nat_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_nationalid()"> Attach </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="passport" id="passport_id">
                                <div class="row form-group pas_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.passport_number.$invalid && !insert_customer.passport_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Passport Number</label>
                                            <div class="col-md-9">
                                                <input type="text" name='passport_number' class="form-control" ng-model="insert_customer.passport_no" required>
                                                <p ng-show="insert_customer.passport_number.$invalid && !insert_customer.passport_number.$pristine" class="help-block">Enter a valid Passport Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.passport_date.$invalid && !insert_customer.passport_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expairy date</label>
                                            <div class="col-md-9">
                                                <input type="text" name='passport_date' class="form-control" ng-model="insert_customer.passport_xdate" datetime-picker date-only
                                                    date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.passport_date.$invalid && !insert_customer.passport_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.passport_file.$invalid && !insert_customer.passport_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File</label>
                                            <div class="col-md-9">
                                                <input type="file" name='passport_file' class="form-control" id='passport_file' file-model='$parent.passFile'>
                                                <p ng-show="insert_customer.passport_file.$invalid && !insert_customer.passport_file.$pristine" class="help-block">Last Name is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group pas_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_passportid()"> Attach </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="visa_details" id="visa_id">
                                <div class="row form-group visa_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.visa_number.$invalid && !insert_customer.visa_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">VISA Number</label>
                                            <div class="col-md-9">
                                                <input type="text" name='visa_number' class="form-control" ng-model="insert_customer.visa_no" required>
                                                <p ng-show="insert_customer.visa_number.$invalid && !insert_customer.visa_number.$pristine" class="help-block">Enter a valid VISA Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.visa_date.$invalid && !insert_customer.visa_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expairy date</label>
                                            <div class="col-md-9">
                                                <input type="text" name='visa_date' class="form-control" ng-model="insert_customer.visa_xdate" datetime-picker date-only
                                                    date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.visa_date.$invalid && !insert_customer.visa_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.visa_file.$invalid && !insert_customer.visa_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File</label>
                                            <div class="col-md-9">
                                                <input type="file" name='visa_file' class="form-control" id='visa_file' file-model='$parent.visafile' required>
                                                <p ng-show="insert_customer.visa_file.$invalid && !insert_customer.visa_file.$pristine" class="help-block">VISA File is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group visa_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_visaid()"> Attach </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="commercial_licence" id="commercial_id">
                                <div class="row form-group commercial_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.commercial_number.$invalid && !insert_customer.commercial_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Commercial Number</label>
                                            <div class="col-md-9">
                                                <input type="text" name='commercial_number' class="form-control" ng-model="insert_customer.commercial_no" required>
                                                <p ng-show="insert_customer.commercial_number.$invalid && !insert_customer.commercial_number.$pristine" class="help-block">Enter a valid Commercial Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.commercial_date.$invalid && !insert_customer.commercial_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expairy date</label>
                                            <div class="col-md-9">
                                                <input type="text" name='commercial_date' class="form-control" ng-model="insert_customer.commercial_xdate" datetime-picker
                                                    date-only date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.commercial_date.$invalid && !insert_customer.commercial_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.commercial_file.$invalid && !insert_customer.commercial_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File</label>
                                            <div class="col-md-9">
                                                <input type="file" name='commercial_file' class="form-control" id='commercial_file' file-model='$parent.commercialfile' required>
                                                <p ng-show="insert_customer.commercial_file.$invalid && !insert_customer.commercial_file.$pristine" class="help-block">Commercial File is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group commercial_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_commercialid()"> Attach </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="ded_registration" id="ded_id">
                                <div class="row form-group ded_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ded_number.$invalid && !insert_customer.ded_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">DED Number</label>
                                            <div class="col-md-9">
                                                <input type="text" name='ded_number' class="form-control" ng-model="insert_customer.ded_no" required>
                                                <p ng-show="insert_customer.ded_number.$invalid && !insert_customer.ded_number.$pristine" class="help-block">Enter a valid DED Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ded_date.$invalid && !insert_customer.ded_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expairy date</label>
                                            <div class="col-md-9">
                                                <input type="text" name='ded_date' class="form-control" ng-model="insert_customer.ded_xdate" datetime-picker date-only date-format="yyyy-MM-dd"
                                                    required>
                                                <p ng-show="insert_customer.ded_date.$invalid && !insert_customer.ded_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ded_file.$invalid && !insert_customer.ded_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File</label>
                                            <div class="col-md-9">
                                                <input type="file" name='ded_file' class="form-control" id='ded_file' file-model='$parent.dedfile' required>
                                                <p ng-show="insert_customer.ded_file.$invalid && !insert_customer.ded_file.$pristine" class="help-block">DED File is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group ded_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_dedid()"> Attach </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="ejari_registration" id="ejari_id">
                                <div class="row form-group ejari_id">
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ejari_number.$invalid && !insert_customer.ejari_number.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">EJARI Number</label>
                                            <div class="col-md-9">
                                                <input type="text" name='ejari_number' class="form-control" ng-model="insert_customer.ejari_no" required>
                                                <p ng-show="insert_customer.ejari_number.$invalid && !insert_customer.ejari_number.$pristine" class="help-block">Enter a valid EJARI Number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ejari_date.$invalid && !insert_customer.ejari_date.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">Expairy date</label>
                                            <div class="col-md-9">
                                                <input type="text" name='ejari_date' class="form-control" ng-model="insert_customer.ejari_xdate" datetime-picker date-only
                                                    date-format="yyyy-MM-dd" required>
                                                <p ng-show="insert_customer.ejari_date.$invalid && !insert_customer.ejari_date.$pristine" class="help-block">Expairy Date is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.ejari_file.$invalid && !insert_customer.ejari_file.$pristine }">
                                            <label class="col-md-3 control-label" for="form_control_1">File</label>
                                            <div class="col-md-9">
                                                <input type="file" name='ejari_file' class="form-control" id='ejari_file' file-model='$parent.ejarifile' required>
                                                <p ng-show="insert_customer.ejari_file.$invalid && !insert_customer.ejari_file.$pristine" class="help-block">EJARI File is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group ejari_id">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.national_number.$invalid && !insert_customer.national_number.$pristine }">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <button class="btn btn-primary pull-right" ng-click="add_ejariid()"> Attach </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.projectname.$invalid && !insert_customer.projectname.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Project</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="projectname" ng-model="insert_customer.project_name" required ng-options="c.project_name for c in project_detail track by c.id"
                                            ng-change="append_tree(project_detail)">
                                        </select>
                                        <p ng-show="insert_customer.projectname.$invalid && !insert_customer.projectname.$pristine" class="help-block">Select a valid Project.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-md-line-input" ng-class="{ 'has-error' : insert_customer.selected_nodes.$invalid && !insert_customer.selected_nodes.$pristine }">
                                    <label class="col-md-3 control-label" for="form_control_1">Selected nodes</label>
                                    <div class="col-md-9">
                                        <input type="text" name='selected_nodes' id="selected_node" class="form-control" ng-model="insert_customer.selected_node" readonly>                                        
                                        <p ng-show="insert_customer.selected_nodes.$invalid && !insert_customer.selected_nodes.$pristine" class="help-block">Wbs Select is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="">
                                <!-- <a href="" class="btn blue" ng-disabled="insert_user.$invalid">
                                                                <i class="fa fa-check" ng-submit="insert_user()"></i> Submit</a> -->
                                <button class="btn sm btn-info btn-rounded" type="submit" id="submit" ng-click="insertcus()" ng-disabled="insert_customer.$invalid || insert_customer.$pristine">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<div id="tree_loading" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-info" id="form_wizard_2" style="margin-bottom:0">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: black;">Select Floor</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="error" style="display:none">
                    <label id="rowdata"></label>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-body">
                    <div id="tree_loaded"></div>
                </div>
                <div class="form-actions">
                    <div class="row text-center">
                        <div class="">
                            <button class="btn sm btn-info btn-rounded" type="submit" id="submit" ng-click="addEventListener()">
                                <i class="fa fa-check"></i> Submit</button>
                            <a href="javascript:;" class="btn sm btn-danger btn-rounded" data-dismiss="modal">
                                <i class="fa fa-times"></i> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
